@charset "UTF-8";
/* Functions */
/* Mixins */
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary,
menu,
main {
  display: block; }

audio, canvas, video, progress {
  display: inline-block;
  vertical-align: middle; }

audio:not([controls]), [hidden], template {
  display: none;
  height: 0; }

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-size: inherit;
  line-height: inherit; }
  *:after, *:before {
    -webkit-box-sizing: inherit;
            box-sizing: inherit; }

:after, :before {
  vertical-align: inherit;
  text-decoration: inherit; }

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility; }

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; }

a {
  background-color: transparent; }
  a:focus {
    outline: thin dotted; }
  a:active, a:hover {
    outline: 0; }

iframe, img, svg {
  vertical-align: middle; }

iframe, embed, object {
  max-width: 100%; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
  margin: 1em 0; }

nav ul, nav ol {
  list-style: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

fieldset, legend {
  border: 0; }

legend {
  white-space: normal;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0; }

select {
  cursor: pointer; }
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000; }

button[disabled], input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  vertical-align: baseline;
  font: inherit;
  background: none;
  border-radius: 0;
  margin: 0; }

button,
input,
select {
  overflow: visible; }

input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  input[type=checkbox], input[type=radio] {
    cursor: pointer;
    padding: 0; }
  input[type=checkbox] {
    -moz-appearance: checkbox;
    -webkit-appearance: checkbox; }
  input[type=radio] {
    -moz-appearance: radio;
    -webkit-appearance: radio; }
  input[type=number] {
    width: auto; }
    input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
      height: auto; }

button,
input[type=button], input[type=reset], input[type=submit] {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  cursor: pointer; }

textarea {
  vertical-align: top;
  overflow: auto;
  resize: vertical;
  -moz-appearance: none;
  -webkit-appearance: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

progress {
  display: inline-block;
  vertical-align: baseline; }

menu {
  margin: 1em 0;
  padding: 0 0 0 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

sup {
  position: relative;
  top: -0.5em;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

/******* GÉNÉRAL *******/

::selection {
  background: #000;
  color: #fff;
  text-shadow: none; }

html {
  font-size: 62.5%;
  /* sets the base font to 10px for easier math */ }
  html.no-scroll {
    position: fixed;
    left: 0;
    right: 0; }

body {
  font: 1.8em/1.6 "sofia-pro", sans-serif;
  letter-spacing: -0.01em;
  background: #f7f2ea;
  color: #404040;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.03em; }

h1,
h2 {
  color: #1e5e32; }

h1 {
  margin: 0 0 0.1em;
  font-size: 4rem;
  line-height: 1.35;
  font-weight: 600; }

h2 {
  margin: 1.85em 0 0;
  font-size: 3.5rem;
  line-height: 1.2; }

h3 {
  margin: 1.6em 0 0;
  font-size: 3rem; }

h4 {
  margin: 2em 0 0;
  font-size: 2.7rem; }

h5 {
  margin: 2em 0 0;
  font-size: 2.5rem; }

h6 {
  margin: 2em 0 0;
  font-size: 2rem; }

p {
  margin: 1.65em 0 0; }
  p + ol,
  p + ul {
    margin-top: 0; }

b,
strong {
  font-weight: 700; }

blockquote {
  position: relative;
  margin: 2.6em 44px 2.2em;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.3; }
  blockquote:before, blockquote:after {
    content: "";
    position: absolute; }
  blockquote:before {
    width: 25px;
    height: 19px;
    top: 3px;
    left: -44px;
    background: url(/wp-content/themes/think/img/quote.svg); }
  blockquote:after {
    width: 19px;
    height: 14px;
    bottom: 4px;
    right: -44px;
    background: url(/wp-content/themes/think/img/quote-end.svg); }

ol,
ul {
  padding: 0;
  margin: 1.65em 0 0;
  list-style: none; }
  ol ul,
  ol ol,
  ul ul,
  ul ol {
    padding: 0 0 0 15px;
    margin: 0 0 1.65em; }

li {
  position: relative; }
  li:before {
    position: absolute;
    left: -15px;
    font-size: 1.3rem;
    font-weight: 700;
    color: #1e5e32; }

ul > li:before {
  content: "";
  width: 5px;
  height: 5px;
  top: 13px;
  border-radius: 50%;
  background: #1e5e32; }

ol {
  counter-reset: ol-counter; }
  ol > li {
    counter-increment: ol-counter; }
    ol > li:before {
      content: counter(ol-counter) ".";
      top: 5px; }

img {
  max-width: 100%;
  height: auto; }

code,
pre {
  display: block;
  padding: 10px 15px;
  margin: 1em 0;
  background: grey; }

hr {
  height: 1px;
  max-width: 250px;
  border: 0;
  margin: 3em auto 5em;
  background: #000; }

/******* LIENS / BOUTONS *******/
a {
  font-weight: 700;
  word-break: break-all;
  color: #1e5e32;
  -webkit-transition: 0.05s ease-in-out;
  transition: 0.05s ease-in-out; }
  a:focus, a:hover {
    color: #65a3da; }
  a:focus {
    outline: 0; }
  a:active {
    color: #4d917e; }

/******* CLASSES GENERALES  *******/
.intro {
  padding: 10px 0 35px; }

.hidden {
  display: none !important; }

.visually-hidden {
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  position: absolute;
  margin: -1px;
  overflow: hidden; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.pos-relative {
  position: relative; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.full-width {
  width: 100%; }

.icon {
  width: 0.9em;
  height: 0.9em;
  fill: currentColor;
  stroke: currentColor; }

.img-fit.compat-object-fit {
  background-size: cover;
  background-position: 50% 50%; }
  .img-fit.compat-object-fit img {
    opacity: 0; }

.no-transition {
  -webkit-transition: none !important;
  transition: none !important; }

@media (min-width: 580px) {
  h1 {
    font-size: 6rem; }
  a {
    word-break: initial; } }

@media (min-width: 780px) {
  h1 {
    font-size: 7rem; }
  h2 {
    font-size: 4.9rem; }
  h3 {
    font-size: 3.5rem; }
  h4 {
    font-size: 3rem; } }

@media (min-width: 960px) {
  h1 {
    font-size: 8.6rem; } }

/* Placeholders */
/* Grid */
.container {
  max-width: 1400px;
  padding: 0 44px;
  margin: 0 auto; }

.col-1 {
  width: 25%; }

.col-2 {
  width: 50%; }

@media (min-width: 1100px) {
  .col-3-desk {
    width: 75%; } }

/* Forms */
input,
textarea,
select,
button {
  -webkit-transition: 0.05s ease-in-out;
  transition: 0.05s ease-in-out; }
  input:focus,
  textarea:focus,
  select:focus,
  button:focus {
    outline: 0; }

input,
textarea {
  padding: 16px 15px 10px;
  border: 0;
  font-size: 1.6rem;
  background: #f7f2ea; }
  input:-webkit-autofill,
  textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
            box-shadow: 0 0 0 1000px #fff inset; }
  input:invalid,
  textarea:invalid {
    -webkit-box-shadow: none;
            box-shadow: none; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  display: none; }

select::-ms-expand {
  display: none; }

button {
  border: 0; }

label {
  font-size: 1.6rem; }

.field {
  position: relative; }
  .field > label {
    position: absolute;
    top: 12px;
    left: 15px;
    font-style: italic;
    opacity: 0.4;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transition: 0.05s ease-in-out;
    transition: 0.05s ease-in-out; }
  .field input:focus + label,
  .field textarea:focus + label {
    -webkit-transform: scale(0.7) translate3d(0, -14px, 0);
            transform: scale(0.7) translate3d(0, -14px, 0); }

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .newsletter label {
    pointer-events: none; }
  .newsletter .field {
    margin: 0 6px 0 0; }

.newsletter-input-hidden {
  display: none; }

/* Header */
#main-header {
  padding-top: 28px; }
  #main-header > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #main-header > .container > .logo {
      z-index: 3; }

#main-navigation {
  position: fixed;
  top: 0;
  left: 100%;
  right: -100%;
  bottom: 0;
  -webkit-transition:  -webkit-transform 0.23s 0.9s cubic-bezier(0.26, 1.09, 0.28, 0.99);
  transition:  -webkit-transform 0.23s 0.9s cubic-bezier(0.26, 1.09, 0.28, 0.99);
  transition:  transform 0.23s 0.9s cubic-bezier(0.26, 1.09, 0.28, 0.99);
  transition:  transform 0.23s 0.9s cubic-bezier(0.26, 1.09, 0.28, 0.99), -webkit-transform 0.23s 0.9s cubic-bezier(0.26, 1.09, 0.28, 0.99);
  z-index: 2; }
  #main-navigation > .line-opening {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scale3d(1, 0.02, 1);
            transform: scale3d(1, 0.02, 1);
    -webkit-transition:  -webkit-transform 0.4s 0.5s cubic-bezier(0.26, 1.09, 0.28, 0.99);
    transition:  -webkit-transform 0.4s 0.5s cubic-bezier(0.26, 1.09, 0.28, 0.99);
    transition:  transform 0.4s 0.5s cubic-bezier(0.26, 1.09, 0.28, 0.99);
    transition:  transform 0.4s 0.5s cubic-bezier(0.26, 1.09, 0.28, 0.99), -webkit-transform 0.4s 0.5s cubic-bezier(0.26, 1.09, 0.28, 0.99);
    z-index: -1; }
    #main-navigation > .line-opening::before, #main-navigation > .line-opening::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0; }
    #main-navigation > .line-opening::before {
      left: 0;
      right: 0;
      background: #ababab;
      z-index: -2; }
    #main-navigation > .line-opening::after {
      left: 100%;
      right: -100%;
      background: #1e5e32;
      z-index: -1;
      -webkit-transition:  background-color 0.4s 0.1s cubic-bezier(0.72, 0.01, 0.74, -0.09), -webkit-transform 0s 1.3s cubic-bezier(0.72, 0.01, 0.74, -0.09);
      transition:  background-color 0.4s 0.1s cubic-bezier(0.72, 0.01, 0.74, -0.09), -webkit-transform 0s 1.3s cubic-bezier(0.72, 0.01, 0.74, -0.09);
      transition:  background-color 0.4s 0.1s cubic-bezier(0.72, 0.01, 0.74, -0.09), transform 0s 1.3s cubic-bezier(0.72, 0.01, 0.74, -0.09);
      transition:  background-color 0.4s 0.1s cubic-bezier(0.72, 0.01, 0.74, -0.09), transform 0s 1.3s cubic-bezier(0.72, 0.01, 0.74, -0.09), -webkit-transform 0s 1.3s cubic-bezier(0.72, 0.01, 0.74, -0.09); }
  #main-navigation.activated {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    -webkit-transition:  -webkit-transform 0.23s cubic-bezier(0.26, 1.09, 0.28, 0.99);
    transition:  -webkit-transform 0.23s cubic-bezier(0.26, 1.09, 0.28, 0.99);
    transition:  transform 0.23s cubic-bezier(0.26, 1.09, 0.28, 0.99);
    transition:  transform 0.23s cubic-bezier(0.26, 1.09, 0.28, 0.99), -webkit-transform 0.23s cubic-bezier(0.26, 1.09, 0.28, 0.99); }
    #main-navigation.activated > .line-opening {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
      -webkit-transition:  -webkit-transform 0.4s 0.45s cubic-bezier(0.72, 0.01, 0.74, -0.09);
      transition:  -webkit-transform 0.4s 0.45s cubic-bezier(0.72, 0.01, 0.74, -0.09);
      transition:  transform 0.4s 0.45s cubic-bezier(0.72, 0.01, 0.74, -0.09);
      transition:  transform 0.4s 0.45s cubic-bezier(0.72, 0.01, 0.74, -0.09), -webkit-transform 0.4s 0.45s cubic-bezier(0.72, 0.01, 0.74, -0.09); }
      #main-navigation.activated > .line-opening::after {
        background-color: #f7f2ea;
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
        -webkit-transition:  background-color 0.4s 1.05s cubic-bezier(0.26, 1.09, 0.28, 0.99), -webkit-transform 0.4s 0.1s cubic-bezier(0.26, 1.09, 0.28, 0.99);
        transition:  background-color 0.4s 1.05s cubic-bezier(0.26, 1.09, 0.28, 0.99), -webkit-transform 0.4s 0.1s cubic-bezier(0.26, 1.09, 0.28, 0.99);
        transition:  background-color 0.4s 1.05s cubic-bezier(0.26, 1.09, 0.28, 0.99), transform 0.4s 0.1s cubic-bezier(0.26, 1.09, 0.28, 0.99);
        transition:  background-color 0.4s 1.05s cubic-bezier(0.26, 1.09, 0.28, 0.99), transform 0.4s 0.1s cubic-bezier(0.26, 1.09, 0.28, 0.99), -webkit-transform 0.4s 0.1s cubic-bezier(0.26, 1.09, 0.28, 0.99); }
    #main-navigation.activated .mlp-language-box {
      opacity: 1;
      -webkit-transition:  opacity 0.3s 1.25s ease-out;
      transition:  opacity 0.3s 1.25s ease-out; }
    #main-navigation.activated .main-navigation-container {
      opacity: 1;
      -webkit-transition:  opacity 0.3s 1.25s ease-out;
      transition:  opacity 0.3s 1.25s ease-out; }
      #main-navigation.activated .main-navigation-container > #borders > .border::before, #main-navigation.activated .main-navigation-container > #borders > .border::after {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1); }
      #main-navigation.activated .main-navigation-container > #borders > .first::before {
        -webkit-transition:  -webkit-transform 0.5s 1.55s cubic-bezier(0.26, 1.09, 0.28, 0.99);
        transition:  -webkit-transform 0.5s 1.55s cubic-bezier(0.26, 1.09, 0.28, 0.99);
        transition:  transform 0.5s 1.55s cubic-bezier(0.26, 1.09, 0.28, 0.99);
        transition:  transform 0.5s 1.55s cubic-bezier(0.26, 1.09, 0.28, 0.99), -webkit-transform 0.5s 1.55s cubic-bezier(0.26, 1.09, 0.28, 0.99); }
      #main-navigation.activated .main-navigation-container > #borders > .first::after {
        -webkit-transition:  -webkit-transform 0.8s 1.95s cubic-bezier(0.26, 1.09, 0.28, 0.99);
        transition:  -webkit-transform 0.8s 1.95s cubic-bezier(0.26, 1.09, 0.28, 0.99);
        transition:  transform 0.8s 1.95s cubic-bezier(0.26, 1.09, 0.28, 0.99);
        transition:  transform 0.8s 1.95s cubic-bezier(0.26, 1.09, 0.28, 0.99), -webkit-transform 0.8s 1.95s cubic-bezier(0.26, 1.09, 0.28, 0.99); }
      #main-navigation.activated .main-navigation-container > #borders > .second::before {
        -webkit-transition:  -webkit-transform 0.23s 2.05s cubic-bezier(0.72, 0.01, 0.74, -0.09);
        transition:  -webkit-transform 0.23s 2.05s cubic-bezier(0.72, 0.01, 0.74, -0.09);
        transition:  transform 0.23s 2.05s cubic-bezier(0.72, 0.01, 0.74, -0.09);
        transition:  transform 0.23s 2.05s cubic-bezier(0.72, 0.01, 0.74, -0.09), -webkit-transform 0.23s 2.05s cubic-bezier(0.72, 0.01, 0.74, -0.09); }
      #main-navigation.activated .main-navigation-container > #borders > .second::after {
        -webkit-transition:  -webkit-transform 0.4s 2.35s cubic-bezier(0.72, 0.01, 0.74, -0.09);
        transition:  -webkit-transform 0.4s 2.35s cubic-bezier(0.72, 0.01, 0.74, -0.09);
        transition:  transform 0.4s 2.35s cubic-bezier(0.72, 0.01, 0.74, -0.09);
        transition:  transform 0.4s 2.35s cubic-bezier(0.72, 0.01, 0.74, -0.09), -webkit-transform 0.4s 2.35s cubic-bezier(0.72, 0.01, 0.74, -0.09); }
      #main-navigation.activated .main-navigation-container > #borders > .third::before {
        -webkit-transition:  -webkit-transform 0.23s 2.28s cubic-bezier(0.26, 1.09, 0.28, 0.99);
        transition:  -webkit-transform 0.23s 2.28s cubic-bezier(0.26, 1.09, 0.28, 0.99);
        transition:  transform 0.23s 2.28s cubic-bezier(0.26, 1.09, 0.28, 0.99);
        transition:  transform 0.23s 2.28s cubic-bezier(0.26, 1.09, 0.28, 0.99), -webkit-transform 0.23s 2.28s cubic-bezier(0.26, 1.09, 0.28, 0.99); }
      #main-navigation.activated .main-navigation-container > #borders > .third::after {
        -webkit-transition:  -webkit-transform 0.4s 2.75s cubic-bezier(0.26, 1.09, 0.28, 0.99);
        transition:  -webkit-transform 0.4s 2.75s cubic-bezier(0.26, 1.09, 0.28, 0.99);
        transition:  transform 0.4s 2.75s cubic-bezier(0.26, 1.09, 0.28, 0.99);
        transition:  transform 0.4s 2.75s cubic-bezier(0.26, 1.09, 0.28, 0.99), -webkit-transform 0.4s 2.75s cubic-bezier(0.26, 1.09, 0.28, 0.99); }

.main-navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 84px 44px 28px;
  opacity: 0;
  -webkit-transition:  opacity 0.3s ease-out;
  transition:  opacity 0.3s ease-out; }

#borders {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  #borders > .border {
    position: absolute; }
    #borders > .border::before, #borders > .border::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transition:  -webkit-transform 0.3s 0.3s ease-out;
      transition:  -webkit-transform 0.3s 0.3s ease-out;
      transition:  transform 0.3s 0.3s ease-out;
      transition:  transform 0.3s 0.3s ease-out, -webkit-transform 0.3s 0.3s ease-out; }
    #borders > .border::before {
      background: #ababab; }
    #borders > .border::after {
      background: #1e5e32; }
  #borders > .first,
  #borders > .third {
    width: 12px; }
    #borders > .first::before, #borders > .first::after,
    #borders > .third::before,
    #borders > .third::after {
      -webkit-transform: scale3d(1, 0, 1);
              transform: scale3d(1, 0, 1); }
  #borders > .second,
  #borders > .third {
    left: 0;
    bottom: 0; }
  #borders > .first {
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2; }
    #borders > .first::before, #borders > .first::after {
      -webkit-transform-origin: 50% 0;
              transform-origin: 50% 0; }
  #borders > .second {
    width: 100%;
    height: 12px;
    z-index: 1; }
    #borders > .second::before, #borders > .second::after {
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      -webkit-transform: scale3d(0, 1, 1);
              transform: scale3d(0, 1, 1); }
  #borders > .third {
    height: 22vh; }
    #borders > .third::before, #borders > .third::after {
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%; }

.menu {
  margin: 0;
  list-style-type: none;
  font-size: 2rem; }
  .menu > li {
    padding: 0;
    margin: 0 0 28px; }
    .menu > li:before {
      content: none; }
    .menu > li:last-child {
      margin-bottom: 0; }
    .menu > li > a {
      color: #404040;
      text-decoration: none; }
    .menu > li:last-child > a {
      color: #1e5e32; }
    .menu > li:not(:last-child) > a {
      font-weight: 400; }

.mlp-language-box {
  position: absolute;
  right: 12px;
  bottom: 12px;
  opacity: 0;
  -webkit-transition:  opacity 0.3s ease-out;
  transition:  opacity 0.3s ease-out; }
  .mlp-language-box > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0; }
    .mlp-language-box > ul > li {
      width: 3rem;
      height: 3rem;
      position: relative; }
      .mlp-language-box > ul > li::before {
        content: none; }
      .mlp-language-box > ul > li > a {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        text-decoration: none;
        text-transform: lowercase;
        font-weight: 400; }
        .mlp-language-box > ul > li > a:not(.current-language-item) {
          color: #404040; }
      .mlp-language-box > ul > li > .current-language-item {
        background: #1e5e32;
        color: #fff; }

#burger {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 3; }
  #burger > span {
    width: 25px;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: transparent; }
    #burger > span::before, #burger > span::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 5px;
      -webkit-transform-origin: 0 50%;
              transform-origin: 0 50%; }
    #burger > span::before {
      background: #ababab; }
    #burger > span::after {
      background: #1e5e32; }
    #burger > span.sesame-bun::before, #burger > span.steak::before, #burger > span.bun::before {
      -webkit-transition:  -webkit-transform 0.23s 0.73s cubic-bezier(0.26, 1.09, 0.28, 0.99);
      transition:  -webkit-transform 0.23s 0.73s cubic-bezier(0.26, 1.09, 0.28, 0.99);
      transition:  transform 0.23s 0.73s cubic-bezier(0.26, 1.09, 0.28, 0.99);
      transition:  transform 0.23s 0.73s cubic-bezier(0.26, 1.09, 0.28, 0.99), -webkit-transform 0.23s 0.73s cubic-bezier(0.26, 1.09, 0.28, 0.99); }
    #burger > span.sesame-bun::after, #burger > span.steak::after, #burger > span.bun::after {
      -webkit-transition:  -webkit-transform 0.4s 0.78s cubic-bezier(0.26, 1.09, 0.28, 0.99);
      transition:  -webkit-transform 0.4s 0.78s cubic-bezier(0.26, 1.09, 0.28, 0.99);
      transition:  transform 0.4s 0.78s cubic-bezier(0.26, 1.09, 0.28, 0.99);
      transition:  transform 0.4s 0.78s cubic-bezier(0.26, 1.09, 0.28, 0.99), -webkit-transform 0.4s 0.78s cubic-bezier(0.26, 1.09, 0.28, 0.99); }
    #burger > span.sesame-bun {
      -webkit-transform: translate(0, -9px) scale3d(1, 1, 1);
              transform: translate(0, -9px) scale3d(1, 1, 1); }
      #burger > span.sesame-bun::before, #burger > span.sesame-bun::after {
        -webkit-transform-origin: 0 50%;
                transform-origin: 0 50%; }
    #burger > span.steak::before, #burger > span.steak::after {
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%; }
    #burger > span.bun {
      -webkit-transform: translate(0, 9px);
              transform: translate(0, 9px); }
      #burger > span.bun::before, #burger > span.bun::after {
        -webkit-transform-origin: 0 50%;
                transform-origin: 0 50%; }
    #burger > span.first-cross-line::before, #burger > span.first-cross-line::after, #burger > span.second-cross-line::before, #burger > span.second-cross-line::after {
      -webkit-transform: scale3d(0, 1, 1);
              transform: scale3d(0, 1, 1); }
    #burger > span.first-cross-line::before, #burger > span.second-cross-line::before {
      -webkit-transition:  -webkit-transform 0.23s 0.4s cubic-bezier(0.26, 1.09, 0.28, 0.99);
      transition:  -webkit-transform 0.23s 0.4s cubic-bezier(0.26, 1.09, 0.28, 0.99);
      transition:  transform 0.23s 0.4s cubic-bezier(0.26, 1.09, 0.28, 0.99);
      transition:  transform 0.23s 0.4s cubic-bezier(0.26, 1.09, 0.28, 0.99), -webkit-transform 0.23s 0.4s cubic-bezier(0.26, 1.09, 0.28, 0.99); }
    #burger > span.first-cross-line::after, #burger > span.second-cross-line::after {
      -webkit-transition:  -webkit-transform 0.4s 0.3s cubic-bezier(0.26, 1.09, 0.28, 0.99);
      transition:  -webkit-transform 0.4s 0.3s cubic-bezier(0.26, 1.09, 0.28, 0.99);
      transition:  transform 0.4s 0.3s cubic-bezier(0.26, 1.09, 0.28, 0.99);
      transition:  transform 0.4s 0.3s cubic-bezier(0.26, 1.09, 0.28, 0.99), -webkit-transform 0.4s 0.3s cubic-bezier(0.26, 1.09, 0.28, 0.99); }
    #burger > span.first-cross-line {
      -webkit-transform: rotateZ(45deg);
              transform: rotateZ(45deg); }
      #burger > span.first-cross-line::before, #burger > span.first-cross-line::after {
        -webkit-transform-origin: 100% 50%;
                transform-origin: 100% 50%; }
    #burger > span.second-cross-line {
      -webkit-transform: rotateZ(-45deg);
              transform: rotateZ(-45deg); }
      #burger > span.second-cross-line::before, #burger > span.second-cross-line::after {
        -webkit-transform-origin: 0 50%;
                transform-origin: 0 50%; }
  #burger.activated > span.sesame-bun::before, #burger.activated > span.sesame-bun::after, #burger.activated > span.steak::before, #burger.activated > span.steak::after, #burger.activated > span.bun::before, #burger.activated > span.bun::after {
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1); }
  #burger.activated > span.sesame-bun::before, #burger.activated > span.steak::before, #burger.activated > span.bun::before {
    -webkit-transition:  -webkit-transform 0.23s 0.2s cubic-bezier(0.72, 0.01, 0.74, -0.09);
    transition:  -webkit-transform 0.23s 0.2s cubic-bezier(0.72, 0.01, 0.74, -0.09);
    transition:  transform 0.23s 0.2s cubic-bezier(0.72, 0.01, 0.74, -0.09);
    transition:  transform 0.23s 0.2s cubic-bezier(0.72, 0.01, 0.74, -0.09), -webkit-transform 0.23s 0.2s cubic-bezier(0.72, 0.01, 0.74, -0.09); }
  #burger.activated > span.sesame-bun::after, #burger.activated > span.steak::after, #burger.activated > span.bun::after {
    -webkit-transition:  -webkit-transform 0.4s cubic-bezier(0.72, 0.01, 0.74, -0.09);
    transition:  -webkit-transform 0.4s cubic-bezier(0.72, 0.01, 0.74, -0.09);
    transition:  transform 0.4s cubic-bezier(0.72, 0.01, 0.74, -0.09);
    transition:  transform 0.4s cubic-bezier(0.72, 0.01, 0.74, -0.09), -webkit-transform 0.4s cubic-bezier(0.72, 0.01, 0.74, -0.09); }
  #burger.activated > span.first-cross-line::before, #burger.activated > span.first-cross-line::after, #burger.activated > span.second-cross-line::before, #burger.activated > span.second-cross-line::after {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  #burger.activated > span.first-cross-line::before, #burger.activated > span.second-cross-line::before {
    -webkit-transition:  -webkit-transform 0.23s 0.43s cubic-bezier(0.26, 1.09, 0.28, 0.99);
    transition:  -webkit-transform 0.23s 0.43s cubic-bezier(0.26, 1.09, 0.28, 0.99);
    transition:  transform 0.23s 0.43s cubic-bezier(0.26, 1.09, 0.28, 0.99);
    transition:  transform 0.23s 0.43s cubic-bezier(0.26, 1.09, 0.28, 0.99), -webkit-transform 0.23s 0.43s cubic-bezier(0.26, 1.09, 0.28, 0.99); }
  #burger.activated > span.first-cross-line::after, #burger.activated > span.second-cross-line::after {
    -webkit-transition:  -webkit-transform 0.4s 0.53s cubic-bezier(0.26, 1.09, 0.28, 0.99);
    transition:  -webkit-transform 0.4s 0.53s cubic-bezier(0.26, 1.09, 0.28, 0.99);
    transition:  transform 0.4s 0.53s cubic-bezier(0.26, 1.09, 0.28, 0.99);
    transition:  transform 0.4s 0.53s cubic-bezier(0.26, 1.09, 0.28, 0.99), -webkit-transform 0.4s 0.53s cubic-bezier(0.26, 1.09, 0.28, 0.99); }

@media (min-width: 960px) {
  #main-header {
    padding-top: 84px; }
  #main-navigation {
    position: initial;
    left: auto;
    right: auto;
    bottom: auto; }
    #main-navigation > .line-opening {
      display: none; }
  .main-navigation-container {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    padding: 0;
    opacity: 1; }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.6rem; }
    .menu > li {
      margin-left: 22px;
      margin-bottom: 0;
      overflow: hidden; }
      .menu > li:first-child {
        margin-left: 0; }
      .menu > li > a {
        position: relative; }
        .menu > li > a::before, .menu > li > a::after {
          content: "";
          height: 2px;
          position: absolute;
          bottom: -2px;
          left: -100%;
          right: 100%; }
        .menu > li > a::before {
          background: #ababab;
          -webkit-transition:  -webkit-transform 0.23s cubic-bezier(0.26, 1.09, 0.28, 0.99);
          transition:  -webkit-transform 0.23s cubic-bezier(0.26, 1.09, 0.28, 0.99);
          transition:  transform 0.23s cubic-bezier(0.26, 1.09, 0.28, 0.99);
          transition:  transform 0.23s cubic-bezier(0.26, 1.09, 0.28, 0.99), -webkit-transform 0.23s cubic-bezier(0.26, 1.09, 0.28, 0.99); }
        .menu > li > a::after {
          background: #1e5e32;
          -webkit-transition:  -webkit-transform 0.4s 0.115s cubic-bezier(0.26, 1.09, 0.28, 0.99);
          transition:  -webkit-transform 0.4s 0.115s cubic-bezier(0.26, 1.09, 0.28, 0.99);
          transition:  transform 0.4s 0.115s cubic-bezier(0.26, 1.09, 0.28, 0.99);
          transition:  transform 0.4s 0.115s cubic-bezier(0.26, 1.09, 0.28, 0.99), -webkit-transform 0.4s 0.115s cubic-bezier(0.26, 1.09, 0.28, 0.99); }
        .menu > li > a:hover::before, .menu > li > a:hover::after {
          -webkit-transform: translate3d(100%, 0, 0);
                  transform: translate3d(100%, 0, 0); }
        .menu > li > a:hover::before {
          -webkit-transition:  -webkit-transform 0.23s cubic-bezier(0.26, 1.09, 0.28, 0.99);
          transition:  -webkit-transform 0.23s cubic-bezier(0.26, 1.09, 0.28, 0.99);
          transition:  transform 0.23s cubic-bezier(0.26, 1.09, 0.28, 0.99);
          transition:  transform 0.23s cubic-bezier(0.26, 1.09, 0.28, 0.99), -webkit-transform 0.23s cubic-bezier(0.26, 1.09, 0.28, 0.99); }
        .menu > li > a:hover::after {
          -webkit-transition:  -webkit-transform 0.4s 0.115s cubic-bezier(0.26, 1.09, 0.28, 0.99);
          transition:  -webkit-transform 0.4s 0.115s cubic-bezier(0.26, 1.09, 0.28, 0.99);
          transition:  transform 0.4s 0.115s cubic-bezier(0.26, 1.09, 0.28, 0.99);
          transition:  transform 0.4s 0.115s cubic-bezier(0.26, 1.09, 0.28, 0.99), -webkit-transform 0.4s 0.115s cubic-bezier(0.26, 1.09, 0.28, 0.99); }
  .mlp-language-box {
    top: 0;
    bottom: auto; }
  #borders {
    display: none; }
  #burger {
    display: none; } }

@media (min-width: 1100px) {
  .menu > li {
    margin-left: 44px; } }

/* Footer */
.main-footer {
  display: none;
  margin: 7.5em 0 0; }
  .main-footer a:not(.btn) {
    color: inherit; }
    .main-footer a:not(.btn):hover, .main-footer a:not(.btn):focus {
      opacity: 0.6; }
  .main-footer .container {
    position: relative; }

.newsletter-container {
  padding: 40px 0;
  background: #fff; }

.newsletter-footer p {
  margin-top: 0; }

.newsletter-footer .mc4wp-form {
  margin: 20px 0 0; }

.newsletter-title {
  font-size: 2.2rem;
  font-weight: 700;
  color: #1e5e32; }

.footer-contact {
  width: calc(25% + 44px);
  padding: 28px 44px;
  position: absolute;
  top: 28px;
  right: 88px;
  z-index: 10;
  background: #f7f2ea; }
  .footer-contact p {
    margin: 0 0 20px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2; }

.main-footer-container {
  padding: 0 0 3.5em;
  font-size: 1.6rem;
  background: #1e5e32;
  color: #fff; }

.main-footer-top,
.main-footer-middle,
.main-footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.5em 0 0; }

.main-footer-top,
.main-footer-bottom {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.main-footer-middle {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.main-footer-bottom a {
  font-weight: 600;
  text-decoration: none; }

.main-footer-bottom .col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.main-footer-baseline {
  font-size: 2.2rem; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .social > li {
    margin: 0 5px; }
    .social > li:before {
      content: none; }
  .social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%; }

/* Buttons */
.btn {
  display: inline-block;
  padding: 8px 22px 12px;
  font-weight: 400;
  background: #df622d;
  color: #fff;
  text-decoration: none; }
  .btn:hover, .btn:focus {
    background: #f8ba41;
    color: #fff; }

/* Home specific style */
/******* PRINT *******/
@media print {
  *, *:before {
    color: #000 !important; }
  a {
    text-decoration: underline; }
    a[href^="#"]:after {
      content: ''; }
  img {
    page-break-inside: avoid; }
  @page {
    margin: .5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }


/*# sourceMappingURL=main.css.map*/