*.codekit
wp-cli
.DS_Store
*.DS_Store
**/.DS_Store
.sass-cache
.sass-cache/*
node_modules/**
/*.php
wp-content/languages
wp-content/plugins
wp-content/upgrade
wp-content/uploads
wp-content/*.php
wp-admin/**
wp-includes/**
/wp-content/ewww/gifsicle.exe
/wp-content/ewww/jpegtran.exe
/wp-content/ewww/optipng.exe