/* Buttons */

.btn{
	display: inline-block;
	padding: 40px 50px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	font-weight: 600;
	font-size: 2.4rem;
	text-align: center;
	box-shadow: none;
	color: $white !important;
	&:before{
		content: '';
		width: 360px;
		height: 360px;
		position: absolute;
		top: -65%;
		left: 25%;
		border-radius: 50%;
		z-index: -1;
		transition: 1s ease-in-out;
	}
	.icon{
		width: 17px;
		height: 11px;
		margin: 0 0 0 14px;
		fill: $white;
		transition: 0.18s ease-in-out;
	}
	&:hover, &:focus{
		&:before{
		    transform: scale(8) translate3d(-15px, -15px, 0);
		    transition: 3s cubic-bezier(0.18, 0, 0, 0.995);
		}
		.icon{
			transform: translate3d(5px, 0, 0);
		}
	}
}
