/* Buttons */

.btn{
	display: inline-block;
	padding: 40px 50px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	font-weight: 600;
	font-size: 2.4rem;
	box-shadow: none;
	color: $white;
	&:before{
		content: '';
		width: 360px;
		height: 360px;
		position: absolute;
		top: -65%;
		left: 25%;
		border-radius: 50%;
		z-index: -1;
	}
	.icon{
		width: 17px;
		height: 11px;
		margin: 0 0 0 14px;
		fill: $white;
	}
}
