/* Buttons */

.btn{
	display: inline-block;
	padding: 40px 30px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	font-weight: 600;
	font-size: 2.4rem;
	text-align: center;
	box-shadow: none;
	color: $white !important;
	line-height: 1;
	font-feature-settings: 'salt', 'liga' 1;
	> i{
		width: 360px;
		height: 360px;
		position: absolute;
		top: -40%;
		left: 30%;
		pointer-events: none;
		z-index: -1;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 50%;
			transition: 0.8s ease-in-out;
		}
	}
	.icon{
		width: 17px;
		height: 11px;
		margin: 0 0 0 14px;
		transition: 0.18s ease-in-out;
	}
	&:hover, &:focus{
		i{
		    &:before{
		    	transform: scale3d(1.5, 1.5, 1.5);
		    	transition: 1s cubic-bezier(0.18, 0, 0, 0.995);
		    }
		}
		.icon{
			transform: translate3d(5px, 0, 0);
		}
	}
	&:active{
		i{
		    &:before{
		    	transform: scale3d(5, 5, 5);
		    }
		}
	}
}

.btn-medium{
	padding: 20px 45px 22px;
	font-size: 1.8rem;
	> i{
		width: 200px;
		height: 200px;
		left: 20%;
	}
}

.btn-small, .btn-small-back{
	font-weight: 600;
	transform: translate3d(0, 0, 0);
	.icon{
		width: 10px;
		transition: transform 0.15s ease-in-out;
	}
}
.btn-small{
	.icon{
		margin: 0 0 0 8px;
	}
	&:hover, &:focus{
		.icon{
			transform: translate3d(3px, 0, 0);
		}
	}
}
.btn-small-back{
	.icon{
		margin: 0 8px 0 0;
	}
	&:hover, &:focus{
		.icon{
			transform: translate3d(-3px, 0, 0);
		}
	}
}

@media (max-width: $phone){
	.btn{
		padding: 30px 25px;
		font-size: 2rem;
		> i{
			top: -80%;
		}
	}

	.btn-medium{
		padding: 20px 45px 22px;
		font-size: 1.8rem;
	}
}
