/* Slider */

.container-sliders{
	width: 100%;
	height: 300px;
	position: relative;
	z-index: 0;
	.js &{
		opacity: 0;
	}
	&.slider-learn{
		height: 360px;
		margin-top: 7em;
		.slides{
			> li{
				width: 332px;
			}
		}
		.hoop{
			width: 350px;
			height: 350px;
			top: -88px;
		}
		.slide-desc{
			padding-top: 95px;
		}
	}
	&.slider-logos{
		.img{
			display: flex;
			height: 140px;
			padding: 25px 35px;
			border: 1px solid rgba($gray-superlight, 0.4);
			justify-content: center;
			align-items: center;
			> img{
				width: auto;
				max-height: 100%;
			}
		}
		.slide-desc{
			padding-top: 95px;
		}
		.hoop{
			width: 270px;
			height: 270px;
			top: -65px;
		}
	}
	&.right-aligned{
		.hoop{
			left: calc(50% + 185px);
		}
		&.slider-learn{
			.hoop{
				left: calc(50% + 332px);
			}
		}
	}
	.hoop{
		width: 221px;
		height: 221px;
		position: absolute;
		top: -18px;
		left: 50%;
		transform: translate(-50%, 0);
		z-index: 10000;
		opacity: 0.9;
		transform-origin: 50% 50%;
		pointer-events: none;
		.no-js &{
			display: none;
		}
	}
}

.wrapper-sliders{
	height: 100%;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	margin: auto;
	text-align: center;
}

.slider{
	height: 100%;
	position: relative;
}

.slides{
	display: inline-block;
	height: 100%;
	margin: 0;
	.js &{
		position: absolute;
		top: 0;
		left: 50%;
	}
	> li{
		display: inline-block;
		width: 185px;
		height: 100%;
		padding: 0;
		vertical-align: top;
		margin: 0;
		backface-visibility: hidden;
		transform: translate3d(0, 0, 0) rotate(0.001deg);
		&.active{
			img{
				filter: grayscale(0%);
			}
			.slide-desc{
				opacity: 1;
			}
		}
		.js &{
			position: absolute;
		}
		img{
			width: auto;
			max-height: 183px;
			filter: grayscale(100%);
			transition: filter 0.4s ease-out;
			pointer-events: none;
			backface-visibility: hidden;
			transform: translate3d(0, 0, 0);
		}
		&:before{
			display: none;
		}
	}
}

.slide-desc{
	width: 150%;
	padding: 25px 0 0;
	margin-left: -25%;
	text-align: center;
	line-height: 1.4;
	opacity: 0;
	transition: opacity 0.4s ease-out;
	pointer-events: none;
	.slide-title{
		font-size: 2.2rem;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 4px;
	}
	.slide-content{
		font-size: 1.4rem;
		font-weight: 600;
		line-height: 1;
	}
}

@media (max-width: $desktop){
	.container-sliders{
		&.right-aligned{
			.hoop{
				left: 50%;
			}
			&.slider-learn{
				.hoop{
					left: 50%;
				}
			}
		}
	}
}

@media (max-width: $phone){
	.slides{
		>li{
			width: 150px;
		}
	}
	.container-sliders{
		height: 260px;
		.hoop{
			width: 195px;
			height: 195px;
			top: -22px;
		}
		&.slider-learn{
			height: 330px;
			.slides{
				>li{
					width: 290px;
				}
			}
			.hoop{
				width: 310px;
				height: 310px;
			}
			.slide-desc{
				padding-top: 80px;
			}
		}
	}
}
