/* Slider */

.container-sliders{
	width: 100%;
	height: 300px;
	position: relative;
	z-index: 0;
	&.slider-learn{
		height: 350px;
		margin-top: 7em;
		.slides{
			> li{
				width: 332px;
			}
		}
		.hoop{
			width: 350px;
			height: 350px;
			top: -88px;
		}
		.slide-desc{
			padding-top: 95px;
		}
	}
	&.slider-logos{
		.img{
			display: flex;
			height: 140px;
			padding: 25px 35px;
			border: 1px solid rgba($gray-superlight, 0.4);
			justify-content: center;
			align-items: center;
			> img{
				width: auto;
				max-height: 100%;
			}
		}
		.slide-desc{
			padding-top: 95px;
		}
		.hoop{
			width: 270px;
			height: 270px;
			top: -65px;
		}
	}
	.hoop{
		width: 221px;
		height: 221px;
		position: absolute;
		top: -18px;
		left: 50%;
		transform: translate(-50%, 0);
		z-index: 10000;
		opacity: 0.9;
		transform-origin: 50% 50%;
		pointer-events: none;
		.no-js &{
			display: none;
		}
	}
}

.wrapper-sliders{
	height: 100%;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	margin: auto;
	text-align: center;
}

.slider{
	height: 100%;
	position: relative;
}

.slides{
	display: inline-block;
	height: 100%;
	margin: 0;
	.js &{
		position: absolute;
		top: 0;
		left: 50%;
	}
	> li{
		display: inline-block;
		width: 185px;
		height: 100%;
		padding: 0;
		vertical-align: top;
		margin: 0;
		&.active{
			img{
				filter: grayscale(0%);
			}
			.slide-desc{
				opacity: 1;
			}
		}
		.js &{
			position: absolute;
		}
		img{
			filter: grayscale(100%);
			transition: filter 0.4s ease-out;
		}
		&:before{
			display: none;
		}
	}
}

.slide-desc{
	width: 150%;
	padding: 25px 0 0;
	margin-left: -25%;
	text-align: center;
	opacity: 0;
	transition: opacity 0.4s ease-out;
	.slide-title{
		font-size: 2.2rem;
		font-weight: 700;
	}
	.slide-content{
		font-size: 1.4rem;
		font-weight: 600;
	}
}
