.social{
    li{
        display: inline-block;
        margin: 0 7px 0 0;
        &:before{
            display: none;
        }
        &:last-child{
            margin: 0;
        }
    }
    a{
        display: block;
        width: 42px;
        height: 42px;
        text-indent: -9999em;
        &:after{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border: 3px solid;
            border-radius: 50%;
            transition: $transition;
        }
        &:hover, &:focus{
            &:after{
                transform: scale(1.2) translate3d(0, 0, 0) rotate(0.001deg);
                opacity: 0;
            }
            .icon{
                transform: scale(1.1) translate3d(0, 0, 0) rotate(0.001deg);
            }
        }
    }
    .icon{
        width: 100%;
        height: 100%;
        padding: 12px;
        float: left;
        text-indent: 0;
        transition: $transition;
    }
}

@media (max-width: $desktop-small){
    .social{
        li{
            padding-left: 0;
        }
    }
}
