.study-case{
    padding: 0 0 5.5em;
    position: relative;
    margin: 0 0 5.5em;
    &:after{
        content: '';
        height: 1px;
        position: absolute;
        left: $col;
        right: $col;
        bottom: 0;
        background: rgba($gray-superlight, 0.4);
    }
}

.case{
    display: flex;
    > .img{
        width: $col*5;
        padding: 0 $gutter*2 0 0;
        margin: 0 $col 0 0;
    }
}

.study-content{
    width: $col*5;
    padding: 0 $gutter*2 0 0;
    > h2{
        position: relative;
        margin-top: 3px;
        font-size: 3.2rem;
        line-height: 1;
        color: $gray;
        &:before{
            content: '';
            width: 5px;
            position: absolute;
            top: -18px;
            bottom: 3px;
            left: $gutter*-2;
        }
    }
}

.study-quote{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 3em 0 0;
    > blockquote{
        width: $col*7;
        padding: 0 $gutter*2 0 0;
        margin: 0 25px 0 $col;
        > p{
            margin: 0;
            &:before{
                top: -22px;
                left: -45px;
                font-size: 3em;
                font-style: normal;
                font-weight: 600;
            }
            &:after{
                display: none;
            }
        }
    }
}

.quote-img{
    width: 135px;
    height: 135px;
    border: 3px solid;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    transform: translate3d(0, 0, 0);
    img{
        max-width: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.quote-cite{
    position: relative;
    margin: 1.8em 0 0 $col*6;
    font-size: 2rem;
    &:before{
        content: '';
        width: 5px;
        position: absolute;
        top: 8px;
        bottom: 4px;
        left: $gutter*-2;
    }
    > b{
        display: block;
        font-size: 1.6rem;
    }
}

.study-case-odd{
    .case{
        flex-direction: row-reverse;
        > .img{
            padding: 0 0 0 $gutter*2;
            margin: 0 0 0 $col;
        }
    }
    .study-content{
        padding: 0 $gutter*2 0 0;
    }
    .study-quote{
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .quote-img{
        margin-left: $col*2;
    }
    .quote-cite{
        margin-left: $col;
    }
}

.study-logos{
    text-align: center;
    .container-sliders{
        margin-top: 7em;
    }
}


@media (max-width: $desktop){
    .study-case-odd{
        .quote-img{
            margin-left: $col;
        }
    }
}

@media (max-width: $desktop-small){
    .study-content{
        width: $col*6;
        > h2{
            font-size: 2.8rem;
        }
    }
}

@media (max-width: $tablet){
    .case{
        display: block;
        > .img{
            width: 100%;
            padding: 0;
            margin: 0 0 2em;
        }
    }

    .study-content{
        width: 100%;
        margin: 0 0 0 $gutter*2;
        > h2{
            font-size: 2.5rem;
        }
    }

    .quote-cite{
        margin-left: $gutter*2;
        font-size: 1.6rem;
        &:before{
            top: 5px;
        }
        > b{
            font-size: 1.4rem;
        }
    }

    .study-case-odd{
        .case{
            > .img{
                padding: 0;
                margin: 0;
            }
        }
        .study-quote{
            flex-direction: row;
            justify-content: flex-start;
        }
        .quote-cite{
            margin-left: $gutter*2;
        }
        .quote-img{
            margin-left: 0;
        }
    }
}

@media (max-width: $phone){
    .study-content{
        > h2{
            font-size: 2rem;
        }
    }

    .study-quote{
        > blockquote{
            width: 100%;
            margin-right: 0;
            > p{
                &:before{
                    top: -14px;
                    left: -35px;
                    font-size: 2em;
                }
            }
        }
    }

    .quote-img{
        width: 80px;
        height: 80px;
        margin: 1.8em $gutter*2 0 0;
    }

    .quote-cite{
        width: 50%;
    }
}
