.wrapper-video{
    > div{
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        margin-top: 40px;
    }
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .cover-video{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: 50% 50%;
        cursor: pointer;
        &:before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba($black, 0.4);
        }
        &:after{
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 20px 0 20px 34px;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-40%, -50%);
            transition: $transition;
            opacity: 0.9;
        }
        &:hover, &:focus{
            .hoop{
                transform: scale(1.2) translate3d(0, 0, 0) rotate(0.001deg);
                opacity: 0;
            }
            &:after{
                opacity: 1;
            }
        }
    }
    .hoop{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 126px;
        height: 126px;
        opacity: 0.9;
        transition: $transition;
        transform-origin: 50% 50%;
        margin: -63px 0 0 -63px;
    }
}

@media (max-width: $tablet){
    .wrapper-video{
        > div{
            margin-top: 5px;
        }
    }
}
