# BEGIN SecuPress bad_url_access
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_URI} !(([_0-9a-zA-Z-]+/)?)wp-includes/js/tinymce/wp-tinymce\.php$
    RewriteRule ^(([_0-9a-zA-Z-]+/)?php\.ini|(([_0-9a-zA-Z-]+/)?)wp-config\.php|(([_0-9a-zA-Z-]+/)?)wp-includes/.+\.php|(([_0-9a-zA-Z-]+/)?)wp-admin/(admin-functions|install|menu-header|setup-config|([^/]+/)?menu|upgrade-functions|includes/.+)\.php)$ [R=404,L,NC]
</IfModule>
# END SecuPress


# BEGIN SecuPress move_login
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^(([_0-9a-zA-Z-]+/)?)think-login/?$ /wp-login.php [QSA,L]
    RewriteRule ^(([_0-9a-zA-Z-]+/)?)think-logout/?$ /wp-login.php?action=logout [QSA,L]
    RewriteRule ^(([_0-9a-zA-Z-]+/)?)think-register/?$ /wp-login.php?action=register [QSA,L]
    RewriteRule ^(([_0-9a-zA-Z-]+/)?)think-lostpassword/?$ /wp-login.php?action=lostpassword [QSA,L]
    RewriteRule ^(([_0-9a-zA-Z-]+/)?)think-resetpass/?$ /wp-login.php?action=resetpass [QSA,L]
    RewriteRule ^(([_0-9a-zA-Z-]+/)?)postpass/?$ /wp-login.php?action=postpass [QSA,L]
</IfModule>
# END SecuPress
# BEGIN SecuPress no_x_powered_by
<IfModule mod_headers.c>
    Header unset X-Powered-By
</IfModule>
# END SecuPress
# BEGIN SecuPress readme_discloses
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule (/|^)(readme|changelog)\.(txt|md|html)$ - [R=404,L,NC]
</IfModule>
# END SecuPress
# BEGIN SecuPress directory_index
<ifModule mod_dir.c>
    DirectoryIndex index.php index.html index.htm index.cgi index.pl index.xhtml
</IfModule>
# END SecuPress
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
# add a trailing slash to /wp-admin
RewriteRule ^([_0-9a-zA-Z-]+/)?wp-admin$ $1wp-admin/ [R=301,L]
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^([_0-9a-zA-Z-]+/)?(wp-(content|admin|includes).*) $2 [L]
RewriteRule ^([_0-9a-zA-Z-]+/)?(.*\.php)$ $2 [L]
RewriteRule . index.php [L]
</IfModule>
# END WordPress
# Cache-Control Headers
<Ifmodule mod_headers.c>
BrowserMatch MSIE is-msie
Header set X-UA-Compatible IE=edge env=is-msie
Header set vary "Accept-Encoding"
Header append vary "User-Agent"
Header append Cache-Control "public"
Header append Connection "Keep-Alive"
Header append Keep-Alive "timeout=5, max=100"
<FilesMatch "\.(ico|jpe?g|png|gif|swf|gz|ttf|svg|eot|woff|pdf|mp4|mpeg|avi|svg|woff2)$">
Header set Cache-Control "max-age=31536000"
</FilesMatch>
<filesmatch "\.(css|js)$">
 Header set Cache-Control "max-age=604800, public"
 </filesmatch>
<filesmatch "\.(html|htm)$">
Header set Cache-Control "max-age=7200, must-revalidate"
</filesmatch>
<filesmatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
Header unset Cache-Control
</filesmatch>
# disallow site to be in iframe or clickjacking attack
Header always set X-FRAME-OPTIONS SAMEORIGIN
# disallow mime-type sniffing
Header always set X-Content-Type-Options "nosniff"
</Ifmodule>
# protection
<FilesMatch "\.(htaccess|wp-config.php|install.php|readme.txt|readme.html)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</FilesMatch>
<IfModule mod_rewrite.c>
    RewriteEngine On
    # Disable PHP in Uploads
    RewriteRule ^wp\-content/uploads/.*\.(?:php[1-6]?|pht|phtml?)$ - [NC,F]
    # Filter Request Methods
    RewriteCond %{REQUEST_METHOD} ^(TRACE|DELETE|TRACK) [NC]
    RewriteRule ^.* - [F]
</IfModule>
# Disable XML-RPC
<files xmlrpc.php>
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</files>
# addType woff2
AddType application/x-font-woff2 .woff2
# protection de la lecture des répertoires
Options -Indexes
# désactiver la signature serveur
ServerSignature Off
