/******* PRINT *******/

@media print {
    *, *:before{
        color: #000 !important;
        background: none !important;
    }
    a{
        // &[href]:after{
        //     content: ' (' attr(href) ')';
        // }
        &[href^="#"]:after{
            content: '';
        }
    }
    img{
        page-break-inside: avoid;
    }
    @page{
        margin: .5cm;
    }
    p, h2, h3{
        orphans: 3;
        widows: 3;
    }
    h2, h3{
        page-break-after: avoid;
    }

    #header{
        padding: 30px 0;
        position: relative;
    }
    .menu-wrapper, .hoop, .btn, #footer, #bloc-top, .wrapper-video, .container-sliders, .title-picto, .study-logos, form, .bloc-top-img, .wrapper-share-related, #leave-comment{
        display: none !important;
    }
    #bloc-revelation .zone-txt, .wrapper-blocs-half .bloc-half{
        width: 100%;
        text-align: left;
    }
    #mooc-spoc{
        display: block;
        padding: 0 20px;
    }
    .container-small, .container-medium{
        padding: 0;
    }
    #solutions-header{
        height: auto;
        min-height: 0;
    }
    .solutions-intro{
        max-width: none;
    }
    .solutions-list>li{
        width: 100%;
        padding: 0;
        margin: 0;
        .img{
            display: none;
        }
    }
    .tools{
        width: 100%;
        padding: 0;
        margin: 30px 0 0;
    }
    .single-post .has-post-img{
        margin-top: 0;
    }
}
