$color404: map-get($themes, orange);

.error404{
    color: #fff;
    #main{
        padding: 0;
        position: relative;
        .h2{
            padding: 0 $gutter*2;
            position: absolute;
            top: 23vw;
            left: calc(19vw - #{$gutter*2});
            line-height: 1;
            > span > span{
                color: map-get($color404, color);
            }
        }
        img{
            width: 100%;
            min-width: 1100px;
        }
    }
}

@media (max-width: $desktop){
    .error404{
         #main{
            .h2{
                top: 250px;
                left: 20px;
                right: 0;
                text-align: center;
            }
            img{
                position: relative;
                left: 50%;
                transform: translate3d(-50%, 0, 0);
            }
        }
    }
}
