$color404: map-get($themes, orange);

.error404{
    color: #fff;
    #main{
        padding: 0;
        position: relative;
        > .h2{
            padding: 0 $gutter*2;
            position: absolute;
            top: 23vw;
            left: calc(19vw - #{$gutter*2});
            line-height: 1;
            > span{
                color: map-get($color404, color);
            }
        }
        > img{
            width: 100%;
            min-width: 1100px;
            margin: -10% 0 0;
        }
    }
    .theme-color, a, #footer ul a:hover, #footer ul a:focus, input:focus + label{
        color: map-get($color404, color);
    }
    a:hover, a:focus, .logo:hover .theme-color, .logo:focus .theme-color{
        color: map-get($color404, color-secondary);
    }
    ul > li:before, #logo-o, input:focus{
        border-color: map-get($color404, color);
    }
    .btn, .current_page_parent a, #header a:hover, #header a:focus{
        color: #fff !important;
    }
    .btn, #header a:before{
        background: map-get($color404, color);
    }
    .btn > i:before, .menu-main a > i:after{
        background: radial-gradient(ellipse at center, map-get($color404, color-secondary) 0, rgba(map-get($color404, color-secondary), 0) 65%);
    }
    .current_page_parent a{
        font-weight: 400;
        &:before, > i:after{
            opacity: 0;
        }
        &:hover, &:focus{
            &:before, > i:after{
                opacity: 1;
            }
        }
    }
}


@media (max-width: $desktop){
    .error404{
        #main{
            > .h2{
                top: 250px;
                left: 20px;
                right: 0;
                text-align: center;
            }
            > img{
                position: relative;
                margin: -8% 0 0;
                left: 50%;
                transform: translate3d(-50%, 0, 0);
            }
        }
        #header .current_page_parent a{
            color: #fff !important;
        }
    }
}

@media (max-width: $tablet){
    .error404{
        #main{
            > .h2{
                position: static;
                margin: 1.5em 0 2.5em;
                font-size: 3.5rem;
                background: #fff;
                color: $black;
            }
            > img{
                width: 175%;
                max-width: none;
                min-width: 0;
                position: static;
                transform: none;
                margin: 0 -45% 0 -30%;
            }
        }
        #header .link-contact a{
            color: map-get($color404, color);
        }
    }
}

@media (max-width: $phone){
    .error404{
        #main{
            > .h2{
                font-size: 3rem;
            }
        }
    }
}
