.page-template-contact{
    background: $black;
    #main{
        padding-bottom: 0;
        position: relative;
        .container{
            display: flex;
            &.success{
                align-items: center;
            }
        }
    }
    h1{
        margin: 1.5em 0 1em;
        font-size: 4.5rem;
        font-weight: 600;
        color: $black;
    }
    .bg{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        opacity: 0.07;
    }
}

.contact-sidebar{
    width: $col*4;
    padding: 90px $col 130px 0;
    position: relative;
    background: #fff;
    z-index: 1;
    &:before{
        content: '';
        width: 300%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background: #fff;
        z-index: -1;
    }
}

.contact-infos{
    margin: 0 $gutter*2 0 0;
    > li{
        border-top: 1px solid #e5e5e5;
        padding: 25px 50px 25px 40px;
        &:before{
            display: none;
        }
        &:first-child{
            border: 0;
        }
    }
    a{
        width: 22px;
        height: 25px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        box-shadow: none;
        text-align: center;
    }
    .icon-mail{
        width: 20px;
    }
}

.contact-main{
    width: $col*8;
    padding: 90px $col 130px;
    color: #fff;
    form{
        max-width: 650px;
        position: relative;
        z-index: 1;
    }
    .hoop{
        position: absolute;
        &:nth-of-type(1){
            width: 110px;
            height: 110px;
            top: 20%;
            right: -30px;
        }
        &:nth-of-type(2){
            width: 65px;
            height: 65px;
            top: 65%;
            left: 85%;
            right: 0;
            margin: auto;
        }
        &:nth-of-type(3){
            width: 35px;
            height: 35px;
            top: 75%;
            left: 75%;
            right: 0;
            margin: auto;
            filter: blur(3px);
        }
        &:nth-of-type(4){
            width: 55px;
            height: 55px;
            top: 40%;
            left: 0;
            right: 22%;
            margin: auto;
            filter: blur(1px);
        }
    }
}

@media (max-width: $desktop){
    .page-template-contact{
        #main{
            .container{
                display: block;
            }
        }
        h1{
            margin: 0.55em 0;
            font-size: 8rem;
        }
    }

    .contact-sidebar{
        width: 100%;
        padding: 50px 0;
        &:before{
            width: auto;
            left: -30px;
            right: -30px;
        }
    }

    .contact-infos{
        margin: 0;
        li{
            display: inline-block;
            padding-left: 85px;
            border: 0;
            border-left: 1px solid #e5e5e5;
            vertical-align: middle;
            &:last-child{
                padding-right: 0;
            }
            &:first-child{
                max-width: 230px;
                padding-left: 40px;
                a{
                    left: 0;
                }
            }
        }
        a{
            left: 40px;
        }
    }

    .contact-main{
        width: 100%;
        padding: 100px 0 130px;
        position: relative;
        form{
            margin: 0 auto;
        }
        .hoop{
            &:nth-of-type(4){
                left: auto;
                right: 18%;
            }
        }
    }
}
