.page-template-contact{
    background: $black;
    #main{
        padding-bottom: 0;
        position: relative;
        .container{
            display: flex;
            // &.success{
            //     align-items: flex-start;
            // }
        }
    }
    h1{
        margin: 1.5em 0 1em;
        font-size: 4.5rem;
        font-weight: 600;
        //color: $black;
    }
    .bg{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        opacity: 0.07;
    }
}

.contact-sidebar{
    width: $col*4;
    padding: 5.5em $col 8em 0;
    position: relative;
    z-index: 10;
    color: #fff;
    // position: relative;
    // background: #fff;
    // z-index: 1;
    // &:before{
    //     content: '';
    //     width: 300%;
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     right: 0;
    //     background: #fff;
    //     z-index: -1;
    // }
}

.contact-infos{
    margin: 0 $gutter*2 0 0;
    font-size: 2rem;
    line-height: 1.2;
    > li{
        border-top: 1px solid rgba($gray-superlight, 0.4);
        padding: 25px 50px 25px 40px;
        &:before{
            display: none;
        }
        &:first-child{
            border: 0;
        }
    }
    a{
        width: 22px;
        height: 25px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        box-shadow: none;
        text-align: center;
        &:hover, &:focus{
            transform: scale(1.05) translate3d(0, 0, 0) rotate(0.001deg);
        }
    }
    .icon-mail{
        width: 20px;
    }
}

.contact-main{
    width: $col*8;
    padding: 3em $col 8em;
    //color: #fff;
    position: relative;
    background: #fff;
    z-index: 1;
    &:before{
        content: '';
        width: 300%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background: #fff;
        z-index: -1;
    }
    p, h2{
        position: relative;
        z-index: 1;
    }
    .bloc-success{
        margin: 7em auto 0;
        h2{
            margin: 1.5em 0 1em;
            line-height: 0.9;
            letter-spacing: -4px;
        }
        p{
            margin: 0;
            padding: 25px 0;
        }
    }
    > form, .form-error, .bloc-success{
        max-width: 590px;
    }
    > form{
        position: relative;
        z-index: 1;
    }
    > .hoop{
        position: absolute !important;
        &:nth-of-type(1){
            width: 110px;
            height: 110px;
            top: 20% !important;
            right: -30px !important;
            left: auto !important;
        }
        &:nth-of-type(2){
            width: 65px;
            height: 65px;
            top: 65% !important;
            left: 85% !important;
            right: 0;
            margin: auto;
        }
        &:nth-of-type(3){
            width: 35px;
            height: 35px;
            top: 75% !important;
            left: 75% !important;
            right: 0;
            margin: auto;
            filter: blur(3px);
        }
        &:nth-of-type(4){
            width: 55px;
            height: 55px;
            top: 40% !important;
            left: 0;
            right: 22% !important;
            margin: auto;
            filter: blur(1px);
        }
    }
    > h2{
        font-size: 3.6rem;
        margin: 0 0 1em;
        + p{
            font-size: 1.6rem;
            margin: 0 0 2.5em;
        }
    }
}

@media (max-width: $desktop){
    .page-template-contact{
        #main{
            .container{
                display: block;
            }
        }
        h1, .bloc-success h2{
            margin: 0.55em 0;
        }
        h1{
            font-size: 8rem;
        }
    }

    .contact-sidebar{
        width: 100%;
        padding: 50px 0;
        &:before{
            width: auto;
            left: -30px;
            right: -30px;
        }
    }

    .contact-infos{
        margin: 0;
        li{
            display: inline-block;
            padding-left: 85px;
            border: 0;
            border-left: 1px solid rgba($gray-superlight, 0.4);
            vertical-align: middle;
            &:last-child{
                padding-right: 0;
            }
            &:first-child{
                padding-left: 40px;
                a{
                    left: 0;
                }
            }
        }
        a{
            left: 40px;
        }
    }

    .contact-main{
        width: 100%;
        padding: 100px 0 130px;
        position: relative;
        &:before{
            left: -30px;
        }
        > form, .form-error{
            margin-left: auto;
            margin-right: auto;
        }
        > .hoop{
            &:nth-of-type(4){
                left: auto !important;
                right: 18% !important;
            }
        }
        .bloc-success{
            margin-top: 0;
        }
    }
}

@media (max-width: $desktop-small){
    .page-template-contact{
        h1, .bloc-success h2{
            font-size: 6rem;
        }
        h1{
            max-width: 590px;
            margin: 0.55em auto;
        }
    }

    .contact-infos{
        max-width: 590px;
        margin: 0 auto;
        li{
            display: block;
            padding-left: 45px;
            border: 0;
            border-top: 1px solid rgba($gray-superlight, 0.4);
        }
        a{
            left: 0;
        }
    }

    .contact-main{
        padding-top: 70px;
        > .hoop{
            display: none !important;
        }
    }
}

@media (max-width: $tablet){
    .page-template-contact{
        h1, .bloc-success h2{
            font-size: 5rem;
        }
    }
}

@media (max-width: $phone){
    .page-template-contact{
        h1, .bloc-success h2{
            font-size: 4rem;
        }
    }

    .contact-infos{
        a{
            top: 6px
        }
    }
}
