/* Home specific style */
#bloc-top{
	min-height: 100vh;
}

#bloc-revelation{
	padding: 80px 0 100px;
	background: $black;
	color: $white;
	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.zone-txt{
		width: 50%;
		padding: 0 $gutter*2 0 0;
	}
	p{
		margin: 0;
	}
	h1{
		margin: 0;
		color: $white;
		font-size: 4.5rem;
	}
	.btn{
		width: calc(#{$col*4} - #{$gutter*2});
		margin: 0 $col 0 0;
	}
}

.wrapper-blocs-half{
	display: flex;
	justify-content: space-between;
	.bloc-half{
		width: calc(50% - #{$gutter});
		h2, p{
			max-width: 83.3333%;
		}
	}
}

#mooc-spoc{
	padding-top: 100px;
	padding-bottom: 140px;
}

#more-than-moocs{
	position: relative;
	overflow: hidden;
	&:before, &:after{
		content: '';
		display: block;
		width: 50%;
		height: 24px;
		position: absolute;
		bottom: 0;
		background: $white;
		z-index: 1;
	}
	&:before{
		left: 0;
		transform: skewX(45deg);
		transform-origin: 0 100%;
	}
	&:after{
		right: 0;
		transform: skewX(-45deg);
		transform-origin: 0 100%;
	}
	.container{
		position: relative;
		padding-top: 120px;
		padding-bottom: 144px;
	}
	h2, p{
		z-index: 2;
	}
	svg{
		position: absolute;
		&:nth-of-type(1){
			width: 60px;
			height: 60px;
			top: -5%;
			left: 50%;
			filter: blur(7px);
		}
		&:nth-of-type(2){
			width: 80px;
			height: 80px;
			top: 16%;
			left: 60%;
			filter: blur(3px);
		}
		&:nth-of-type(3){
			width: 80px;
			height: 80px;
			top: 34%;
			left: 107%;
			filter: blur(3px);
		}
		&:nth-of-type(4){
			width: 74px;
			height: 74px;
			top: 67%;
			left: 86%;
			filter: blur(4px);
		}
		&:nth-of-type(5){
			width: 66px;
			height: 66px;
			top: 56%;
			left: 55%;
			filter: blur(3px);
		}
		&:nth-of-type(6){
			width: 54px;
			height: 54px;
			top: 92%;
			left: -2%;
			filter: blur(7px);
		}
		&:nth-of-type(7){
			width: 66px;
			height: 66px;
			top: 91%;
			left: 67%;
			filter: blur(7px);
		}
		&:nth-of-type(8){
			width: 78px;
			height: 78px;
			top: -6%;
			left: 91%;
			filter: blur(4px);
		}
		&:nth-of-type(9){
			width: 116px;
			height: 116px;
			top: 20%;
			left: 92%;
			filter: blur(1px);
		}
		&:nth-of-type(10){
			width: 166px;
			height: 166px;
		    top: 34%;
		    left: 73%;
		}
	}
}

#digital-learning{
	padding: 60px 0 120px;
}
.bloc-with-picto{
	margin: 80px 0;
	h3{
		position: relative;
	}
}
.title-picto{
	width: 52px;
	height: 52px;
	border-width: 5px;
	border-style: solid;
	border-radius: 50%;
	position: absolute;
	top: -6px;
	left: calc(-52px - #{$gutter*2});
	.icon{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		&.profile{
			width: 16px;
			height: 20px;
		}
		&.star{
			width: 20px;
			height: 20px;
		}
	}
}
