.page-template-solutions{
    #main{
        padding-top: 0;
    }
}

.solutions-header, .solutions-cover{
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.solutions-header{
    display: flex;
    height: 100vh;
    min-height: 620px;
    padding-top: 75px;
    position: relative;
    align-items: flex-end;
    color: #fff;
    overflow: hidden;
    > .container{
        padding-bottom: 5em;
        position: relative;
        z-index: 1;
    }
    h1{
        margin: 0 0 0.4em;
        color: #fff;
        strong{
            display: block;
        }
    }
    > .hoop{
        position: absolute;
        opacity: 0;
        transform-origin: 0 0;
    }
    > img{
        display: none;
    }
}
.solutions-cover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.solutions-intro{
    max-width: $colMedium*6;
    padding: 0 $gutter*2 0 0;
}

.solutions{
    padding: 3.5em 0 0;
    margin: 0 0 13em;
    background: $black;
    color: #fff;
    text-align: center;
}

.solutions-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    text-align: left;
    > li{
        width: 50%;
        padding: 0 0 0 $col*2;
        position: relative;
        margin: 5.5em 0 0;
        &:before{
            display: none;
        }
    }
    h3{
        margin: 0 0 15px;
        font-size: 2.4rem;
    }
    p{
        font-size: 1.6rem;
    }
    .icon, .img{
        width: 105px;
        height: 105px;
        position: absolute;
        top: 25px;
        bottom: 0;
        left: 10%;
        margin: auto;
    }
    .img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    img{
        max-width: 50%;
        max-height: 50%;
        width: auto;
    }
}

.tools{
    width: $col*5;
    padding: 55px 45px 0 55px;
    float: right;
    margin: -65px 0;
    background: #fff;
    color: $black;
    text-align: left;
    > h2{
        margin: 0;
    }
}


@media (max-width: $desktop){
    .solutions-list{
        .icon, .img{
            width: 90px;
            height: 90px;
        }
    }

    .tools{
        padding: 40px 40px 0;
        > h2{
            font-size: 4rem;
        }
    }
}

@media (max-width: $desktop-small){
    .solutions-list{
        display: block;
        > li{
            width: 100%;
        }
        .icon, .img{
            left: 0;
        }
    }

    .tools{
        width: 100%;
        margin: 7em 0 0;
        > h2{
            font-size: 3.5rem;
        }
    }
}

@media (max-width: $tablet){
    .solutions-header{
        display: block;
        height: auto;
        min-height: 0;
        background: $black !important;
        h1{
            strong{
                display: inline;
            }
        }
        > .container{
            padding-top: 5em;
            padding-bottom: 3em;
        }
        > img{
            display: block;
        }
        > .hoop{
            display: none;
        }
    }
    .solutions-cover{
        display: none;
    }

    .solutions-intro{
        max-width: 100%;
        padding: 0;
    }

    .solutions-list{
        > li{
            padding: 0 0 0 110px;
        }
        h3{
            font-size: 2rem;
        }
        p{
            font-size: 1.4rem;
        }
    }

    .tools{
        > h2{
            font-size: 3rem;
        }
    }
}

@media (max-width: $phone){
    .tools{
        > h2{
            font-size: 2.5rem;
        }
    }

    .solutions-list{
        > li{
            padding: 0 0 0 80px;
        }
        .img, .icon{
            width: 60px;
            height: 60px;
        }
    }
}

@media (max-width: $phone-small){
    .solutions-list{
        > li{
            padding: 0;
        }
        h3{
            padding: 0 0 0 55px;
        }
        .img, .icon{
            width: 40px;
            height: 40px;
            top: -7px;
            bottom: auto;
        }
    }
}
