/******* GÉNÉRAL *******/

::-moz-selection {
    background: $black;
    color: $white;
    text-shadow: none;
}
::selection {
    background: $black;
    color: $white;
    text-shadow: none;
}

html {
    font-size: 62.5%; /* sets the base font to 10px for easier math */
    &.no-scroll {
        position: fixed;
        left: 0;
        right: 0;
    }
}

body {
    font: 1.8em / 1.6 $sofia;
    letter-spacing: -0.01em;
    color: $txt;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6{
    letter-spacing: -0.03em;
}

h1, h2{
    color: $primary;
}

h1{
    margin: 0 0 0.1em;
    font-size: 8.6rem;
    line-height: 1.35;
    font-weight: 600;
}

h2{ 
    margin: 1.85em 0 0;
    font-size: 4.9rem;
    line-height: 1.2;
}

h3{
    margin: 1.6em 0 0;
    font-size: 3.5rem;
}

h4{
    margin: 2em 0 0;
    font-size: 3rem;
}

h5{
    margin: 2em 0 0;
    font-size: 2.5rem;
}

h6{
    margin: 2em 0 0;
    font-size: 2rem;
}

p{
    margin: 1.65em 0 0;
    + ol, + ul{
        margin-top: 0;
    }
}

b, strong{
    font-weight: 700;
}

blockquote{
    margin: 1em 40px 0;
}

ol,
ul {
    padding: 0;
    margin: 1.65em 0 0;
    list-style: none;
}
li{
    position: relative;
    &:before{
        position: absolute;
        left: -15px;
        font-size: 1.3rem;
        font-weight: 700;
        color: $primary;
    }
}

ul{
    > li{
        &:before{
            content: '';
            width: 5px;
            height: 5px;
            top: 13px;
            border-radius: 50%;
            background: $primary;
        }
    }
    ul{
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}
ol {
    counter-reset: ol-counter;
    > li {
        counter-increment: ol-counter;
        &:before{
            content: counter(ol-counter)'.';
            top: 5px;
        }
    }
    ol {
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}

img{
    max-width: 100%;
    height: auto;
}

code,
pre {
    display: block;
    padding: 10px 15px;
    margin: 1em 0;
    background: grey;
}

hr {
    height: 1px;
    max-width: 250px;
    border: 0;
    margin: 3em auto 5em;
    background: $black;
}

/******* LIENS / BOUTONS *******/

a{
    font-weight: 700;
    color: $primary;
    transition: $transition;
    &:focus, &:hover {
    }
    &:focus {
        outline: 0;
    }
    &:active {
        filter: saturate(200%);
    }
}

/******* CLASSES GENERALES  *******/

.intro{
    padding: 10px 0 35px;
}

.hidden{
    display: none !important;
}
.visually-hidden {
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    position: absolute;
    margin: -1px;
    overflow: hidden;
}

.clearfix {
    @include clearfix;
}

.pos-relative {
    position: relative;
}

.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}

.full-width {
    width: 100%;
}

.icon {
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
}

.img-fit {
    &.compat-object-fit {
        background-size: cover;
        background-position: 50% 50%;
        img {
            // hide image if object fit is not supported - opacity to 0 for the link area
            opacity: 0;
        }
    }
}

.no-transition {
    transition: none !important;
}
