/* Buttons */

.btn,
.wpcf7-submit {
    display: inline-flex;
    padding: 9px 22px 11px;
    font-weight: 400;
    background: $tertiary;
    color: $white;
    text-decoration: none;
    &:hover,
    &:focus {
        background: $quaternary;
        color: $white;
    }
}

.wp-block-button {
    margin-top: $line-height;
    &:not(.is-style-squared) {
        display: inline-flex;
        margin-bottom: 0;
        position: relative;
        color: $primary;
        transition: transition(
            (
                opacity: "#{$fade-duration}s"
            ),
            $fade-easing
        );
        &::before {
            content: "";
            position: absolute;
            height: 3px;
            top: 0;
            left: 75%;
            right: 0;
            background: $primary;
            transition: transition(
                (
                    transform: "#{$btn-invert-duration}s"
                ),
                $cat-mouse-easing-in
            );
            transform-origin: 0% 50%;
        }
        .wp-block-button__link {
            background: transparent;
            &::before,
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                background: $primary;
            }
            &::before {
                width: 3px;
                top: 0;
                transition: transition(
                    (
                        transform: "#{$btn-invert-duration}s #{$btn-invert-duration}s"
                    ),
                    $cat-mouse-easing-out
                );
                transform-origin: 50% 0%;
            }
            &::after {
                height: 3px;
                left: 25%;
                transition: transition(
                    (
                        transform: "#{$btn-invert-duration}s #{$btn-invert-duration * 1.5}s"
                    ),
                    $cat-mouse-easing-out
                );
                transform-origin: 100% 50%;
            }
        }
        &:hover,
        &:focus {
            opacity: 0.8;
            &::before {
                transform: scale3d(0, 1, 1);
                transition: transition(
                    (
                        transform: "#{$btn-invert-duration}s #{$btn-invert-duration}s"
                    ),
                    $cat-mouse-easing-in
                );
            }
            .wp-block-button__link {
                &::before {
                    transform: scale3d(1, 0, 1);
                    transition: transition(
                        (
                            transform: "#{$btn-invert-duration}s #{$btn-invert-duration}s"
                        ),
                        $cat-mouse-easing-out
                    );
                }
                &::after {
                    transform: scale3d(0, 1, 1);
                    transition: transition(
                        (
                            transform: "#{$btn-invert-duration}s"
                        ),
                        $cat-mouse-easing-out
                    );
                }
            }
        }
    }
    &.is-style-outline {
        .wp-block-button__link {
            border: 0;
        }
    }
    &.is-style-squared {
        .wp-block-button__link {
            @extend .btn;
        }
    }
}

.btn-invert,
.wp-block-button__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px 18px;
    font-size: 1.6rem;
    text-align: left;
    word-break: break-word;
    z-index: 1;
}

.btn-invert {
    position: relative;
    &:hover,
    &:focus {
        opacity: 0.8;
    }
    .top,
    .bot,
    .right,
    .left {
        position: absolute;
        z-index: -1;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform-origin: 0 0;
            transition: transition(
                (
                    transform: "#{$btn-invert-duration}s"
                ),
                $cat-mouse-easing-in
            );
        }
        &::before {
            background: $light-grey;
        }
        &::after {
            background: currentColor;
        }
    }
    .top,
    .bot {
        height: 3px;
        left: 0;
        right: 0;
    }
    .top {
        top: 0;
    }
    .bot {
        bottom: 0;
    }
    .right,
    .left {
        width: 3px;
        top: 0;
        bottom: 0;
    }
    .right {
        right: 0;
    }
    .left {
        left: 0;
    }
    > .icon {
        margin: 2px 0 0 5px;
    }
}

.alm-load-more-btn {
    display: block;
    padding: 20px 20px 25px;
    width: 100%;
    font-size: 2.4rem;
    font-weight: 700;
    text-decoration: underline;
    background: $primary;
    color: #fff;
    &.done {
        display: none;
    }
}

@media (min-width: $desktop-small) {
    .btn-invert {
        .top,
        .bot {
            &::before,
            &::after {
                transform: scaleX(0);
            }
        }
        .left,
        .right {
            &::before,
            &::after {
                transform: scaleY(0);
            }
        }
        &.btn-1 {
            .right {
                &::before,
                &::after {
                    transform-origin: 0 100%;
                }
            }
            .bot {
                &::before,
                &::after {
                    transform-origin: 100% 0;
                }
            }
            .left {
                &::before,
                &::after {
                    transform-origin: 0 100%;
                }
            }
            .departure {
                .right {
                    &::before,
                    &::after {
                        transform: scaleY(1);
                    }
                    &::before {
                        transition-delay: $btn-invert-delay;
                    }
                    &::after {
                        transition-delay: $btn-invert-delay * 2;
                    }
                }
                .top {
                    &::before,
                    &::after {
                        transform: scaleX(0.75);
                        transform-origin: 100% 0;
                        transition-timing-function: $cat-mouse-easing-out;
                    }
                    &::before {
                        transition-delay: $btn-invert-delay * 3;
                    }
                    &::after {
                        transition-delay: $btn-invert-delay * 4;
                    }
                }
            }
            .arrival {
                .left {
                    &::before,
                    &::after {
                        transition-delay: $btn-invert-delay * 2;
                        transition-timing-function: $cat-mouse-easing-out;
                    }
                }
                .bot {
                    &::before,
                    &::after {
                        transition-delay: $btn-invert-delay * 3;
                        transition-timing-function: $cat-mouse-easing-out;
                    }
                }
            }
            &:hover,
            &:focus {
                .departure {
                    .top {
                        &::before,
                        &::after {
                            transform: scaleX(0);
                            transition-delay: 0s;
                            transition-timing-function: $cat-mouse-easing-out;
                        }
                    }
                    .right {
                        &::before,
                        &::after {
                            transform: scaleY(0);
                            transition-delay: $btn-invert-delay;
                            transition-timing-function: $cat-mouse-easing-out;
                        }
                    }
                }
                .arrival {
                    .bot {
                        &::before,
                        &::after {
                            transform: scaleX(1);
                            transition-timing-function: $cat-mouse-easing-in;
                        }
                        &::before {
                            transition-delay: $btn-invert-delay;
                        }
                        &::after {
                            transition-delay: $btn-invert-delay * 2;
                        }
                    }
                    .left {
                        &::before,
                        &::after {
                            transform: scaleY(1);
                            transition-timing-function: $cat-mouse-easing-out;
                        }
                        &::before {
                            transition-delay: $btn-invert-delay * 3;
                        }
                        &::after {
                            transition-delay: $btn-invert-delay * 4;
                        }
                    }
                    .top {
                        &::before,
                        &::after {
                            transform: scaleX(0.25);
                            transition-timing-function: $cat-mouse-easing-out;
                        }
                        &::before {
                            transition-delay: $btn-invert-delay * 4;
                        }
                        &::after {
                            transition-delay: $btn-invert-delay * 5;
                        }
                    }
                }
            }
        }
        &.btn-2 {
            .departure {
                .top {
                    &::before,
                    &::after {
                        transform: scaleX(1);
                        transform-origin: 100% 0;
                    }
                    &::before {
                        transition-delay: 0s;
                    }
                    &::after {
                        transition-delay: $btn-invert-delay * 2;
                    }
                }
                .left {
                    &::before,
                    &::after {
                        transform: scaleX(1);
                        transition-timing-function: $cat-mouse-easing-out;
                    }
                    &::before {
                        transition-delay: $btn-invert-delay * 2;
                    }
                    &::after {
                        transition-delay: $btn-invert-delay * 4;
                    }
                }
            }
            .arrival {
                .right {
                    &::before,
                    &::after {
                        transition-delay: $btn-invert-delay * 2;
                        transition-timing-function: $cat-mouse-easing-out;
                    }
                }
                .bot {
                    &::before,
                    &::after {
                        transform-origin: 100% 0;
                    }
                }
            }
            &:hover,
            &:focus {
                .departure {
                    .top {
                        &::before,
                        &::after {
                            transform: scaleX(0);
                            transition-timing-function: $cat-mouse-easing-out;
                        }
                    }
                    .left {
                        &::before,
                        &::after {
                            transform: scaleY(0);
                            transition-delay: 0s;
                        }
                    }
                }
                .arrival {
                    .right {
                        &::before,
                        &::after {
                            transform: scaleY(1);
                        }
                        &::before {
                            transition-delay: 0s;
                        }
                        &::after {
                            transition-delay: $btn-invert-delay * 2;
                        }
                    }
                    .bot {
                        &::before,
                        &::after {
                            transform: scaleX(1);
                            transition-timing-function: $cat-mouse-easing-out;
                        }
                        &::before {
                            transition-delay: $btn-invert-delay * 1;
                        }
                        &::after {
                            transition-delay: $btn-invert-delay * 4;
                        }
                    }
                }
            }
        }
        &.btn-3 {
            .departure {
                .right {
                    &::before,
                    &::after {
                        transform: scaleY(1);
                    }
                    &::before {
                        transition-delay: $btn-invert-delay;
                    }
                    &::after {
                        transition-delay: $btn-invert-delay * 2;
                    }
                }
                .bot {
                    &::before,
                    &::after {
                        transform-origin: 100% 0;
                        transform: scaleX(0.75);
                        transition-timing-function: $cat-mouse-easing-out;
                    }
                    &::before {
                        transition-delay: $btn-invert-delay * 3;
                    }
                    &::after {
                        transition-delay: $btn-invert-delay * 4;
                    }
                }
            }
            .arrival {
                .top {
                    &::before,
                    &::after {
                        transform-origin: 100% 0;
                        transition-delay: $btn-invert-delay * 2;
                    }
                }
                .left {
                    &::before,
                    &::after {
                        transition-delay: $btn-invert-delay;
                    }
                }
            }
            &:hover,
            &:focus {
                .departure {
                    .right {
                        &::before,
                        &::after {
                            transform: scaleY(0);
                            transition-delay: $btn-invert-delay * 2;
                            transition-timing-function: $cat-mouse-easing-out;
                        }
                    }
                    .bot {
                        &::before,
                        &::after {
                            transform: scaleX(0);
                            transition-delay: 0s;
                        }
                    }
                }
                .arrival {
                    .top {
                        &::before,
                        &::after {
                            transform: scaleX(1);
                        }
                        &::before {
                            transition-delay: $btn-invert-delay;
                        }
                        &::after {
                            transition-delay: $btn-invert-delay * 2;
                        }
                    }
                    .left {
                        &::before,
                        &::after {
                            transform: scaleY(1);
                            transition-timing-function: $cat-mouse-easing-out;
                        }
                        &::before {
                            transition-delay: $btn-invert-delay * 3;
                        }
                        &::after {
                            transition-delay: $btn-invert-delay * 4;
                        }
                    }
                    .bot {
                        &::before,
                        &::after {
                            transform: scaleX(0.25);
                            transition-timing-function: $cat-mouse-easing-out;
                        }
                        &::before {
                            transition-delay: $btn-invert-delay * 4;
                        }
                        &::after {
                            transition-delay: $btn-invert-delay * 5;
                        }
                    }
                }
            }
        }
        &.btn-4 {
            .departure {
                .left {
                    &::before,
                    &::after {
                        transform: scaleY(1);
                        transform-origin: 0 100%;
                    }
                    &::after {
                        transition-delay: $btn-invert-delay;
                    }
                }
                .top {
                    &::before,
                    &::after {
                        transform: scaleX(0.75);
                        transition-timing-function: $cat-mouse-easing-out;
                    }
                    &::before {
                        transition-delay: $btn-invert-delay * 2;
                    }
                    &::after {
                        transition-delay: $btn-invert-delay * 3;
                    }
                }
            }
            .arrival {
                .top {
                    &::before,
                    &::after {
                        transform-origin: 100% 0;
                    }
                }
                .right {
                    &::before,
                    &::after {
                        transform-origin: 0 100%;
                        transition-delay: $btn-invert-delay;
                    }
                }
                .bot {
                    &::before,
                    &::after {
                        transition-delay: $btn-invert-delay * 2;
                    }
                }
            }
            &:hover,
            &:focus {
                .departure {
                    .top {
                        &::before,
                        &::after {
                            transform: scaleX(0);
                            transition-delay: 0s;
                        }
                    }
                    .left {
                        &::before,
                        &::after {
                            transform: scaleY(0);
                            transition-delay: $btn-invert-delay;
                        }
                    }
                }
                .arrival {
                    .bot {
                        &::before,
                        &::after {
                            transform: scaleX(1);
                        }
                        &::before {
                            transition-delay: $btn-invert-delay;
                        }
                        &::after {
                            transition-delay: $btn-invert-delay * 2;
                        }
                    }
                    .right {
                        &::before,
                        &::after {
                            transform: scaleY(1);
                            transition-timing-function: $cat-mouse-easing-out;
                        }
                        &::before {
                            transition-delay: $btn-invert-delay * 3;
                        }
                        &::after {
                            transition-delay: $btn-invert-delay * 4;
                        }
                    }
                    .top {
                        &::before,
                        &::after {
                            transform: scaleX(0.25);
                            transition-timing-function: $cat-mouse-easing-out;
                        }
                        &::before {
                            transition-delay: $btn-invert-delay * 4;
                        }
                        &::after {
                            transition-delay: $btn-invert-delay * 5;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $desktop-small) {
    .btn-invert,
    .wp-block-button__link {
        font-size: 1.8rem;
    }
}
