/* Buttons */

.btn{
    display: inline-block;
    padding: 8px 22px 12px;
    font-weight: 400;
    background: $tertiary;
    color: $white;
    text-decoration: none;
    &:hover, &:focus{
        background: $quaternary;
        color: $white;
    }
}
