.cc-window {
    position: fixed;
    left: $gutter;
    right: $gutter;
    bottom: $gutter;
    padding: $line-height * 0.5 $gutter * 0.5;
    font-size: 1.2rem;
    background: $white;
    z-index: 20;
}

.cc-compliance {
    > .cc-dismiss {
        margin-top: $gutter * 0.5;
        @extend .btn;
        cursor: pointer;
    }
}

.cc-revoke {
    display: none;
}

@media (min-width: $tablet) {
    .cc-window {
        right: auto;
        width: 33vw;
        max-width: $phone;
    }
}
