.wrapper-video, .video{
    position: relative;
    &:before {
        content: "";
        display: block;
        padding: 0 0 56.25%;
    }
    iframe{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.wp-block-stereoberg-video{
    margin: $line-height*3 0;
}

.video {
    &.playing,
    &:hover {
        .video-title {
            opacity: 0;
        }
        .home-header &{
            .cover{
                opacity: 1;
            }
        }
    }
    .no-js &, &.player-on {
        .wrapper-player {
            opacity: 1;
        }
    }
    .no-js & {
        .iframe {
            opacity: 1;
        }
    }
    &.on {
        .cover {
            opacity: 1;
        }
    }
    &.playing {
        .player-background {
            opacity: 1;
            visibility: visible;
        }
        .iframe {
            opacity: 1 !important;
            visibility: visible;
        }
        .cross {
            opacity: 1;
            visibility: visible;
        }
    }
    .icon,
    .wrapper-player,
    .cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .icon {
        width: 100%;
        height: 100%;
    }
    .cover {
        box-shadow: 0 29px 35px rgba(64, 64, 64, 0.07);
        cursor: pointer;
        background-size: cover;
        background-position: 50% 50%;
        .home-header &{
            opacity: 0;
        }
    }
    .wrapper-player {
        height: 0;
        width: 22%;
        padding: 0 0 22%;
        margin: auto;
        pointer-events: none;
        transition: $transition;
    }
    .player-background {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba($black, 0.9);
        opacity: 0;
        visibility: hidden;
        z-index: 20;
    }
    .iframe, .cross{
        position: fixed;
        visibility: hidden;
        z-index: 30;
    }
    .iframe {
        width: 80vw;
        height: calc(80vw / 16 * 9);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0 !important;
    }
    .cross {
        width: 30px;
        height: 30px;
        top: $gutter;
        right: $gutter;
        opacity: 0;
        .cross-line {
            width: 100%;
            height: 3px;
            position: absolute;
            top: 50%;
            left: 50%;
            background: $white;
            &.first-cross-line {
                transform: translate(-50%, -50%) rotateZ(-45deg);
            }
            &.second-cross-line {
                transform: translate(-50%, -50%) rotateZ(45deg);
            }
        }
    }
    .play, .play:after{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .play{
        width: 85px;
        height: 85px;
        left: 0;
        border-radius: 50%;
        pointer-events: none;
        background: rgba($primary, 0.7);
        &:after{
            content: '';
            width: 0;
            height: 0;
            left: 7px;
            border-style: solid;
            border-width: 15px 0 15px 25px;
            border-color: transparent transparent transparent #fff;
        }
    }
}


@media(min-width: $tablet){
    .wp-block-stereoberg-video{
        &:before{
            padding: 0 0 23%;
        }
    }
}
