// Variables //


// Colors
$white: rgb(255, 255, 255);
$black: #0d1617;
$gray: rgb(78, 87, 90);
$gray-light: rgb(107, 114, 116);

// Transitions
$transition: 0.3s ease-in-out;

// Fonts
$sofia: 'sofia-pro', sans-serif;

// Mediaqueries
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';

// Grid
$col: 100/12*1%;
$gutter: 10px;
