// Variables //


// Colors
$white: rgb(255, 255, 255);
$black: #0d1617;
$gray: rgb(78, 87, 90);
$gray-light: rgb(107, 114, 116);

// Themes
$themes: (
    yellow,
    orange,
    red,
    pink,
    blue,
    green
);

$theme-yellow: rgb(255, 228, 0);
$theme-yellow-secondary: rgb(43, 240, 117);
$theme-orange: rgb(255, 120, 0);
$theme-orange-secondary: rgb(255, 228, 0);
$theme-red: rgb(255, 6, 0);
$theme-red-secondary: rgb(255, 120, 0);
$theme-pink: rgb(240, 43, 140);
$theme-pink-secondary: rgb(255, 6, 0);
$theme-blue: rgb(2, 187, 255);
$theme-blue-secondary: rgb(138, 126, 224);
$theme-green: rgb(43, 240, 117);
$theme-green-secondary: rgb(2, 187, 255);


// Transitions
$transition: 0.3s ease-in-out;


// Fonts
$sofia: 'sofia-pro', sans-serif;


// Mediaqueries
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';

$desktop: '1100px';
$desktop-small: '960px';
$tablet: '780px';
$phone: '580px';


// Grid
$col: 100/12*1%;
$gutter: 10px;
