// Variables //


// Colors
$white: rgb(255, 255, 255);
$black: rgb(13, 22, 23);
$gray: rgb(78, 87, 90);
$gray-light: rgb(107, 114, 116);
$gray-superlight: rgb(143, 148, 149);
$gray-dark: rgb(35, 38, 39);


// Themes
$themes: (
    yellow: (
		color: rgb(255, 228, 0),
		color-secondary: rgb(43, 240, 117)
    ),
    orange: (
		color: rgb(255, 120, 0),
		color-secondary: rgb(255, 228, 0)
    ),
    red: (
		color: rgb(255, 6, 0),
		color-secondary: rgb(255, 120, 0)
    ),
    pink: (
		color: rgb(240, 43, 140),
		color-secondary: rgb(255, 6, 0)
    ),
    blue: (
		color: rgb(2, 187, 255),
		color-secondary: rgb(138, 126, 224)
    ),
    green: (
		color: rgb(43, 240, 117),
		color-secondary: rgb(2, 187, 255)
    )
);


// Transitions
$transition: 0.3s ease-in-out;


// Fonts
$sofia: 'sofia-pro', sans-serif;


// Mediaqueries
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';

$desktop: '1100px';
$desktop-small: '960px';
$tablet: '780px';
$phone: '580px';
$phone-small: '400px';


// Grid
$col: 100/12*1%;
$colMedium: 100/10*1%;
$colSmall: 100/8*1%;

$gutter: 10px;
