/* Blog */
.post{
    display: flex;
    justify-content: flex-start;
    padding: 50px 0;
    position: relative;
    &:first-of-type{
        &:before{
            display: none;
        }
    }
    &:before{
        content: '';
        width: $col*8;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        border-top: 1px solid rgba($black, 0.1);
    }
    &:not(.post-network).no-img{
        margin: 0 $col*2;
    }
    time{
        font-weight: 600;
    }
    h2{
        font-weight: 600;
        font-size: 3.2rem;
        letter-spacing: 0;
        margin: 0.2em 0 0.8em;
        position: relative;
        line-height: 1.1;
        &:before{
            content: '';
            width: 7px;
            position: absolute;
            top: 8px;
            bottom: 0;
            left: calc(-20% + #{$gutter*2});
        }
        a{
            box-shadow: none;
            color: $black;
        }
    }
}
.post-network{
    margin: 0 auto;
    color: $white;
    justify-content: center;
    align-item: stretch;
    &:before{
        display: none;
    }
    .wrapper-post-img{
        width: calc(#{$col*3} + #{$gutter*2});
        margin: 0;
        background-position: 50% 50%;
        background-size: cover;
    }
    .wrapper-post-content{
        width: $col*5;
        background: $black;
        padding: 40px 60px;
        &.no-img{
            width: $col*8;
        }
    }
    + .post{
        &:before{
            display: none;
        }
    }
}
.post-odd{
    flex-direction: row-reverse;
    .wrapper-post-img{
        margin-left: $col;
        margin-right: 0;
    }
    h2{
        &:before{
            left: inherit;
            right: calc(-20% + #{$gutter*2});
        }
    }
}

.wrapper-post-img{
    width: $col*4;
    display: block;
    box-shadow: none;
    margin: 33px $col 0 0;
    img{
        width: 100%;
    }
}
.wrapper-post-content{
    width: $col*5;
}

.single-post{
    h1{
        font-size: 4.5rem;
        letter-spacing: 0;
        font-weight: 700;
        margin-bottom: 1.6em;
    }
    h2, h3{
        margin-top: 2em;
    }
    time{
        font-weight: 600;
    }
    #main{
        padding-top: 0;
        .container{
            padding-top: 75px;
        }
    }
    .has-post-img{
        padding-top: 0;
        margin-top: -135px;
        h1{
            margin-top: 0.2em;
        }
        .container-small{
            padding-top: 48px;
            z-index: 1;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: $col;
                right: $col;
                bottom: 0;
                background: $white;
                z-index: -1;
            }
        }
    }
}
.post-date{
    font-size: 2.2rem;
    color: rgb(87, 95, 98);
}

.bloc-top-img{
    height: 85vh;
    background-position: 50% 50%;
    background-size: cover;
}

.intro{
    position: relative;
    &:before{
        content: '';
        width: 4px;
        position: absolute;
        top: 5px;
        bottom: 0;
        left: -40px;
    }
    p{
        font-size: 2.4rem;
        line-height: 1.3;
    }
}

.wrapper-share-related{
    margin: 40px 0 80px;
    display: flex;
    width: 100%;
    h4{
        margin: 0 0 1.2em;
        font-size: 1.8rem;
        text-transform: none;
    }
}

.share-post{
    width: $colSmall*4;
    ul{
        display: flex;
        margin: 0;
        position: relative;
        &:before{
            content: '';
            width: 4px;
            position: absolute;
            top: 0;
            bottom: 0;;
            left: -($gutter*2);
        }
        > li{
            margin: 0 0 0 -1px;
            padding: 0;
            &:first-child{
                margin-left: 0;
            }
            &:before{
                display: none;
            }
        }
    }
    a{
        display: block;
        width: 78px;
        height: 78px;
        border: 1px solid rgb(229, 229, 229);
        box-shadow: none;
        text-indent: -99em;
        position: relative;
        color: $black;
        &:hover, &:focus{
            &:before{
                transform: scaleY(1);
            }
        }
        &:before{
            content: '';
            height: 4px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            transform: scaleY(0);
            transform-origin: 0 100%;
            transition: transform 0.15s ease-out;
        }
        .icon{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            &.icon-twitter{
                width: 26px;
                height: 22px;
            }
            &.icon-linkedin{
                width: 25px;
                height: 23px;
            }
            &.icon-facebook{
                width: 13px;
                height: 23px;
            }
        }
    }
}
.related-posts{
    width: $colSmall*5;
    margin: 0 $colSmall*-1 0 0;
    ul{
        margin: 0;
        position: relative;
        &:before{
            content: '';
            width: 4px;
            position: absolute;
            top: 0;
            bottom: 0;;
            left: -($gutter*2);
        }
        > li{
            display: block;
            margin: -1px 0 0;
            padding: 0;
            &:first-child{
                margin-top: 0;
            }
            &:before{
                display: none;
            }
        }
    }
    a{
        display: flex;
        min-height: 75px;
        position: relative;
        box-shadow: none;
        color: $black;
        align-items: center;
        border: 1px solid rgb(229, 229, 229);
        &:before{
            content: '';
            width: 4px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            transform: scaleX(0);
            transform-origin: 100% 0;
            transition: transform 0.1s ease-out;
        }
        &:hover, &:focus{
            &:before{
                transform: scaleX(1);
            }
        }
        .related-thumbnail{
            display: block;
            width: 78px;
            height: 78px;
            background-position: 50% 50%;
            background-size: cover;
            flex-shrink: 0;
        }
        .icon-arrow{
            width: 14px;
            height: 9px;
            margin: 0 28px;
            flex-shrink: 0;
        }
        .title{
            margin: 0 0 0 $gutter*2;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.4;
        }
    }
}

.comments{
    ul{
        margin: 50px 0 110px;
        > li{
            &:before{
                display: none;
            }
        }
    }
    li{
        border-bottom: 1px solid rgba($gray-superlight, 0.4);
        margin: 0 0 50px;
        &:after{
            content: '';
            width: 80px;
            height: 3px;
            position: absolute;
            bottom: -2px;
            left: 0;
        }
    }
    .img{
        width: 55px;
        height: 55px;
        position: absolute;
        top: 0;
        left: $col*-1;
        margin: 0 0 0 $gutter*-1;
        border-radius: 50%;
        overflow: hidden;
    }
}
.comment-author{
    font-weight: 600;
}

.blog{
    h1{
        display: inline-block;
        width: $colSmall*3;
        vertical-align: top;
    }
}
.form-search{
    display: inline-block;
    width: $colSmall*5;
    vertical-align: top;
    margin: 6.5em 0 0;
}

.subtitle{
    margin: 3.5em 0 0;
    + h1{
        margin-top: 0;
    }
}


@media (max-width: $desktop){
    .single-post{
        .has-post-img{
            .container-small{
                &:before{
                    left: $gutter*2;
                    right: $gutter*2;
                }
            }
        }
    }

    .related-posts{
        margin: 0;
    }
}

@media (max-width: $desktop-small){
    .single-post{
        .has-post-img{
            .container-small{
                padding-top: 40px;
                &:before{
                    top: 10px;
                    left: 0;
                    right: 0;
                }
            }
        }
    }

    .post-date, .single-post h1, .intro{
        padding: 0 $gutter*4;
    }

    .intro{
        &:before{
            left: 0;
        }
    }

    .wrapper-share-related{
        display: block;
    }
    .share-post, .related-posts{
        width: 100%;
        ul{
            padding-left: 24px;
            &:before{
                left: 0;
            }
        }
    }
    .share-post{
        margin: 0 0 30px;
    }

    .comments{
        li{
            padding: 0 0 0 90px;
        }
        .img{
            left: 0;
            margin: 0;
        }
    }
}

@media (max-width: $phone){
    .single-post{
        .has-post-img{
            .container-small{
                &:before{
                    left: $gutter*-2;
                    right: $gutter*-2;
                }
            }
        }
        h1{
            font-size: 3.5rem;
        }
    }
    .post-date{
        font-size: 2rem;
    }

    .post-date, .single-post h1, .intro{
        padding: 0;
    }
    .intro{
        &:before{
            display: none;
        }
        p{
            font-size: 2rem;
        }
    }
}
