/* Blog - Categories - Search */

.blog, .category, .search, .single-post{
    .grid{
        margin: 0;
    }
    [class*='col-']{
        padding: 0;
    }
}
.blog-header{
    .blog &{
        margin-bottom: $row*2;
    }
}
.category-header{
    align-items: center;
    .category &{
        margin-bottom: $row*2;
    }
}
.search-header{
    align-items: center;
    .search &{
        margin-bottom: $row*2;
    }
}
.search-params{
    position: relative;
    .blog &{
        padding-top: $row*2;
        padding-right: $gutter*2;
    }
    .category &{
        padding-top: $row*2;
        padding-right: $gutter*2;
    }
    .search &{
        padding-top: $row*3;
        padding-right: $gutter*2;
    }
    &:before{
        content: '';
        display: block;
        width: 4px;
        height: calc(100% - 7.9rem);
        position: absolute;
        top: 0;
        left: -$gutter*2;
    }
    > :first-child{
        margin-top: 0;
    }
}
.back-link-blog{
    display: table;
    // box-shadow: none;
}

.posts-pushes{
    display: flex;
    justify-content: space-between;
    .blog &{
        padding-top: $row*3;
        padding-left: $gutter*2;
    }
}
.posts-push{
    padding: 0;
    &:first-child{
        margin-right: $gutter*2;
    }
    /*.wrapper-post-content{
        height: 116px;
    }*/
}

.posts-select{
    .col-left, .col-right{
        > :first-child{
            margin-bottom: $row*2;
            .h3{
                margin-top: 0;
                margin-bottom: 3rem;
                line-height: 3rem;
            }
        }
    }
    .col-left{
        padding-right: $gutter*2;
    }
    .col-right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.posts-s{
    > :first-child{
        margin-right: $gutter*2;
    }
}
.posts-list{
    .blog &{
        margin-top: $row*2;
        > :first-child{
            margin-top: 0;
        }
    }
    .grid{
        justify-content: flex-start;
        flex-wrap: wrap;
        > div{
            width: calc(33.333% - 14px);
            margin-bottom: $row*2;
            &:nth-child(3n -1){
                margin-left: 21px;
                margin-right: 21px;
            }
        }
    }
    [class*='col-']{
        padding: 0;
    }
}

h1{
    .search &{
        span{
            font-size: 1.8rem;
            font-weight: normal;
            font-style: italic;
            letter-spacing: 0;
            color: $black;
        }
    }
}

.post{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    h2{
        font-size: 17px;
        //line-height: 1.8;
        a{
            display: block;
            color: $gray;
            box-shadow: none;
            @include multiLineEllipsis($lineHeight: 1.8em, $lineCount: 3, $bgColor: white);
        }
    }
}
.wrapper-post-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
}
.wrapper-post-img{
    display: block;
    width: 100%;
    position: relative;
    img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .post-ratio-newsletter-mod &{
        &:before{
            content: '';
            display: block;
            padding-top: 274px;
        }
    }
    .post-ratio-xl &{
        &:before{
            content: '';
            display: block;
            padding-top: 46%;
        }
    }
    .post-ratio-l &{
        &:before{
            content: '';
            display: block;
            padding-top: 52%;
        }
    }
    .post-ratio-m &{
        &:before{
            content: '';
            display: block;
            padding-top: 58%;
        }
    }
    .post-ratio-s &{
        &:before{
            content: '';
            display: block;
            padding-top: 56%;
        }
    }
}
.footer-post{
    font-size: 1.2rem;
    a{
        text-transform: uppercase;
        box-shadow: none;  
    }
}

.search-form{
    text-align: right;
    input, select{
        width: 100%;
        padding-right: 4rem;
        
        border: 1px solid rgba($gray-superlight, 0.4);
        background: rgba(#fff, 0.9);
    }
    input[type=text]{
        margin: 0 0 1.9rem;
    }
    select{
        font-style: italic;
        margin: 0 0 1.4rem;
        background-image: linear-gradient(45deg, transparent 50%, $gray 50%), linear-gradient(135deg, $gray 50%, transparent 50%);
        background-position: calc(100% - 20px) 50%, calc(100% - 15px) 50%;
        background-size: 5px 5px, 5px 5px;
        background-repeat: no-repeat;
    }
    input::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
        color: $gray-supralight;
        font-style: italic;
    }
    input::-moz-placeholder { /* Firefox 19+ */
        color: $gray-supralight;
        font-style: italic;
    }
    input:-ms-input-placeholder { /* IE 10+ */
        color: $gray-supralight;
        font-style: italic;
    }
    input:-moz-placeholder { /* Firefox 18- */
        color: $gray-supralight;
        font-style: italic;
    }
}

.stay-connected-mod{
    position: relative;
    padding: $row $gutter*2 !important;
    background-color: $white;
    box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.1);
    z-index: 1;
    &:before{
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        position: absolute;
        top: 0;
        left: 0;
    }
    h3{
        margin-top: 0;
        font-weight: initial;
        color: $black;
    }

}

.blog-mod{
    position: relative;
    margin: 46px 0;
    padding: $row 5*$gutter;
    box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.1);
    &:before{
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        position: absolute;
        top: 0;
        left: 0;
    }
    &.blog-content-table-mod{
        &:after{
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

.blog-content-table-mod{
    > :first-child{
        margin-top: 0;
    }
    .h3{
        font-size: 2.8rem;
    }
    ol{
        font-size: 2.2rem;
        line-height: 1.3;
    }
}

.blog-posts-mod{
    > :first-child{
        margin-top: 0;
    }
}
.blog-posts-mod-container{
    display: flex;
    justify-content: space-between;
    .post{
        width: calc(50% - #{$gutter});
    }
    .single-post &{
        h2{
            margin-top: 0.8em;
        }
    }
}

.stay-connected-mod{
    .paged &{
        margin: 46px 0;
    }
}
.blog-newsletter-mod{
    position: relative;
    margin: 0 0 26px;
    .single &{
        margin: 46px 0;
    }
    :first-child{
        margin-top: 0;
    }
    .newsletter-fields-inline{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        .field{
            min-width: 15.5rem;
            margin-bottom: 4px;
            margin-right: 7px;
            font-style: italic;
            color: $gray-supralight;
            &:nth-of-type(1){
                flex-grow: 1;
            }
            &:nth-of-type(2){
                flex-grow: 2;
            }
        }
        input[type=text],
        input[type=email] {
            width: 100%;
            border: 1px solid rgb(229, 229, 229);
            box-shadow: none;
        }
        .btn{
            flex-grow: 1;
        }
    }
    .newsletter-input-hidden {
        position: relative;
        max-height: 0;
        overflow: hidden;
        transition: $transition;
        &.visible{
            max-height: 200px;
            margin: $row 0;
            transition: $transition;
        }
    }
}
.blog-contact-mod{
    display: flex;
    align-items: center;
    :first-child{
        margin: 0;
    }
    .btn{
        min-width: 26rem;
        margin-left: $gutter*4;
    }
}


// SINGLE
.single-post{
    h1{
        font-size: 4.5rem;
        letter-spacing: 0;
        font-weight: 700;
        margin-bottom: 1.6em;
    }
    h2, h3{
        margin-top: 2em;
    }
    time{
        display: inline;
        font-weight: 600;
    }
    #main{
        padding-top: 0;
        .container{
            padding-top: 75px;
        }
    }
    .has-post-img{
        padding-top: 0;
        margin-top: -135px;
        .container-small{
            padding-top: 12px;
            z-index: 1;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: $col;
                right: $col;
                bottom: 0;
                background: $white;
                z-index: -1;
            }
        }
        .post-date{
            margin: 0;
        }
    }
}
.single-header{
    p{
        margin: 0;
        font-size: 16px;
        &:first-child{
            font-weight: 600;
        }
    }
    .post-date, span{
        font-size: 1.2em;
        font-weight: 600;
    }
    .breadcrumb-separator{
        margin: 0 2px;
    }
}
.bloc-top-img{
    max-height: 85vh;
    overflow: hidden;
    > img{
        width: 100%;
    }
}
.related-post{
    width: 30%;
    h2{
        margin-top: 1em;
    }
}

.intro{
    position: relative;
    &:before{
        content: '';
        width: 4px;
        position: absolute;
        top: 5px;
        bottom: 0;
        left: -40px;
        .page-template-default &{
            display: none;
        }
    }
    > p{
        font-size: 2.4rem;
        line-height: 1.3;
    }
}

.wrapper-share-related, .networks-links{
    display: flex;
    margin: 5em 0;
    h4{
        margin: 0 0 1.2em;
        font-size: 1.8rem;
        text-transform: none;
    }
    ul{
        margin: 0;
        position: relative;
        &:before{
            content: '';
            width: 4px;
            position: absolute;
            top: 0;
            bottom: 0;;
            left: -($gutter*2);
        }
    }
    li{
        padding: 0;
        &:before{
            display: none;
        }
    }
    a{
        border: 1px solid rgb(229, 229, 229);
        box-shadow: none;
        color: $black;
        &:before{
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            transition: transform 0.1s ease-out;
        }
    }
}
.related-posts{
    a{
        display: flex;
        min-height: 75px;
        position: relative;
        align-items: center;
        overflow: hidden;
        z-index: 1;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.2;
        &:hover, &:focus{
            color: $white;
            &:before, > i:after{
                opacity: 1;
            }
            > i:after{
                transform: scale3d(1, 1, 1);
            }
            .icon{
                fill: $white;
            }
        }
        &:before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            z-index: -1;
            transition: opacity $transition,transform 0.5s ease-in-out;
        }
        > i{
            width: 200px;
            height: 200px;
            position: absolute;
            bottom: -100px;
            right: -80px;
            z-index: -1;
            pointer-events: none;
            &:after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                border-radius: 50%;
                transform: scale3d(0, 0, 0);
                transition: opacity $transition,transform 0.5s ease-in-out;
            }
        }
    }
    .title{
        margin: 0 0 0 $gutter*2;
    }
    .related-thumbnail{
        width: 73px;
        height: 73px;
        background-position: 50% 50%;
        background-size: cover;
        flex-shrink: 0;
    }
    .icon-arrow{
        width: 14px;
        height: 9px;
        margin: 0 28px;
        flex-shrink: 0;
    }
}
.share-post, .networks-links{
    width: $colSmall*4;
    ul{
        display: flex;
    }
    li{
        margin: 0 -1px 0 0;
    }
    a{
        display: block;
        position: relative;
        width: 75px;
        height: 75px;
        text-indent: -99em;
        overflow: hidden;
        z-index: 1;
        &:before, > i:after{
            content: '';
            position: absolute;
            transition: opacity $transition, transform 0.5s ease-in-out;
            opacity: 0;
        }
        &:before{
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
        }
        > i{
            width: 200px;
            height: 200px;
            position: absolute;
            bottom: -100px;
            right: -80px;
            z-index: -1;
            pointer-events: none;
            &:after{
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 50%;
                transform: scale3d(0, 0, 0);
            }
        }
        &:hover, &:focus{
            color: #fff;
            &:before, > i:after{
                opacity: 1;
            }
            > i:after{
                transform: scale3d(1, 1, 1);
            }
        }
        .icon{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            margin: auto;
            &.icon-twitter{
                width: 26px;
                height: 22px;
            }
            &.icon-linkedin{
                width: 25px;
                height: 23px;
            }
            &.icon-facebook{
                width: 13px;
                height: 23px;
            }
        }
    }
}

.networks-links{
    width: 100%;
    margin: 0;
    padding: 26px 0 0;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px dashed $gray-supralight;
    h3{
        margin: 0 2*$gutter 0 0;
    }
    a{
        width: 50px;
        height: 50px;
    }
}
.comments{
    line-height: 1.2;
    > ul{
        margin: 3em 0 6em;
    }
    li{
        border-bottom: 1px solid rgba($gray-superlight, 0.4);
        margin: 0 0 3em;
        &:before{
            display: none;
        }
        &:after{
            content: '';
            width: 80px;
            height: 3px;
            position: absolute;
            bottom: -2px;
            left: 0;
        }
    }
    p{
        line-height: 1.5;
    }
    .img{
        width: 55px;
        height: 55px;
        position: absolute;
        top: 0;
        left: $col*-1;
        margin: 0 0 0 $gutter*-1;
        border-radius: 50%;
        overflow: hidden;
    }
}
.comment-author{
    font-weight: 600;
}

.archive, .search{
    &:not(.is-mobile){
        #main{
            .container-small{
                position: relative;
            }
        }
    }
}

.post-img{
    position: relative;
    margin: 5em $colSmall*-1;
    &.alignleft{
        float: left;
        margin-right: $colSmall;
        margin-left: $colSmall*-2;
        &:before{
            left: 48px;
        }
    }
    &.alignright{
        float: right;
        margin-right: $colSmall*-2;
        margin-left: $colSmall;
        &:before{
            right: 48px;
        }
    }
    &.aligncenter{
        text-align: center;
        &:before{
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
    &:before{
        content: '';
        width: 94px;
        height: 7px;
        position: absolute;
        bottom: -27px;
    }
}

.pagination{
    display: flex;
    width: $col*4;
    min-width: 260px;
    position: relative;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-weight: 600;
    line-height: 1.2;
    background: $black;
    color: #fff;
    .blog &, .category &{
        margin-top: $row;
    }
    &:before, &:after{
        content: '';
        width: $gutter;
        position: absolute;
        top: 0;
        bottom: 0;
        background: #fff;
    }
    &:before{
        left: 0;
    }
    &:after{
        right: 0;
    }
    > .page-numbers{
        display: inline-block;
        width: 40px;
        padding: 5px 0;
        position: relative;
    }
    > a{
        box-shadow: none;
        color: #fff;
    }
    > .current{
        z-index: 1;
        &:before{
            content: '';
            position: absolute;
            top: -5px;
            left: 0;
            right: 0;
            bottom: -5px;
            z-index: -1;
        }
    }
    > .dots{
        margin-top: -8px;
    }
    > .prev, > .next{
        font-size: 10px;
        text-indent: -99em;
        overflow: hidden;
        > .icon{
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    > .prev{
        &:hover, &:focus{
            transform: translate3d(-3px, 0, 0);
        }
    }
    > .next{
        &:hover, &:focus{
            transform: translate3d(3px, 0, 0);
        }
    }
}


@media (max-width: $desktop){
    .blog-newsletter-mod{
        .newsletter-fields-inline{
            flex-wrap: wrap;
            .field{
                min-width: 15.5rem;
                margin-bottom: 24px;
            }
        }
    }
    .single-post{
        .has-post-img{
            .container-small{
                &:before{
                    left: $gutter*2;
                    right: $gutter*2;
                }
            }
        }
    }
    .post-img{
        margin: 4em $colMedium*-1 80px;
        &.alignleft{
            margin-right: $colMedium;
            margin-left: $colMedium*-1;
        }
        &.alignright{
            margin-right: $colMedium*-1;
            margin-left: $colMedium;
        }
    }

    .pagination{
        &:before, &:after{
            display: none;
        }
    }
}

@media (min-width: $desktop-small){
    .blog-header{
        .blog:not(.paged) &{
            align-items: flex-end;
        }
        .paged &{
            align-items: center;
        }
    }
}

@media (max-width: $desktop-small){
    .blog, .category{
        .search-params{
            width: 50%;
            padding-right: $gutter*2;
        }
        .posts-pushes{
            width: 41.67%;
            flex-wrap: wrap;
            padding-left: 0;
            .posts-push{
                width: 100%;
                &:first-child{
                    margin-right: 0;
                    margin-bottom: $row;
                }
            }
        }
    }
    .search-params{
        .search &{
            padding-top: $row*2;
        }
    }
    .category-header{
        > .container-small{
            width: 41.67%;
        }
    }

    .single-post{
        h1{
            font-size: 4rem;
        }
        .has-post-img{
            margin-top: 0;
            .container-small{
                &:before{
                    top: 10px;
                    left: 0;
                    right: 0;
                }
            }
        }
        #main{
            .container{
                padding-top: 105px;
                &.has-post-img{
                    padding-top: 0;
                }
            }
        }
    }

    .single-content{
        h2{
            font-size: 3rem;
        }
        h3{
            font-size: 2.5rem;
        }
        h4{
            font-size: 2rem;
        }
    }

    .single-header, .single-post h1, .single-post .intro{
        padding: 0 $gutter*4;
    }

    .search-header{
        > div{
            width: 50%;
        }
    }

    .bloc-top-img{
        margin: 125px 0 0;
        padding: 0 20px;
    }

    .intro{
        &:before{
            left: 0;
        }
    }

    .wrapper-share-related{
        display: block;
    }
    .share-post{
    //.related-posts{
        width: 100%;
        ul{
            padding-left: 24px;
            &:before{
                left: 0;
            }
        }
    }
    .share-post{
        margin: 0 0 30px;
    }

    .comments{
        li{
            padding: 0 0 0 90px;
        }
        .img{
            left: 0;
            margin: 0;
        }
    }
    .post-img{
        margin: 2.5em 0 4em;
        &.alignleft{
            margin-right: $col;
            margin-left: 0;
        }
        &.alignright{
            margin-right: 0;
            margin-left: $col;
        }
    }

    .blog-posts-mod-container{
        .single-post &{
            h2{
                font-size: inherit;
            }
        }
    }
}

@media (max-width: $tablet){
    .posts-select{
        flex-wrap: wrap;
        .col-left, .col-right{
            width: 100%;
            > :first-child{
                margin-bottom: $row;
            }
        }
        .col-left{
            margin-bottom: $row;
            padding-right: 0;
        }
    }
    .posts-list, .related-posts{
        .grid{
            flex-wrap: wrap;
            justify-content: space-between;
            > div{
                width: calc(50% - 10px);
                margin-bottom: $row;
                &:nth-child(3n -1){
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }
    .post{
        h2{
            line-height: 1.33;
        }
    }
    .post-img{
        &.alignleft, &.alignright{
            float: none;
            text-align: center;
        }
        &.alignleft{
            margin-right: 0;
            &:before{
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
        &.alignright{
            margin-left: 0;
            &:before{
                right: 50%;
                transform: translate(50%, 0);
            }
        }
    }
    .blog-contact-mod{
        flex-wrap: wrap;
        justify-content: center;
        :first-child{
            margin-bottom: $row;
        }
        .btn{
            margin-left: 0;
        }
    }
}

@media (min-width: $phone){
    .search-params-title{
        margin-top: 0;
    }
}

@media (max-width: $phone){
    .blog, .category{
        .search-params, .posts-pushes{
            width: 100%;
        }
        .search-params{
            padding-right: 0;
        }
        .posts-pushes{
            padding-top: $row;
            padding-left: 0;
            .posts-push{
                width: calc(50% - 10px);
            }
        }
    }
    .search-params{
        .category &{
            padding-top: $row*2;
        }
    }
    .blog-header, .category-header{
        flex-wrap: wrap;
    }
    .blog-header{
        > div{
            width: 100%;
        }
    }
    .single-post{
        .has-post-img{
            .container-small{
                &:before{
                    left: $gutter*-2;
                    right: $gutter*-2;
                }
            }
        }
        h1{
            font-size: 3.5rem;
        }
    }
    .post-date{
        font-size: 2rem;
    }

    .single-header, .single-post h1, .intro{
        padding: 0;
    }

    .search-header{
        flex-wrap: wrap;
        > div{
            width: 100%;
            &.search-params{
                margin-right: 0;
            }
        }
    }

    .intro{
        p{
            font-size: 2rem;
        }
    }
    /*.post-network{
        .wrapper-post-content{
            padding: 2em 2.5em;
        }
        .btn-small{
            font-size: 1.4rem;
        }
        &.post-video{
            display: block;
            .wrapper-video{
                width: 100%;
                > div{
                    padding: 0 0 50%;
                }
            }
            .wrapper-post-content{
                width: 100%;
            }
        }
    }*/
    .blog-mod{
        padding: 15px 25px;
    }
    .blog-content-table-mod{
        ol{
            font-size: 2rem;
        }
    }
}

/*@media (min-width: $phone-small){
    .post{
        h2{
            height: 100px;
        }
    }
}*/

@media (max-width: $phone-small){
    .blog{
        .posts-pushes{
            .posts-push{
                width: 100%;
            }
        }
    }
    .col-left{
        .posts-s{
            flex-wrap: wrap;
            div{
                width: 100%;
            }
            > :first-child{
                margin-right: 0;
                margin-bottom: $row;
            }
        }
    }
    .posts-list, .related-posts{
        .grid{
            > div{
                width: 100%;
            }
        }
    }
    .blog-posts-mod-container{
        flex-wrap: wrap;
        .post{
            width: 100%;
            margin-bottom: 20px;
        }
    }
    .blog-newsletter-mod{
        .newsletter-fields-inline{
            .field{
                margin-right: 0;
            }
        }
    }
}