/* Footer */

#footer{
    padding: 0 0 75px;
    background: $black;
    color: #fff;
    a{
        box-shadow: none;
    }
    ul{
        margin: 27px 0 20px;
        font-size: 1.6rem;
        &:not(.social){
            a{
                color: #fff;
            }
        }
    }
    .link-small{
        padding: 0 0 0 $gutter;
        font-size: 1.4rem;
        color: $gray-superlight;
        &:hover, &:focus{
            color: #fff;
        }
    }
    .grid{
        margin: 0 0 50px;
    }
    .social{
        margin-bottom: 0;
    }
}

.footer-top{
    padding: 22px 0;
    margin: 0 0 80px;
    background: $gray-dark;
    .container-medium{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    p{
        padding: 0 $gutter*2 0 0;
        margin: 0;
        font-size: 2.4rem;
        line-height: 1.1;
    }
    .btn{
        width: calc(#{$colMedium*4} - #{$gutter*2});
        max-width: 372px;
        margin: -35px 0;
    }
}

.footer-title{
    font-size: 2.4rem;
    font-weight: 600;
    color: $gray-superlight;
}

.menu-footer{
    font-weight: 600;
    li{
        &:before{
            display: none;
        }
    }
    a{
        .icon{
            width: 10px;
            margin: 0 0 0 8px;
            transition: transform 0.15s ease-in-out;
        }
        &:hover, &:focus{
            .icon{
                transform: translate3d(3px, 0, 0);
            }
        }
    }
}

.contact-footer{
    width: 50%;
    padding: 0 $gutter;
    float: right;
    font-weight: 600;
}

.tel-footer{
    width: (100/5)*2%;
    padding: 0 $gutter;
    float: right;
}


@media (max-width: $desktop-small){
    #footer{
        .col{
            &-2{
                width: $col*4;
            }
            &-7{
                width: $col*7;
            }
        }
    }

    .footer-top{
        margin: 0 0 90px;
        text-align: center;
        .container-medium{
            display: block;
        }
        p{
            padding: 0;
        }
        .btn{
            width: 100%;
            margin: 40px 0 -70px;
        }
    }

    .contact-footer{
        width: 70%;
    }

    .tel-footer{
        width: 47.4%;
    }

    .menu-footer{
        >li{
            padding-left: 0;
        }
    }
}

@media (max-width: $tablet){
    #footer{
        padding: 0 0 100px;
        position: relative;
        .grid{
            display: block;
        }
        .col{
            &-2, &-7{
                width: 100%;
            }
            &-2{
                margin-top: 5em;
            }
        }
        .link-small{
            position: absolute;
            bottom: 30px;
            left: $gutter*4;
        }
    }

    .contact-footer{
        width: 100%;
    }

    .tel-footer{
        width: 50%;
    }
}

@media (max-width: $phone){
    #footer{
        padding: 0 0 120px;
    }

    .footer-top{
        p{
            font-size: 2rem;
        }
    }

    .tel-footer{
        width: 100%;
        padding: 0;
        margin: 10px 0 0;
    }
}
