/* Footer */

#footer{
    // padding: 0 0 75px;
    background: $black;
    color: #fff;
    &.footer-contact{
        padding-top: 80px;
        border-top: 20px solid $gray-dark;
    }
    a{
        box-shadow: none;
    }
    ul{
        margin: 27px 0 20px;
        font-size: 1.6rem;
        &:not(.social){
            a{
                color: #fff;
            }
        }
        > li{
            &:before{
                margin-top: -2px;
            }
        }
    }
    .menu-footer-en, .social-en{
        margin: 0;
    }
    .link-small{
        font-size: 1.4rem;
        color: $gray-superlight;
        &:hover, &:focus{
            color: #fff;
        }
    }
    .grid:not(.grid-en){
        margin-bottom: 50px;
    }
    .social{
        margin-bottom: 0;
    }
    .col-en{
        .link-small{
            position: static;
        }
    }
    .container-footer{
        padding-bottom: 75px;
    }

    #btnNewsletter{
        margin-left: 80px;
    }
}

.footer-top{
    padding: 22px 0;
    margin: 0 0 80px;
    background: $gray-dark;
    font-feature-settings: 'salt', 'liga' 1;
    .container-medium{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    p{
        padding: 0 $gutter*2 0 0;
        margin: 0;
        font-size: 2.4rem;
        line-height: 1.1;
    }
    .btn{
        width: calc(#{$colMedium*4} - #{$gutter*2});
        max-width: 372px;
        margin: -35px 0;
    }
}

.footer-title{
    font-size: 2.4rem;
    line-height: 1.1;
    font-weight: 600;
    color: $gray-superlight;
    font-feature-settings: 'salt', 'liga' 1;
}

.menu-footer{
    font-weight: 600;
    line-height: 1.2;
    li{
        &:before{
            display: none;
        }
    }
    a{
        .icon{
            width: 10px;
            margin: 0 0 0 8px;
            transition: transform 0.15s ease-in-out;
        }
        &:hover, &:focus{
            .icon{
                transform: translate3d(3px, 0, 0);
            }
        }
    }
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-footer{
    width: 50%;
    padding: 0 $gutter;
    font-weight: 600;
}
.contact-footer-en{
    font-weight: 600;
    > a{
        display: block;
    }
}

.tel-footer{
    width: (100/5)*2%;
    padding: 0 $gutter;
    float: right;
}

.newsletter-footer{
    margin-top: -40px;
    height: 0;
    overflow: hidden;
    .content-newsletter{
        background: $gray-dark;
        transform: translate3d(0, 100%, 0);
    }
    .container{
        padding-top: 22px;
        padding-bottom: 22px;
    }
    .container-medium{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    form{
        min-width: 350px;
        margin-left: 50px;
    }
    p{
        line-height: 1.2;
    }
    .field{
        margin-bottom: 0;
    }
    input, button{
        vertical-align: middle;
    }
    input{
        margin-right: 12px;
    }
}

@media (max-width: $desktop-small){
    #footer{
        .col{
            &-2{
                width: $col*4;
            }
            &-7{
                width: $col*7;
            }
        }
        .container-medium{
            padding: 0;
        }
        .grid-en{
            display: block;
        }
        .col-en{
            display: inline-block;
            width: 50% !important;
            vertical-align: top;
            margin: 0 0 30px;
            &:nth-child(3), &:nth-child(4){
                margin: 0;
            }
        }
        .social-en{
            float: none;
        }

        #btnNewsletter{
            margin-left: 40px;
        }
    }

    .footer-top{
        margin: 0 0 90px;
        text-align: center;
        .container-medium{
            display: block;
        }
        p{
            padding: 0;
        }
        .btn{
            width: 100%;
            margin: 40px 0 -70px;
        }
    }

    .contact-footer{
        //width: 70%;
    }

    .tel-footer{
        //width: 47.4%;
    }

    .menu-footer{
        >li{
            padding-left: 0;
        }
    }
}

@media (max-width: $tablet){
    #footer{
        position: relative;
        // padding: 0 0 100px;
        .grid{
            display: block;
        }
        .col{
            &-2, &-7{
                width: 100%;
            }
            &-2{
                margin-top: 5em;
            }
        }
        .container-footer{
            padding-bottom: 100px;
        }
    }

    .contact-footer{
        width: 100%;
        margin-bottom: 30px;
    }

    .tel-footer{
        width: 50%;
    }
    .footer-bottom{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        .mentions-newsletter-footer{
            width: 100%;
        }
        .contact-footer{
            padding: 0;
        }
    }

    .newsletter-footer{
        .container-medium{
            display: block;
        }
        form{
            margin: 30px 0 0 0;
        }
    }
}

@media (max-width: $phone){
    #footer{
        // padding: 0 0 120px;
        .col-en{
            width: 100% !important;
            &:nth-child(3){
                margin: 0 0 30px;
            }
        }
        .container-footer{
            padding-bottom: 120px;
        }
    }

    .footer-top{
        p{
            font-size: 2rem;
        }
    }

    .tel-footer{
        width: 100%;
        padding: 0;
        margin: 10px 0 0;
    }
    
    .newsletter-footer{
        form{
            input{
                width: 200px;
            }
        }
    }
}

@media (max-width: $phone-small){
    .newsletter-footer{
        form{
            input{
                width: 180px;
            }
        }
    }
}
