/* Forms */

::-webkit-input-placeholder{
    color: $gray;
}
::-moz-placeholder{
    color: $gray;
}
:-ms-input-placeholder{
    color: $gray;
}

.form-error{
    padding-bottom: 20px;
}

input, textarea, button{
  	transition: $transition;
  	&:focus{
      	outline: 0;
  	}
}

input, textarea{
    padding: 11px 15px 15px;
    &:-webkit-autofill{
      	box-shadow: 0 0 0 1000px #fff inset;
  	}
    .error &{
        border-color: #ca4444 !important;
    }
}

button{
    border: 0;
}

textarea{
    width: 100%;
    height: 180px;
}

label{
    + span{
        display: block;
        font-size: 1.35rem;
        margin: 5px 0 0;
        color: #ca4444;
    }
}

legend{
    color: #fff;
}

input{
    height: 50px;
    max-width: 100%;
    line-height: 1;
    &[type=text], &[type=email]{
        width: 270px;
    }
    &[type=tel]{
        width: 175px;
    }
    &.big{
        width: 465px;
    }
    &[type=search]{
        &::-webkit-search-cancel-button, &::-webkit-search-decoration{
            display: none;
        }
    }
}

.field{
    display: inline-block;
    max-width: 100%;
    position: relative;
    // margin: 0 0 20px;
    margin: 0 0 35px;
    vertical-align: top;
    &.m-right{
        margin-right: $gutter*2;
    }
    &.p-right, &.field-block{
        padding-right: $gutter*2;
    }
    &.field-block{
        display: block;
    }
}

.field-full{
    max-width: 100%;
    margin: 0 0 20px;
}

.form-contact{
    label{
        position: absolute;
        top: 15px;
        left: 15px;
        color: rgba(#fff, 0.5);
        pointer-events: none;
        transition: 0.1s ease-in-out;
    }
    input, textarea{
        border: 1px solid #fff;
        background: rgba(#fff, 0.1);
        color: #fff;
        &:focus, &.on{
            + label{
                //opacity: 0;
                transform: translate3d(0, -200%, 0) scale(0.9);
            }
        }
    }
    .field-full{
        position: relative;
        //margin: 10px 0 30px;
        margin: 10px 0 45px;
    }
}

.comments{
    label{
        display: block;
        margin: 0 0 10px;
        font-size: 1.8rem;
        i{
            font-size: 1.4rem;
        }
    }
    .required{
        font-weight: 800;
    }
    input, textarea{
        border: 3px solid rgba($gray-superlight, 0.4);
    }
    input{
        width: 100%;
    }
    .error{
        color: #ca4444;
    }
    .field{
        width: 50%;
    }
    .btn{
        margin: 35px 0 0;
    }
}

.form-search{
    position: relative;
    input{
        width: 100%;
        border: 3px solid rgba($gray-superlight, 0.4);
        &:focus{
            + label{
                opacity: 0;
            }
        }
    }
    label{
        position: absolute;
        top: 15px;
        left: $gutter*2;
        color: $gray;
        pointer-events: none;
        transition: 0.1s ease-in-out;
    }
    button{
        width: 44px;
        height: 44px;
        padding: 12px;
        position: absolute;
        right: 3px;
        top: 3px;
        text-indent: -99em;
        overflow: hidden;
        > .icon{
            text-indent: 0;
            float: left;
        }
        &:hover, &:focus{
            transform: scale3d(1.1, 1.1, 1.1) rotate(90deg);
        }
    }
}

.radio{
    display: inline-block;
    width: 48.5%;
    min-width: 275px;
    position: relative;
    margin: 10px 0 0;
    overflow: hidden;
    &:nth-of-type(odd){
        margin-right: 3%;
    }
    label{
        display: block;
        padding: 10px 10px 10px 40px;
        border: 1px solid #fff;
        position: static;
        pointer-events: initial;
        opacity: 0.3;
        color: #fff;
        cursor: pointer;
        &:hover{
            opacity: 0.5;
        }
    }
    input{
        position: absolute;
        top: 0;
        left: -99em;
        opacity: 0;
        &:checked{
            + label{
                opacity: 1;
                background: rgba(#fff, 0.1);
            }
        }
    }
    .icon{
        width: 1.1em;
        height: 1em;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10px;
        margin: auto;
        transition: $transition;
    }
}

@media (max-width: $tablet){
    .comments{
        .field{
            display: block;
            width: 100%;
            max-width: 350px;
            margin-right: 0;
            padding-right: 0;
        }
    }
}
