/* Grid */

#main{
    padding: 75px 0 130px;
    overflow: hidden;
    .home &{
        padding-top: 0;
    }
}

.container{
    max-width: 1220px;
    padding: 0 $gutter*2;
    margin: 0 auto;
    &-medium{
        padding: 0 #{$col};
    }
    &-small{
    	padding: 0 #{$col*2};
    }
}


.grid{
    display: flex;
    margin: 0 $gutter*-1;
    justify-content: space-between;
}

[class*='col-']{
    padding: 0 $gutter;
}

.col{
    &-3{
        width: $col*3;
    }
    &-4{
        width: $col*4;
    }
    &-5{
        width: $col*5;
    }
    &-6{
        width: $col*6;
    }
    &-8{
        width: $col*8;
    }
    .container-medium &{
        &-2{
            width: $colMedium*2;
        }
        &-7{
            width: $colMedium*7;
        }
    }
    .container-small &{
        &-4{
            width: $colSmall*4;
        }
    }
    .container-tiny &{
        &-3{
            width: $colTiny*3;
        }
    }
}


@media (max-width: $desktop){
    .container{
        &-medium{
            padding: 0 $gutter*2;
        }
        &-small{
            padding: 0 #{$col};
        }
    }
}

@media (max-width: $desktop-small){
    #main{
        padding-top: 110px;
    }

    .container{
        &-small{
            padding: 0;
        }
    }
}
