/* Header */

#header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    overflow: hidden;
    background: $black;
    transition: $transition;
    &.on{
        transform: translate3d(0, -20px, 0);
        background: rgba($black, 0.7);
        .container{
            transform: translate3d(0, 10px, 0);
        }
    }
    ul, li{
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }
    li{
        &:before{
            display: none;
        }
    }
    a{
        display: block;
        color: #fff;
        box-shadow: none;
        line-height: 1;
    }
    .container{
        display: flex;
        justify-content: space-between;
        transition: $transition;
    }
    .logo{
        max-width: 250px;
        display: flex;
        position: relative;
        align-items: center;
        flex-grow: 0.7;
        &:before, &:after{
            content: '';
            width: 5px;
            height: 5px;
            position: absolute;
            top: 1px;
            bottom: 0;
            margin: auto;
            border-radius: 50%;
            background: #fff;
        }
        &:before{
            left: 10px;
        }
        &:after{
            right: 10px;
        }
        > .border{
            height: 0;
            position: absolute;
            top: 1px;
            bottom: 0;
            left: 10px;
            right: 10px;
            margin: auto;
            border-top: 1px dotted rgba(#fff, 0.5);
        }
        &:before, &:after, > .border{
            opacity: 0;
            transition: $transition;
        }
        path, g > g{
            transition: $transition;
        }
        &.on{
            &:before, &:after, > .border{
                opacity: 1;
            }
            path{
                opacity: 0;
            }
            .logo-o{
                opacity: 1;
                transform: translate3d(-267px, 0, 0);
            }
        }
    }
}

#logo-o{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    border: 5px solid;
    opacity: 0;
}

.menu-wrapper{
    display: inline-block;
}
.menu-main{
    font-size: 1.6rem;
    a{
        padding: 28px 30px 31px;
        position: relative;
        overflow: hidden;
        transition: $transition;
        &:before, > i:after{
            content: '';
            position: absolute;
            transition: opacity $transition, transform 0.5s ease-in-out;
            opacity: 0;
        }
        &:before{
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
        }
        > i{
            width: 200px;
            height: 200px;
            position: absolute;
            bottom: -100px;
            right: -80px;
            z-index: -1;
            &:after{
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 50%;
                transform: scale3d(0, 0, 0);
            }
        }
        &:hover, &:focus{
            &:before, > i:after{
                opacity: 1;
            }
            > i:after{
                transform: scale3d(1, 1, 1);
            }
        }
    }
    .current-menu-item, .current_page_parent{
        font-weight: 600;
        a{
            &:before, > i:after{
                opacity: 1;
            }
            > i:after{
                transform: scale3d(1, 1, 1);
            }
        }
    }
    .current-menu-item{
        a{
            pointer-events: none;
        }
    }
    .icon{
        display: none;
    }
}

.lang{
    display: inline-block;
    padding: 0 0 0 30px;
    font-size: 1.4rem;
    a{
        padding: 5px;
        transform: translate3d(0, 25%, 0);
    }
    span{
        display: block;
        padding: 5px;
        position: relative;
        font-weight: 700;
        transform: translate3d(0, -25%, 0);
        &:after{
            content: '';
            width: 15px;
            height: 1px;
            position: absolute;
            top: 80%;
            right: -7px;
            background: #fff;
            transform: rotate3d(0, 0, 1, -50deg);
        }
    }
}

.logo-svg{
    // width: 150px;
    width: 100%;
    height: 32px;
    color: #fff;
    path{
        fill: currentColor;
    }
}


@media (max-width: $desktop){
    .menu-main{
        a{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
@media (max-width: $desktop-small){
    #header{
        padding: 15px 0 0;
        .container{
            display: block;
            text-align: center;
        }
        .logo{
            display: inline-block;
            //max-width: 155px;
        }
        .logo-svg{
            > g{
                transform: translate3d(170px, 0, 0);
            }
        }
        .menu-wrapper{
            display: block;
        }
        &.on{
            transform: translate3d(0, -50px, 0);
            .container{
                transform: translate3d(0, 48px, 0);
            }
        }
    }

    .menu-main{
        ul{
            font-size: 1.5rem;
        }
        a{
            padding-top: 25px;
            padding-bottom: 20px;
            &:before, i{
                display: none;
            }
        }
    }
    #header{
    	li{
    		padding-left: 0;
    	}
    }
}

@media (max-width: $tablet){
    .lang{
        padding: 0;
        position: absolute;
        left: ($gutter*2)-5px;
        bottom: 62px;
        transition: $transition;
    }

    .link-contact{
        position: absolute;
        right: $gutter*2;
        bottom: 62px;
        transition: $transition;
        a{
            padding: 0 !important;
            text-indent: -99em;
        }
        .icon{
            display: block;
            height: 1.3em;
            width: 1.3em;
            float: left;
            text-indent: 0;
        }
    }

    #header{
        &.on{
            .lang, .link-contact{
                opacity: 0;
                transform: translate3d(0, -30px, 0);
            }
        }
    }
}

@media (max-width: $phone){
    #header{
        .logo{
            max-width: 125px;
            height: 26px;
            .border, #logo-o, &:before, &:after{
                display: none;
            }
            .logo-o{
                opacity: 1 !important;
            }
            &.on{
                .logo-o{
                    transform: none;
                }
                g > g{
                    &:first-of-type{
                        transform: translate3d(70%, 0, 0);
                    }
                    &:last-of-type{
                        transform: translate3d(-70%, 0, 0);
                    }
                }
            }
        }
        .logo-svg{
            > g{
                transform: none;
            }
        }
        .menu-main{
            margin: 0 -12px;
        }
    }

    .menu-main{
        a{
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}

@media (max-width: $phone-small){
    #header{
        .menu-main{
            display: flex;
            margin: 0 -10px;
            justify-content: space-between;
            font-size: 1.4rem;
        }
    }

    .menu-main{
        a{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
