/* Theme */
@each $color, $theme in $themes{
	$colorprimary: map-get($theme, color);
	$colorsecondary: map-get($theme, color-secondary);
    .theme-#{$color}{
        .theme-color, h1, #header .current-language-item, a{
        	color: $colorprimary;
        }
        ul{
        	> li{
        		&:before{
        			border-color: $colorprimary;
        		}
        	}
        }
        ol{
            > li{
                &:before{
                    color: $colorprimary;
                }
            }
        }
        blockquote{
            p{
                &:before, &:after{
                    color: $colorprimary;
                }
            }
        }
        .post-img{
            &:before{
				background-color: $colorprimary;
            }
        }
        #bloc-revelation{
            p{
                strong{
                    color: $colorprimary;
                }
            }
        }
        a{
            &.btn{
                background: $colorprimary;
                &:before{
                    background: radial-gradient(ellipse at center, $colorsecondary 0%, rgba($colorsecondary, 0) 65%);
                }
            }
        }
    }
}
