/* Theme */
@each $color, $theme in $themes{
	$colorprimary: map-get($theme, color);
	$colorsecondary: map-get($theme, color-secondary);

    .theme-#{$color}{
        .theme-color,
        h1,
        a,
        h2 > span,
        h1 > strong,
        ol > li:before,
        blockquote p:before, blockquote p:after,
        .lang span,
        #header .lang a:hover, #header .lang a:focus,
        #footer ul a:hover, #footer ul a:focus,
        .baseline > span > span,
        .baseline-second > span > span,
        .radio input:checked + label .icon,
        #bloc-revelation p strong,
        .title-picto .icon,
        .slide-desc .slide-title,
        .post time{
        	color: $colorprimary;
        }

        .btn,
        .post-img:before,
        .menu-main a:before{
			background-color: $colorprimary;
        }

        ul > li:before,
        input:focus,
        textarea:focus,
        #logo-o,
        .title-picto{
            border-color: $colorprimary;
        }

        .btn i:before,
        .menu-main a > i:after{
            background: radial-gradient(ellipse at center, $colorsecondary 0, rgba($colorsecondary, 0) 65%);
        }

        .wrapper-video{
            .cover-video{
                &:after{
                    border-left-color: $colorprimary;
                }
            }
        }

        a:hover, a:focus,
        a:hover .theme-color, a:focus .theme-color,
        .logo:hover .theme-color, .logo:focus .theme-color{
            color: $colorsecondary;
        }

        .hoop{
            fill: url(#gradient-hoop);
        }
    }

    .theme-yellow{
        .btn{
            color: $black!important;
            i:before{
                background: radial-gradient(ellipse at center, rgba($colorsecondary, 0.5) 0, rgba($colorsecondary, 0) 65%);
            }
        }
        .menu-main{
            a{
                &:hover, &:focus{
                    color: $black!important;
                }
                > i:after{
                    background: radial-gradient(ellipse at center, rgba($colorsecondary, 0.5) 0, rgba($colorsecondary, 0) 65%);
                }
            }
        }
    }

    @media (max-width: $desktop-small){
        .theme-#{$color}{
            #header .menu-main{
                a{
                    &:hover, &:focus{
                        color: $colorprimary;
                    }
                }
            }
        }
    }

    @media (max-width: $tablet){
        .theme-#{$color}{
            #header .link-contact a{
                color: $colorprimary;
                &:hover, &:focus{
                    color: $colorsecondary;
                }
            }
        }
    }
}
