/* Theme */
@each $color, $theme in $themes{
	$colorprimary: map-get($theme, color);
	$colorsecondary: map-get($theme, color-secondary);

    .theme-#{$color}{
        .theme-color,
        h1,
        a,
        h2 > span,
        h1 > strong,
        ol > li:before,
        blockquote p:before, blockquote p:after,
        .lang span,
        #header .lang a:hover, #header .lang a:focus,
        #footer ul a:hover, #footer ul a:focus,
        .baseline > span > span,
        .baseline-second > span > span,
        .radio input:checked + label .icon,
        #bloc-revelation p strong,
        .title-picto .icon,
        .slide-desc .slide-title,
        .post time,
        .wrapper-share-related h4,
        .related-posts a .icon-arrow,
        .post h2 a:hover, .post h2 a:focus,
        .share-post a:hover, .share-post a:focus,
        .related-posts a:hover, .related-posts a:focus,
        .comments h2, .comments time,
        .form-search button,
        .study-subtitle,
        .quote-cite > b,
        .solutions-list h3,
        .pagination > a:hover, .pagination > a:focus,
        .form-contact input:focus + label, .form-contact textarea:focus + label{
        	color: $colorprimary;
        }

        .btn,
        .post-img:before,
        .menu-main a:before,
        .post h2:before,
        .intro:before,
        .share-post ul:before,
        .share-post a:before,
        .related-posts ul:before,
        .related-posts a:before,
        .about-img:after,
        .comments li:after,
        .study-content > h2:before,
        .quote-cite:before,
        .pagination > .current:before{
			background-color: $colorprimary;
        }

        ul > li:before,
        input:focus,
        textarea:focus,
        #logo-o,
        .title-picto,
        .quote-img{
            border-color: $colorprimary;
        }

        .btn i:before,
        .menu-main a > i:after{
            background: radial-gradient(ellipse at center, $colorsecondary 0, rgba($colorsecondary, 0) 65%);
        }

        .wrapper-video{
            .cover-video{
                &:after{
                    border-left-color: $colorprimary;
                }
            }
        }

        a:hover, a:focus,
        .logo:hover .theme-color, .logo:focus .theme-color{
            color: $colorsecondary;
        }
    }

    .theme-yellow, .theme-green{
        .btn{
            color: $black!important;
            i:before{
                background: radial-gradient(ellipse at center, rgba($colorsecondary, 0.5) 0, rgba($colorsecondary, 0) 65%);
            }
        }
        #header{
            .current-menu-item, .current_page_parent{
                a{
                    color: $black;
                }
            }
            a{
                &:hover, &:focus{
                    color: $black;
                }
                > i:after{
                    background: radial-gradient(ellipse at center, rgba($colorsecondary, 0.5) 0, rgba($colorsecondary, 0) 65%);
                }
            }
        }
    }

    @media (max-width: $desktop-small){
        .theme-#{$color}{
            #header .menu-main{
                a{
                    &:hover, &:focus{
                        color: $colorprimary;
                    }
                }
            }
            #header{
                .current-menu-item, .current_page_parent{
                    a{
                       color: $colorprimary !important;
                    }
                }
            }
        }
    }

    @media (max-width: $tablet){
        .theme-#{$color}{
            #header .link-contact a{
                color: $colorprimary;
                &:hover, &:focus{
                    color: $colorsecondary;
                }
            }
        }
    }
}
