.blog-title{
    margin-bottom: $line-height*2;
}

.blog-list, .alm-reveal{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog-list{
    > .post:first-child{
        background: $secondary;
        color: #fff;
        h2{
            font-size: 5.6rem;
        }
        a, .post-duration{
            color: #fff;
        }
    }
    .newsletter{
        width: 100%;
        margin: 0 0 $line-height;
    }
}

.blog-nav, .blog-cats{
    display: flex;
    align-items: center;
}
.blog-nav{
    padding: 30px $gutter 16px 0;
    justify-content: space-between;
    background: #fff;
}
.blog-cats{
    flex-wrap: wrap;
    margin: 0;
    font-size: 1.2rem;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    transition: $transition;
    .off &{
        opacity: 0.4;
    }
    > li{
        margin: 0 $gutter/2 10px $gutter/2;
        &:before{
            content: none;
        }
    }
    a{
        font-weight: 400;
        text-decoration: none;
        color: inherit;
    }
}
.blog-search{
    display: flex;
    position: relative;
    margin: 0 0 10px;
    &.on{
        input{
            display: block;
        }
    }
    input{
        display: none;
        max-width: none;
        padding-top: 10px;
        position: absolute;
        right: 20px;
        top: -16px;
        background: $bg-color;
    }
    button{
        width: 15px;
        height: 15px;
        line-height: 0;
    }
    .icon{
        width: 100%;
        height: 100%;
    }
}

.post{
    width: 100%;
    padding: 45px 30px;
    margin: 0 0 $line-height;
    background: #fff;
    h2, h3{
        margin: $line-height 0 0;
        font-size: 2.6rem;
        > a{
            text-decoration: none;
        }
    }
    p{
        > a{
            font-weight: inherit;
            color: inherit;
            text-decoration: none;
        }
    }
}
.post-cats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icons{
        white-space: nowrap;
    }
    .icon{
        width: 22px;
        height: 22px;
        margin: 0 0 0 12px;
    }
}
.cats{
    font-size: 1.6rem;
    > a{
        font-weight: 400;
    }
}
.post-duration{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-style: italic;
    color: $grey;
    > .icon{
        width: 17px;
        height: 17px;
        margin: 0 5px 0 0;
    }
}

.article{
    padding-top: $line-height*2;
    h1{
        margin: 0;
    }
    .col-3-desk{
        margin: 0 auto;
    }
}

.wrapper-collant{
    padding-bottom: 80px;
    position: relative;
}
.collant{
    position: fixed !important;
}
.collant-stuck{
    position: absolute;
}

.share{
    position: absolute;
    bottom: 0;
}
.share-list{
    display: flex;
    text-align: center;
    > li{
        margin: 0 14px 0 0;
        &:before{
            content: none;
        }
    }
    a{
        display: block;
        width: 44px;
        height: 44px;
        line-height: 42px;
        background: $tertiary;
        color: #fff;
        &:hover, &:focus{
            background: $quaternary;
        }
    }
}

.tags{
    display: flex;
    margin: $line-height 0 0;
    flex-wrap: wrap;
    font-size: 1.6rem;
    .single-post &{
        margin-top: $line-height*2;
    }
    > span, > a{
        display: block;
        padding: 1px 10px 3px;
        margin: 0 10px 10px 0;
        font-weight: 400;
        text-decoration: none;
        color: #fff;
        background: $text-color;
    }
    > a{
        &:hover, &:focus{
            opacity: 0.7;
        }
    }
}

.related-posts{
    h2{
        text-align: center;
    }
    > div{
        display: flex;
        justify-content: space-between;
        margin: $line-height*2 0 0;
        flex-wrap: wrap;
    }
}

.comments{
    h3{
        margin: 3.5em 0 $line-height*1.5;
    }
}
.comments-list{
    > li{
        padding: $line-height*1.5 0 0;
        &:before{
            content: none;
        }
        &:after{
            content: '';
            display: block;
            width: 330px;
            height: 1px;
            margin: $line-height*1.5 auto 0;
            background: $text-color;
            opacity: 0.5;
        }
    }
}
.comment-author{
    font-size: 2rem;
    font-weight: 700;
    color: $primary;
}
.comment-date{
    display: block;
    font-size: 1.6rem;
    font-style: italic;
    color: $grey;
}

.author-wrapper{
    p{
        margin-top: 0;
    }
}
.author-img{
    width: 85px;
    height: 85px;
    min-width: 85px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 25px 0 0;
}
.author-title{
    margin: 2em 0 $line-height;
    font-size: 2.6rem;
}
.author-name{
    font-size: 2rem;
    font-weight: 700;
    color: $primary;
}


@media (min-width: $tablet){
    .blog-list{
        > .post{
            &:first-child{
                width: 100%;
            }
        }
    }

    .post{
        width: 48.5%;
    }

    .author-wrapper{
        display: flex;
        align-items: center;
    }
    
    .author-title{
        margin-left: 110px;
    }
}

@media (min-width: $desktop){
    .blog-list{
        > .post{
            &:nth-child(5), &:nth-child(6), &:nth-child(5n+14), &:nth-child(5n+15){
                width: 48.5%;
            }
        }
    }

    .alm-reveal{
        > .post{
            &:nth-child(5n+1), &:nth-child(5n+2){
                width: 48.5%;
            }
        }
    }

    .post{
        width: 31.5%;
        &:first-child{
            width: 31.5%;
        }
        .related-posts &{
            width: 48.5%;
        }
    }

    .wrapper-collant{
        padding-bottom: 0;
    }

    .share{
        top: auto;
        bottom: auto;
        margin: 35px 0 0;
    }
    .share-list{
        display: block;
        > li{
            margin: 0 0 15px;
        }
    }
}
