.editor{
    > *{
        clear: both;
    }

    .center{
        margin-left: auto;
        margin-right: auto;
    }
    .right{
        float: right;
    }
}

.wp-block-image {
    max-width: none;
    margin: 2.5em 0 0;
    .alignright, .alignleft {
        margin: 0;
        float: none;
    }
    figcaption{
        padding: 5px 0 0 $gutter;
        font-size: 1.8rem;
        font-style: italic;
        text-align: left;
        color: $text-color;
    }
}

.wp-block-gallery{
    margin-top: $line-height*2;
    margin-bottom: $line-height*2;
}


@media (min-width: $desktop-small) {
    .editor{
        .medium{
            width: $col*3;
            padding-left: $border-size/2;
            padding-right: $border-size/2;
        }
    }

    .wp-block-image {
        .alignright {
            margin: 0 0 2em $gutter;
            float: right;
        }
        .alignleft {
            margin: 0 $gutter 2em $gutter * -1;
            float: left;
        }
    }
}

@media (min-width: $desktop) {
    .wp-block-image {
        .col-3-dek &{
            width: calc(129% + #{$gutter});
        }
    }
}

@media (min-width: $desktop-huge) {
    .wp-block-image {
        .col-3-dek &{
            width: calc(133.33% + #{$gutter});
        }
    }
}