/* Footer */

.main-footer {
    margin: 7.5em 0 0;
    .home &{
        margin-top: 0;
    }
    a:not(.btn) {
        color: inherit;
        &:hover,
        &:focus {
            opacity: 0.6;
        }
    }
    .container {
        position: relative;
    }
}

.newsletter-container {
    padding: 40px 0;
    background: $white;
}

.newsletter-footer {
    p {
        margin-top: 0;
    }
    .mc4wp-form {
        margin: 20px 0 0;
    }
}
.newsletter-title {
    font-size: 2.2rem;
    font-weight: 700;
    color: $primary;
}

.footer-contact {
    padding: $line-height $gutter;
    margin: 2em 0 -5em;
    background: $bg-color;
    p {
        margin: 0 0 20px;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2;
    }
    strong{
        color: $primary;
    }
    br{
        display: none;
    }
}

.main-footer-container {
    padding: 2em 0 3.5em;
    font-size: 1.6rem;
    background: $primary;
    color: $white;
}

.main-footer-top,
.main-footer-middle,
.main-footer-bottom {
    padding: 3.5em 0 0;
}
.main-footer-top,
.main-footer-bottom {
    align-items: center;
}
.main-footer-middle,
.main-footer-bottom{
    display: flex;
    flex-wrap: wrap;
}
.main-footer-middle {
    align-items: flex-start;
}

.footer-col-small{
    width: 50%;
    margin: 0 0 3em;
}
.footer-col-big{
    width: 100%;
}

.main-footer-bottom {
    a {
        font-weight: 600;
        text-decoration: none;
    }
}

.main-footer-baseline {
    font-size: 2.2rem;
}

.container-social {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0 0 $line-height;
}

.social {
    display: flex;
    margin: 0 15px;
    align-items: center;
    > li {
        margin: 0 5px;
        &:before {
            content: none;
        }
    }
    a {
        display: flex;
        width: 30px;
        height: 30px;
        border: 1px solid;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
}


@media (min-width: $desktop-small){
    .footer-col-small{
        width: 25%;
        margin: 0;
    }
    .footer-col-big{
        width: 50%;
    }

    .main-footer-top{
        display: flex;
    }
    .footer-logo{
        width: 25%;
    }
}

@media (min-width: $desktop){
    .footer-contact{
        width: calc(#{$col} + #{$gutter});
        position: absolute;
        top: $line-height;
        right: $gutter * 2;
        z-index: 10;
        br{
            display: block;
        }
    }

    .main-footer-container{
        padding-top: 0;
    }

    .container-social {
        width: 25%;
        margin: 0;
    }
}
