/* Forms */

// ::-webkit-input-placeholder{
// }
// ::-moz-placeholder{
// }
// :-ms-input-placeholder{
// }

input,
textarea,
select,
button {
    transition: $transition;
    &:focus {
        outline: 0;
    }
}

input,
textarea {
    padding: 16px 15px 10px;
    border: 0;
    font-size: 1.6rem;
    background: #fff;
    transition: $transition;
    &:invalid {
        // FF red borders
        box-shadow: none;
    }
    &:focus{
        background: rgba(#fff, 0.9);
    }
}

input {
    width: 380px;
    max-width: 100%;
    // hide the symbols of input search
    &[type=email]{
        width: 330px;
    }
    &[type=search] {
        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration {
            display: none;
        }
    }
}

textarea{
    width: 100%;
    height: 200px;
}

select {
    // hide the arrow on edge + ie
    &::-ms-expand {
        display: none;
    }
}

button {
    border: 0;
}

label {
    font-size: 1.6rem;
}

.field-flex{
    display: flex;
    flex-wrap: wrap;
    .field{
        margin-right: 12px;
    }
}

.field {
    max-width: 100%;
    position: relative;
    margin: 0 0 12px;
    > label {
        position: absolute;
        top: 12px;
        left: 15px;
        font-style: italic;
        opacity: 0.4;
        transform-origin: 0 0;
        transition: $transition;
    }
    input,
    textarea {
        &:focus, &.active {
            + label {
                transform: scale(0.7) translate3d(0, -14px, 0);
            }
        }
    }
}
