/* Forms */

// ::-webkit-input-placeholder{
// }
// ::-moz-placeholder{
// }
// :-ms-input-placeholder{
// }

input,
textarea,
select,
button {
    transition: $transition;
    &:focus {
        outline: 0;
    }
}

input,
textarea {
    padding: 16px 15px 10px;
    border: 0;
    font-size: 1.6rem;
    background: $bg-color;
    &:-webkit-autofill {
        box-shadow: 0 0 0 1000px #fff inset;
    }
    &:invalid {
        // FF red borders
        box-shadow: none;
    }
}

input {
    // hide the symbols of input search
    &[type="search"] {
        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration {
            display: none;
        }
    }
}

select {
    // hide the arrow on edge + ie
    &::-ms-expand {
        display: none;
    }
}

button {
    border: 0;
}

label {
    font-size: 1.6rem;
}

.field {
    position: relative;
    > label {
        position: absolute;
        top: 12px;
        left: 15px;
        font-style: italic;
        opacity: 0.4;
        transform-origin: 0 0;
        transition: $transition;
    }
    input,
    textarea {
        &:focus {
            + label {
                transform: scale(0.7) translate3d(0, -14px, 0);
            }
        }
    }
}

.newsletter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    label {
        pointer-events: none;
    }
    input{
        width: 100%;
    }
    .field {
        width: 100%;
        margin: 0 0 6px;
    }
}
.newsletter-input-hidden {
    display: none;
    padding: 10px 0 0;
    line-height: 1.2;
    &.visible{
        display: block;
    }
    label{
        font-size: 1.2rem;
    }
}


@media (min-width: $phone-small){
    .newsletter{
        .field{
            width: calc(50% - 3px);
        }
    }
}

@media (min-width: $tablet){
    .newsletter{
        justify-content: flex-start;
        .field{
            width: auto;
            margin: 0 6px 0 0;
        }
    }
}

@media (min-width: $desktop){
    .newsletter-input-hidden{
        max-width: 55%;
    }
}
