/* Grid */

.main {
    padding: 4em 0 7.5em;
    overflow: hidden;
    .no-js & {
        opacity: 1 !important;
    }
    .home &{
        padding-bottom: 0;
    }
}

.container {
    max-width: $container;
    padding: 0 $gutter;
    margin: 0 auto;
}

@media (min-width: $desktop-small) {
    .col-2-desk {
        width: $col * 2;
        padding: 0 $gutter 0 0;
    }
}

@media (min-width: $desktop) {
    .col-3-desk {
        width: $col * 3;
    }
}
