/* Grid */

.container{
    max-width: $container;
    padding: 0 $gutter;
    margin: 0 auto;
}

.col-1{
    width: $col;
}
.col-2{
    width: $col*2;
}


@media (min-width: $desktop){

    .container{
        padding: 0 $gutter*2;
    }

    .col-3-desk{
        width: $col*3;
    }

}
