/* Grid */

.main{
    padding: 4em 0 0;
    .no-js &, .loading &{
        opacity: 0;
    }
}

.container {
    max-width: $container;
    padding: 0 $gutter;
    margin: 0 auto;
}

@media (min-width: $desktop) {
    .col-3-desk {
        width: $col * 3;
    }
}
