/* Header */
$header-height: 84px;

.main-header {
    padding-top: $line-height;
    > .container {
        display: flex;
        justify-content: space-between;
    }
}

.main-navigation {
    position: fixed;
    top: 0;
    left: 100%;
    right: -100%;
    bottom: 0;
    background: $white;
    transition: transition(
        (
            transform: "#{$big-mouse-duration}s"
        ),
        $cat-mouse-easing-in
    );
    z-index: 2;
    &.activated {
        transform: translate3d(-100%, 0, 0);
        transition: transition(
            (
                transform: "#{$big-mouse-duration}s 0.4s"
            ),
            $cat-mouse-easing-out
        );
    }
}

.main-navigation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: $header-height $gutter * 3 $line-height;
    .menu {
        margin: auto 0 auto;
        font-weight: 500;
        text-align: center;
        > li {
            padding: 0;
            margin: 9vh 0 0;
            &:before {
                content: none;
            }
            &:nth-child(1) {
                margin-top: 0;
            }
        }
    }
}

.burger {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 3;
    > span {
        width: 25px;
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background: transparent;
        &::before,
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 5px;
            transform-origin: 0 50%;
        }
        &::before {
            background: $light-grey;
        }
        &::after {
            background: $primary;
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            &::before {
                transition: transition(
                    (
                        transform: "#{$mouse-duration}s #{$mouse-duration + 0.2}s"
                    ),
                    $cat-mouse-easing-out
                );
            }
            &::after {
                transition: transition(
                    (
                        transform: "#{$cat-duration}s #{$mouse-duration + 0.25}s"
                    ),
                    $cat-mouse-easing-out
                );
            }
        }
        &:nth-child(1) {
            transform: translate(0, -9px) scale3d(1, 1, 1);
            &::before,
            &::after {
                transform-origin: 0 50%;
            }
        }
        &:nth-child(2) {
            &::before,
            &::after {
                transform-origin: 100% 50%;
            }
        }
        &:nth-child(3) {
            transform: translate(0, 9px);
            &::before,
            &::after {
                transform-origin: 0 50%;
            }
        }
        &:nth-child(4),
        &:nth-child(5) {
            &::before,
            &::after {
                transform: scale3d(0, 1, 1);
            }
            &::before {
                transition: transition(
                    (
                        transform: "#{$mouse-duration}s 0.2s"
                    ),
                    $cat-mouse-easing-out
                );
            }
            &::after {
                transition: transition(
                    (
                        transform: "#{$cat-duration}s 0.1s"
                    ),
                    $cat-mouse-easing-out
                );
            }
        }
        &:nth-child(4) {
            transform: rotateZ(45deg);
            &::before,
            &::after {
                transform-origin: 100% 50%;
            }
        }
        &:nth-child(5) {
            transform: rotateZ(-45deg);
            &::before,
            &::after {
                transform-origin: 0 50%;
            }
        }
    }
    &.activated {
        > span {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                &::before,
                &::after {
                    transform: scale3d(0, 1, 1);
                }
                &::before {
                    transition: transition(
                        (
                            transform: "#{$mouse-duration}s 0.2s"
                        ),
                        $cat-mouse-easing-in
                    );
                }
                &::after {
                    transition: transition(
                        (
                            transform: "#{$cat-duration}s"
                        ),
                        $cat-mouse-easing-in
                    );
                }
            }
            &:nth-child(4),
            &:nth-child(5) {
                &::before,
                &::after {
                    transform: scale3d(1, 1, 1);
                }
                &::before {
                    transition: transition(
                        (
                            transform: "#{$mouse-duration}s #{$mouse-duration + 0.2}s"
                        ),
                        $cat-mouse-easing-out
                    );
                }
                &::after {
                    transition: transition(
                        (
                            transform: "#{$cat-duration}s #{$mouse-duration + 0.3}s"
                        ),
                        $cat-mouse-easing-out
                    );
                }
            }
        }
    }
}
