/* Header */
$header-height: 84px;

.main-header {
    padding-top: $line-height * 2;
    > .container {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        z-index: 3;
    }
}

.main-navigation {
    position: fixed;
    top: 0;
    left: 100%;
    right: -100%;
    bottom: 0;
    transition: transition(
        (
            transform: "#{$mouse-duration}s #{0.1 + $cat-duration * 3}s"
        ),
        $cat-mouse-easing-out
    );
    z-index: 2;
    .no-js & {
        opacity: 1 !important;
    }
    > .line-opening {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scale3d(1, 0.02, 1);
        transform-origin: 50% 100%;
        transition: transition(
            (
                transform: "#{$cat-duration}s #{0.1 + $cat-duration * 2}s"
            ),
            $cat-mouse-easing-out
        );
        z-index: -1;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
        }
        &::before {
            left: 0;
            right: 0;
            background: $light-grey;
            z-index: -2;
        }
        &::after {
            left: 100%;
            right: -100%;
            background: $primary;
            transition: transition(
                (
                    background-color: "#{$cat-duration}s #{0.1 + $mouse-duration}s",
                    transform: "0s #{0.1 + $cat-duration * 4}s"
                ),
                $cat-mouse-easing-in
            );
            z-index: -1;
        }
    }
    &.activated {
        transform: translate3d(-100%, 0, 0);
        transition: transition(
            (
                transform: "#{$mouse-duration}s"
            ),
            $cat-mouse-easing-out
        );
        > .line-opening {
            transform: scale3d(1, 1, 1);
            transition: transition(
                (
                    transform: "#{$cat-duration}s #{$cat-duration + 0.05}s"
                ),
                $cat-mouse-easing-in
            );
            &::after {
                background: $bg-color;
                transform: translate3d(-100%, 0, 0);
                transition: transition(
                    (
                        background-color:
                            "#{$cat-duration}s #{$cat-duration + 0.05 + $cat-duration + 0.2}s",
                        transform: "#{$cat-duration}s 0.1s"
                    ),
                    $cat-mouse-easing-out
                );
            }
        }
        .mlp-language-box {
            opacity: 1;
            transition: transition(
                (
                    opacity:
                        "#{$fade-duration}s #{$cat-duration + 0.05 + $cat-duration + 0.1 + 0.3}s"
                ),
                $fade-easing
            );
        }
        .main-navigation-container {
            opacity: 1;
            transition: transition(
                (
                    opacity:
                        "#{$fade-duration}s #{$cat-duration + 0.05 + $cat-duration + 0.1 + 0.3}s"
                ),
                $fade-easing
            );
        }
        > .menu-borders {
            > .border {
                &::before,
                &::after {
                    transform: scale3d(1, 1, 1);
                }
            }
            > .first {
                &::before {
                    transition: transition(
                        (
                            transform:
                                "#{$big-mouse-duration}s #{$cat-duration + 0.05 + $cat-duration + 0.1 + 0.3 + $fade-duration}s"
                        ),
                        $cat-mouse-easing-in
                    );
                }
                &::after {
                    transition: transition(
                        (
                            transform:
                                "#{$big-cat-duration}s #{$cat-duration + 0.05 + $cat-duration + 0.1 + 0.3 + $fade-duration}s"
                        ),
                        $cat-mouse-easing-in
                    );
                }
            }
            > .second {
                &::before {
                    transition: transition(
                        (
                            transform:
                                "#{$mouse-duration}s #{$cat-duration + 0.05 + $cat-duration + 0.1 + 0.3 + $fade-duration + $big-mouse-duration}s"
                        ),
                        $cat-mouse-easing-out
                    );
                }
                &::after {
                    transition: transition(
                        (
                            transform:
                                "#{$cat-duration}s #{$cat-duration + 0.05 + $cat-duration + 0.1 + 0.3 + $fade-duration + $big-cat-duration}s"
                        ),
                        $cat-mouse-easing-out
                    );
                }
            }
            > .third {
                &::before {
                    transition: transition(
                        (
                            transform:
                                "#{$mouse-duration}s #{$cat-duration + 0.05 + $cat-duration + 0.1 + 0.3 + $fade-duration + $big-mouse-duration + $mouse-duration}s"
                        ),
                        $cat-mouse-easing-out
                    );
                }
                &::after {
                    transition: transition(
                        (
                            transform:
                                "#{$cat-duration}s #{$cat-duration + 0.05 + $cat-duration + 0.1 + 0.3 + $fade-duration + $big-cat-duration + $cat-duration}s"
                        ),
                        $cat-mouse-easing-out
                    );
                }
            }
        }
    }
}

.main-navigation-container {
    display: flex;
    padding: $header-height + $line-height * 2 $gutter $line-height;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: transition(
        (
            opacity: "#{$fade-duration}s"
        ),
        $fade-easing
    );
}

.menu-borders {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    > .border {
        position: absolute;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: transition(
                (
                    transform: "#{$mouse-duration}s"
                ),
                $cat-mouse-easing-out
            );
        }
        &::before {
            background: $light-grey;
        }
        &::after {
            background: $primary;
        }
    }
    > .first,
    > .third {
        width: $border-size;
        &::before,
        &::after {
            transform: scale3d(1, 0, 1);
        }
    }
    > .second,
    > .third {
        left: 0;
        bottom: 0;
    }
    > .first {
        height: 100%;
        top: 0;
        right: 0;
        z-index: 2;
        &::before,
        &::after {
            transform-origin: 50% 0;
            transition-delay: #{$mouse-duration * 2}s;
        }
    }
    > .second {
        width: 100%;
        height: $border-size;
        z-index: 1;
        &::before,
        &::after {
            transform-origin: 100% 50%;
            transform: scale3d(0, 1, 1);
            transition-delay: #{$mouse-duration}s;
        }
    }
    > .third {
        height: 22vh;
        &::before,
        &::after {
            transform-origin: 50% 100%;
        }
    }
}

.menu {
    margin: 0;
    font-size: 2rem;
    list-style-type: none;
    > li {
        padding: 0;
        margin: 0 0 $line-height;
        &::before {
            content: none;
        }
        &:last-child {
            margin-bottom: 0;
            font-weight: 700;
            a {
                color: $primary;
            }
        }
    }
    .current-menu-item {
        font-weight: 700;
    }
    a {
        font-weight: inherit;
        color: $text-color;
        text-decoration: none;
    }
}

.mlp-language-box {
    position: absolute;
    right: $border-size;
    bottom: $border-size;
    opacity: 0;
    transition: transition(
        (
            opacity: "#{$fade-duration}s"
        ),
        $fade-easing
    );
    > ul {
        display: flex;
        margin: 0;
        > li {
            width: 3rem;
            height: 3rem;
            position: relative;
            &::before {
                content: none;
            }
        }
    }
    a {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        text-decoration: none;
        text-transform: lowercase;
        font-weight: 400;
        transition: transition(
            (
                color: "#{$cut-duration}",
                background: "#{$cut-duration}"
            ),
            ease-in-out
        );
        &:not(.current-language-item) {
            color: $text-color;
            &:hover {
                background: $primary;
                color: $white;
            }
        }
    }
    .current-language-item {
        background: $primary;
        color: $white;
    }
}

.burger {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 3;
    > span {
        width: 25px;
        height: 2px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        &::before,
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 5px;
            transform-origin: 0 50%;
        }
        &::before {
            background: $light-grey;
        }
        &::after {
            background: $primary;
        }
        &.sesame-bun,
        &.steak,
        &.bun {
            &::before {
                transition: transition(
                    (
                        transform: "#{$mouse-duration}s #{$fade-duration + $mouse-duration + 0.2}s"
                    ),
                    $cat-mouse-easing-out
                );
            }
            &::after {
                transition: transition(
                    (
                        transform: "#{$cat-duration}s #{$fade-duration + $mouse-duration + 0.25}s"
                    ),
                    $cat-mouse-easing-out
                );
            }
        }
        &.sesame-bun {
            transform: translate(0, -9px) scale3d(1, 1, 1);
            &::before,
            &::after {
                transform-origin: 0 50%;
            }
        }
        &.steak {
            &::before,
            &::after {
                transform-origin: 100% 50%;
            }
        }
        &.bun {
            transform: translate(0, 9px);
            &::before,
            &::after {
                transform-origin: 0 50%;
            }
        }
        &.first-cross-line,
        &.second-cross-line {
            &::before,
            &::after {
                transform: scale3d(0, 1, 1);
            }
            &::before {
                transition: transition(
                    (
                        transform: "#{$mouse-duration}s #{$fade-duration + 0.1}s"
                    ),
                    $cat-mouse-easing-out
                );
            }
            &::after {
                transition: transition(
                    (
                        transform: "#{$cat-duration}s #{$fade-duration}s"
                    ),
                    $cat-mouse-easing-out
                );
            }
        }
        &.first-cross-line {
            transform: rotateZ(45deg);
            &::before,
            &::after {
                transform-origin: 100% 50%;
            }
        }
        &.second-cross-line {
            transform: rotateZ(-45deg);
            &::before,
            &::after {
                transform-origin: 0 50%;
            }
        }
    }
    &.activated {
        > span {
            &.sesame-bun,
            &.steak,
            &.bun {
                &::before,
                &::after {
                    transform: scale3d(0, 1, 1);
                }
                &::before {
                    transition: transition(
                        (
                            transform: "#{$mouse-duration}s 0.2s"
                        ),
                        $cat-mouse-easing-in
                    );
                }
                &::after {
                    transition: transition(
                        (
                            transform: "#{$cat-duration}s"
                        ),
                        $cat-mouse-easing-in
                    );
                }
            }
            &.first-cross-line,
            &.second-cross-line {
                &::before,
                &::after {
                    transform: scale3d(1, 1, 1);
                }
                &::before {
                    transition: transition(
                        (
                            transform: "#{$mouse-duration}s #{$mouse-duration + 0.2}s"
                        ),
                        $cat-mouse-easing-out
                    );
                }
                &::after {
                    transition: transition(
                        (
                            transform: "#{$cat-duration}s #{$mouse-duration + 0.3}s"
                        ),
                        $cat-mouse-easing-out
                    );
                }
            }
        }
    }
}

@media (min-width: $desktop-small) {
    .main-header {
        padding-top: $line-height * 3;
    }
    .main-navigation {
        position: initial;
        left: auto;
        right: auto;
        bottom: auto;
        > .line-opening {
            display: none;
        }
    }
    .main-navigation-container {
        padding: 0;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        opacity: 1;
    }
    .menu {
        display: flex;
        font-size: 1.6rem;
        > li {
            margin-left: $gutter / 2;
            margin-bottom: 0;
            &:first-child {
                margin-left: 0;
            }
        }
        a {
            display: inline-flex;
            position: relative;
            padding-bottom: 2px;
            overflow: hidden;
            &::before,
            &::after {
                content: "";
                height: 2px;
                position: absolute;
                bottom: 0px;
                left: -100%;
                right: 100%;
            }
            &::before {
                background: $light-grey;
                transition: transition(
                    (
                        transform: "#{$mouse-duration}s"
                    ),
                    $cat-mouse-easing-out
                );
            }
            &::after {
                background: $primary;
                transition: transition(
                    (
                        transform: "#{$cat-duration}s #{$mouse-duration / 2}s"
                    ),
                    $cat-mouse-easing-out
                );
            }
            &:hover,
            &:focus {
                &::before,
                &::after {
                    transform: translate3d(100%, 0, 0);
                }
                &::before {
                    transition: transition(
                        (
                            transform: "#{$mouse-duration}s"
                        ),
                        $cat-mouse-easing-out
                    );
                }
                &::after {
                    transition: transition(
                        (
                            transform: "#{$cat-duration}s #{$mouse-duration / 2}s"
                        ),
                        $cat-mouse-easing-out
                    );
                }
            }
        }
    }
    .mlp-language-box {
        top: $border-size;
        bottom: auto;
        opacity: 1;
    }
    .menu-borders {
        display: none;
    }
    .burger {
        display: none;
    }
}

@media (min-width: $desktop) {
    .menu {
        > li {
            margin-left: $gutter;
        }
    }
}
