/* Animations */

// Durations
$comme-dans-du-beurre-duration: 0.23s;
$plop-duration: 0.4s;
$smooth-operator-duration: 0.5s;

// Transition timing functions
$comme-dans-du-beurre-timing: cubic-bezier(0.25, 0.46, 0.25, 1);
$plop-timing: cubic-bezier(0.6, 0.2, 0.2, 1);
$smooth-operator-timing: cubic-bezier(0.455, 0.03, 0.515, 0.955);

// Transitions functions
@function comme-dans-du-beurre($list) {
    @return transition($list, $comme-dans-du-beurre-timing);
}

@function plop($list) {
    @return transition($list, $plop-timing);
}

@function smooth-operator($list) {
    @return transition($list, $smooth-operator-timing);
}

// Transition generator
@function transition($list, $timing-function) {
    $transition: "";
    $i: 1;
    @each $property, $value in $list {
        $transition: $transition +
            " " +
            $property +
            " " +
            $value +
            " " +
            $timing-function;
        @if ($i != length($list)) {
            $transition: $transition + ",";
        }
        $i: $i + 1;
    }
    @return #{$transition};
}

// Keyframes

@keyframes animated-gradient-emphasis {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 0% 0%;
    }
    60% {
        background-position: 100% 100%;
    }
    65% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes animated-gradient-hover {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@mixin fluid-background-btn($type: "emphasis") {
    @include btn-gradient();
    background-size: 1000%;
    will-change: background-position;
    @if ($type == "emphasis") {
        animation: animated-gradient-emphasis
            15s
            $smooth-operator-timing
            infinite;
    } @else if ($type == "hover") {
        animation: animated-gradient-hover 2s $smooth-operator-timing infinite;
    }
}
