// Variables //

// COLORS //

$white: #fff;
$black: #000;
$light-grey: #ababab;
$txt: #404040;
$bg: #f7f2ea;
$primary: #1e5e32;
$primary-light: #4d917e;
$secondary: #65a3da;
$tertiary: #df622d;
$quaternary: #f8ba41;

// TRANSITIONS //

// Durations
$minions-duration: 0.23s;
$cat-duration: 0.4;
$mouse-duration: 0.23;
$big-cat-duration: 0.8;
$big-mouse-duration: 0.5;
$cut-duration: 0.05s;

// Transition timing functions
$minions-easing: cubic-bezier(0.25, 0.46, 0.25, 1);
$cat-mouse-easing-in: cubic-bezier(0.72, 0.01, 0.74, -0.09);
$cat-mouse-easing-out: cubic-bezier(0.26, 1.09, 0.28, 0.99);

$transition: $cut-duration ease-in-out;

// FONTS //

$sofia: "sofia-pro", sans-serif;

// MEDIAQUERIES //

$desktop: 1100px;
$desktop-small: 960px;
$tablet: 780px;
$phone: 580px;
$phone-small: 400px;

$retina: "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)";

// GRID //

$container: 1400px;
$col: 100/4 * 1%;
$gutter: 44px;
$line-height: 28px;
