// Variables //

// COLORS //

$white: #fff;
$black: #000;
$grey: #aeaeae;
$text-color: #404040;
$bg-color: #f7f2ea;
$light-grey: #ababab;
$primary: #1e5e32;
$primary-light: #4d917e;
$secondary: #65a3da;
$tertiary: #df622d;
$tertiary-light: #ec8d28;
$quaternary: #f8ba41;

// TRANSITIONS //

// Durations
$minions-duration: 0.23;
$cat-duration: 0.4;
$mouse-duration: 0.23;
$big-cat-duration: 0.8;
$big-mouse-duration: 0.5;
$cut-duration: 0.05s;
$fade-duration: 0.3;
$btn-invert-duration: 0.15;
$btn-invert-delay: 0.08s;

// Transition timing functions
$minions-easing: cubic-bezier(0.25, 0.46, 0.25, 1);
$cat-mouse-easing-in: cubic-bezier(0.72, 0.01, 0.74, -0.09);
$cat-mouse-easing-out: cubic-bezier(0.26, 1.09, 0.28, 0.99);
$fade-easing: ease-out;

$transition: $cut-duration ease-in-out;

// FONTS //

$sofia: "sofia-pro", sans-serif;

// GRID //

$container: 1400px;
$col: 100/4 * 1%;
$gutter: 44px;
$line-height: 28px;
$border-size: 12px;

// MEDIAQUERIES //
// Horizontal
$desktop-huge: $container + $gutter * 4;
$desktop-big: 1280px;
$desktop: 1100px;
$desktop-small: 960px;
$tablet: 780px;
$phone: 580px;
$phone-small: 400px;

// Vertical
$desktop-v: 550px;
$desktop-big-v: 960px;

$retina: "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)";
