.contact-sidebar {
    padding-top: $line-height * 2;
    padding-bottom: $line-height * 2;
    color: $white;
    background: $primary;
    .title {
        margin: 0 0 $line-height;
        color: $white;
    }
}

.contact-info {
    display: flex;
    flex-direction: column;
    .info {
        margin-bottom: $line-height * 0.5;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .icon {
        margin-right: 5px;
    }
    .info-link {
        text-decoration: none;
        color: $white;
    }
}

.contact-form {
    .content {
        margin-bottom: $line-height;
        h2 {
            &:first-child {
                margin-top: $line-height * 3;
                margin-bottom: $line-height;
            }
        }
    }
    .form {
        input {
            &[type="text"],
            &[type="email"] {
                width: 100%;
                max-width: 330px;
            }
            &[type="tel"] {
                width: 100%;
                max-width: 175px;
            }
            &[type="checkbox"] {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }
        }
        select {
            width: 100%;
        }
        textarea {
            width: 100%;
            max-width: 570px;
        }
        label {
            pointer-events: none;
        }
        .js & {
            .is-checkbox {
                display: flex;
                position: relative;
                .wpcf7-list-item-label {
                    cursor: pointer;
                }
            }
            span {
                &.wpcf7-list-item {
                    margin-left: 20px;
                }
            }
            .custom-checkbox {
                display: inline-flex;
                width: 1.3rem;
                height: 1.3rem;
                position: absolute;
                top: 8px;
                left: 0;
                border: 1px solid $text-color;
                z-index: 1;
                cursor: pointer;
                &::after {
                    content: "";
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    right: 2px;
                    bottom: 2px;
                }
                &.activated {
                    &::after {
                        background: $tertiary;
                    }
                }
            }
        }
    }
    span.wpcf7-not-valid-tip {
        margin-top: 10px;
        margin-left: 15px;
        font-size: 1.6rem;
    }
    .wpcf7-validation-errors {
        display: none;
    }
    .wpcf7-mail-sent-ok {
        margin-left: 15px;
        padding: 0;
        border: 0;
    }
}

@media (min-width: $phone) {
    .contact-form {
        .form {
            select {
                width: 395px;
            }
        }
    }
}

@media (min-width: $desktop-small) {
    .page-template-contact {
        > .main {
            padding-top: 0;
        }
    }
    .contact-section {
        margin-top: $line-height * 4;
    }
    .contact-sidebar {
        width: calc(50% - #{$gutter * 2});
        position: absolute;
        top: 35vh;
        bottom: auto;
        .col-2-desk {
            width: 100%;
        }
    }
    .contact-form {
        .col-2-desk {
            margin-left: auto;
        }
        .content {
            h2 {
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

@media (min-width: $container) {
    .contact-sidebar {
        width: $container * 0.38;
    }
}

// .page-template-contact{
//     .main{
//         padding-bottom: 0;
//     }

//     .col-3-desk{
//         margin: 0 auto;
//     }
// }

// .contact-infos{
//     padding: 20px 0;
//     margin: $line-height*2 0 0;
//     font-size: 1.4rem;
//     background: $tertiary;
//     span{
//         display: flex;
//         margin: 10px 0;
//         align-items: center;
//     }
//     a, .icon{
//         line-height: 1;
//         color: #fff;
//     }
//     a{
//         &:hover, &:focus{
//             opacity: 0.7;
//         }
//     }
//     .icon{
//         width: 17px;
//         height: 17px;
//         margin: 0 20px 0 0;
//     }
// }

// .contact-form{
//     padding: $line-height*3 0 $line-height*4;
//     overflow: hidden;
//     background: $primary;
//     input{
//         &[type=email]{
//             width: 380px;
//         }
//     }
//     form{
//         max-width: 650px;
//     }
//     .wpcf7-submit{
//         float: right;
//     }
//     .wpcf7-response-output{
//         padding: 0;
//         border: 0;
//         margin-left: 0;
//         margin-right: 0;
//         clear: both;
//         color: #fff;
//     }
//     span.wpcf7-not-valid-tip{
//         color: #fff;
//     }
// }

// @media (min-width: $phone){
//     .contact-infos{
//         .col-3-desk{
//             display: flex;
//             align-items: center;
//             justify-content: space-between;
//         }
//     }
// }

// @media (min-width: $tablet){
//     .contact-infos{
//         .col-3-desk{
//             justify-content: flex-start;
//         }
//         span{
//             width: 50%;
//         }
//     }
// }
