/* Home specific style */

.home-header,
.home-section {
    padding: 5px 0 7em;
    position: relative;
    text-align: center;
}

.home-header {
    padding-top: 7em;
    .video-title {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        transform: translateY(-78%);
        @include z-index("home-header-h1");
        pointer-events: none;
    }
    .video {
        &.playing,
        &:hover {
            .video-title {
                opacity: 0.5;
                transition: transition(
                    (
                        opacity: "#{$fade-duration}s"
                    ),
                    $cat-mouse-easing-out
                );
            }
        }
        .video-title {
            opacity: 1;
            transition: transition(
                (
                    opacity: "#{$fade-duration}s"
                ),
                $cat-mouse-easing-out
            );
        }
        .cover {
            transition: transition(
                (
                    opacity: "#{$fade-duration}s"
                ),
                $fade-easing
            );
        }
    }
}

.home-section {
    &:nth-of-type(1) {
        h2,
        a {
            color: $secondary;
        }
        .wrapper-img {
            margin: 0 0 0 $gutter * -1;
            text-align: left;
        }
    }
    &:nth-of-type(2) {
        h2,
        a {
            color: $primary;
        }
    }
    &:nth-of-type(3) {
        h2,
        a {
            color: $tertiary;
        }
    }
    &:nth-of-type(4) {
        h2,
        a {
            color: $tertiary-light;
        }
    }
    h2 {
        font-size: 2.6rem;
        line-height: 1;
    }
    .wrapper-img {
        text-align: center;
    }
    .wrapper-btn {
        margin: 2em 0 0;
        text-align: center;
    }
}

.morpion,
.plane-path,
.plane {
    display: none;
}

@media (min-width: $phone) {
    .home-header {
        .video-title {
            font-size: 4.6rem;
        }
    }
}

@media (min-width: $tablet) {
    .home-header {
        .video-title {
            font-size: 7rem;
        }
    }
}

@media (min-width: $desktop-small) {
    .home-header {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 11em;
        .video-title {
            width: 95.9vw;
            max-width: $container;
            padding: 0 $gutter;
            left: 50%;
            line-height: 1;
            transform: translate(-50%, -70%);
        }
        .video {
            width: 50%;
        }
    }

    @media (min-height: $desktop-v) {
        .shapes {
            .shape {
                width: 23px;
                height: 23px;
                top: 1px;
                left: 20px;
                right: 0;
                bottom: 0;
                margin: auto;
                opacity: 0;
                transform-origin: 50% 50%;
                transform: scale(0);
                @include z-index("shapes");
            }
        }

        .home-header,
        .home-section {
            display: flex;
            min-height: 85vh;
            align-items: center;
        }

        .home-section {
            text-align: left;
            &:nth-of-type(1),
            &:nth-of-type(3) {
                justify-content: flex-end;
            }
            &:nth-of-type(1) {
                padding-bottom: 10em;
            }
            &:nth-of-type(2) {
                justify-content: center;
                text-align: center;
                .wrapper-btn {
                    text-align: center;
                }
            }
            h2 {
                font-size: 4.9rem;
            }
            .wrapper-btn {
                text-align: right;
            }
            .wrapper-img {
                display: none;
            }
        }

        .section-content {
            width: 50%;
            margin-top: $line-height * 4;
            > h2 {
                margin-top: 0;
            }
        }

        .home-section {
            &:nth-of-type(3) {
                .shape {
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transform: scale(0);
                }
                .s1 {
                    left: 58px;
                }
                .s3 {
                    left: 285px;
                }
                .s4 {
                    left: 244px;
                }
                .s5 {
                    left: 225px;
                }
                .s6 {
                    left: 320px;
                }
                .s7 {
                    left: 17px;
                }
                .s8 {
                    left: 118px;
                }
                .s9 {
                    left: 110px;
                }
                .s10 {
                    left: 180px;
                }
                .s11 {
                    left: 167px;
                }
            }
        }

        .plane-path {
            display: block;
            max-width: 56%;
            height: 650px;
            position: absolute;
            bottom: 7em;
            right: 50%;
            @include z-index("plane-path");
            .svg {
                position: relative;
                float: right;
            }
        }
        .plane {
            display: block;
            width: 79px;
            height: 48px;
            position: absolute;
            top: -24px;
            left: -40px;
            background: url(../../img/plane.png);
        }

        .morpion {
            display: block;
            width: 330px;
            height: 330px;
            position: absolute;
            top: 10%;
            right: 7.5%;
            &.on {
                &:before,
                &:after,
                .vertical:before,
                .vertical:after {
                    transform: scale(1);
                }
            }
            &:before,
            &:after,
            .vertical:before,
            .vertical:after {
                content: "";
                position: absolute;
                transform-origin: 0 0;
                transform: scale(0);
                transition: 0.5s ease-in;
            }
            &:before,
            &:after {
                height: 1px;
                left: 0;
                right: 0;
                background: repeating-linear-gradient(
                    45deg,
                    $grey,
                    $grey 10px,
                    transparent 10px,
                    transparent 20px
                );
            }
            &:before {
                top: 33.3%;
            }
            &:after {
                top: 66.6%;
                transition-delay: 0.1s;
            }
            .vertical {
                &:before,
                &:after {
                    width: 1px;
                    top: 0;
                    bottom: 0;
                    background: repeating-linear-gradient(
                        $grey,
                        $grey 10px,
                        transparent 10px,
                        transparent 20px
                    );
                }
                &:before {
                    left: 33.3%;
                    transition-delay: 0.2s;
                }
                &:after {
                    left: 66.6%;
                    transition-delay: 0.3s;
                }
            }
            .shape {
                margin: 18px;
                opacity: 0;
                transform: scale(0);
            }
            .s2 {
                top: 33.3%;
                left: 33.3%;
            }
            .s3 {
                top: 66.6%;
            }
            .s4 {
                left: 66.6%;
            }
            .s5 {
                top: 33.3%;
                left: 66.6%;
            }
        }
    }
}

@media (max-height: $desktop-big-v) {
    .home-header {
        margin-top: -2em;
        margin-bottom: 2em;
    }
}
