/* Home specific style */
.home-section {
    width: 100%;
    height: 75vh;
    padding-bottom: 25vh;
    box-sizing: content-box;
    &-1 {
        background: blue;
    }
    &-2 {
        background: purple;
    }
    &-3 {
        background: red;
    }
    &-4 {
        background: orange;
    }
    &-5 {
        background: yellow;
    }
}

#borders {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10;
    .border {
        position: absolute;
    }
    > .mouse {
        > .border {
            background: $light-grey;
        }
    }
    > .cat {
        > .border {
            background: $primary;
        }
    }
    .first,
    .third {
        width: 100%;
        height: $border-size;
        transform: scale3d(0, 1, 1);
    }
    .second,
    .fourth {
        width: $border-size;
        height: 100%;
        transform: scale3d(1, 0, 1);
    }
    .first {
        top: 0;
        left: 0;
    }
    .second {
        top: 0;
        right: 0;
    }
    .third {
        left: 0;
        bottom: 0;
    }
    .fourth {
        top: 0;
        left: 0;
    }
}
