/* Learning experience specific style */

.learning-anim {
    display: none;
}

.learning-elts {
    text-align: right;
}

.learning-elts-container {
    text-align: left;
    h3 {
        font-size: 2.4rem;
        color: $primary;
    }
}

.elts-svg {
    width: 95%;
}

@media (min-width: $tablet) {
    .learning-elts-container {
        h3 {
            font-size: 2.6rem;
        }
    }
}

@media (min-width: $desktop-small) {
    .learning-elts-container {
        width: 75%;
    }
}

@media (min-width: $desktop) {
    .learning-elts-title {
        max-width: 75%;
        padding-right: $gutter * 2;
    }
    .elts-svg-wrapper {
        margin-left: -$gutter;
        margin-right: -$gutter;
    }
    .elts-svg {
        width: calc(100% - #{$gutter} - 100% / 8);
        margin-right: $gutter;
    }
    .learning-elts-container {
        margin-left: auto;
    }
    .learning-anim-container {
        display: flex;
        align-items: center;
        margin: 8em 0 5em;
        > div {
            width: 50%;
        }
        h2 {
            margin-top: 0;
        }
    }
    .learning-anim {
        display: block;
        width: 370px;
        height: 370px;
        position: relative;
        .shape {
            display: block;
            width: 75px;
            height: 75px;
            position: absolute;
            top: -37px;
            left: -37px;
            opacity: 0;
        }
        .circle {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
        .border {
            width: 656px;
            height: 656px;
            position: absolute;
            top: 0;
            left: 50%;
            bottom: 0;
            margin: auto 0 auto -328px;
            opacity: 0.2;
        }
    }
    .learning-middle {
        display: flex;
        justify-content: flex-end;
        > div {
            width: 75%;
            padding: 0 0 0 $gutter * 2;
        }
    }
}

@media (min-width: $desktop-big) {
    .learning-elts-container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        > div {
            width: 25%;
            padding: 0 $gutter;
        }
    }
}
