.offers-title {
    margin-bottom: 1.5em;
    text-align: center;
}

.offers-menu {
    display: none;
}

.offer-text,
.offer-text2 {
    h3 {
        color: $primary;
    }
}

.offer {
    margin: 7em 0 0;
    h4 {
        font-size: 2.6rem;
        font-weight: 600;
        line-height: 1.2;
    }
    img {
        display: block;
        margin: 2em auto 0 auto;
    }
    .btn-invert {
        margin-top: $line-height * 2;
    }
}

.offer-1 {
    h3,
    .btn-invert {
        color: $secondary;
    }
}

.offer-2 {
    h3,
    .btn-invert {
        color: $quaternary;
    }
}

.offer-3 {
    h3,
    .btn-invert {
        color: $tertiary;
    }
}

.offer-4 {
    h3,
    .btn-invert {
        color: $tertiary-light;
    }
}

.offer-5 {
    h3,
    .btn-invert {
        color: $primary-light;
    }
}

@media (min-width: $tablet) {
    .offers-menu {
        display: block;
        width: 100%;
        height: 135px;
        position: absolute;
        left: 0;
        padding: 1em 0 0;
        @include z-index("offers-menu");
        background: $bg-color;
        &.collant {
            > ul {
                transform: scale(0.65);
            }
            a {
                text-decoration: none;
                opacity: 0.3;
                transition: transition(
                    (
                        opacity: 0.3s
                    ),
                    $fade-easing
                );
                &.active {
                    opacity: 1;
                    .icon {
                        opacity: 1;
                    }
                }
                .icon {
                    opacity: 0.3;
                    transition: transition(
                        (
                            opacity: 0.3s
                        ),
                        $fade-easing
                    );
                }
            }
        }
        > .container {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            transform-origin: 50% 0;
            transition: transform $transition;
        }
        li {
            &:before {
                content: none;
            }
        }
        a {
            color: $text-color;
            text-decoration: none;
            font-weight: 500;
        }
        .icon {
            display: block;
            width: 50px;
            height: 50px;
            margin: 0 auto 30px;
        }
    }

    .offers {
        padding: 6em 0 0;
    }

    .offers-title {
        margin-left: auto;
        margin-right: auto;
    }

    .offer {
        margin: 10em 0 0;
    }
}

@media (min-width: $desktop-small) {
    .offers-menu {
        font-size: 2.4rem;
        .icon {
            width: 75px;
            height: 75px;
        }
    }

    .offer-cols {
        display: flex;
        margin: 0 $gutter * -1;
        flex-wrap: wrap;
    }
    .offer-col {
        width: 33%;
        padding: 0 $gutter;
    }

    .offer-text,
    .offer-text2 {
        width: calc(50% - #{$gutter/1.66});
    }

    .offer {
        position: relative;
        &-1 {
            img {
                bottom: -15%;
                right: 0;
            }
        }
        &-2 {
            .offer-col {
                &:first-of-type {
                    margin-left: 33%;
                }
            }
            img {
                top: 3%;
                left: 0;
            }
        }
        &-3 {
            img {
                top: 10%;
                right: 12%;
            }
        }
        &-4 {
            img {
                top: 12%;
                left: 22%;
            }
        }
        &-5 {
            .offers-text {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
            }
            .offer-text2 {
                margin: 15.9em 0 0;
            }
            img {
                top: 8%;
                right: 12%;
            }
        }
        &-2,
        &-4 {
            .offer-text,
            .offer-cols {
                margin-left: auto;
            }
        }
        &-4 {
            .offer-text2 {
                margin-left: auto;
            }
        }
        img {
            position: absolute;
        }
        .btn-container {
            margin: 0 $gutter * -1;
        }
        .wrapper-btn {
            width: 100%;
            padding-left: $gutter;
        }
        &.offer-2 {
            .btn-container {
                margin-left: auto;
            }
        }
        &.offer-2,
        &.offer-3 {
            .wrapper-btn {
                width: 100%;
                padding-left: $gutter;
                margin-left: 33%;
            }
        }
        &.offer-4 {
            .btn-container {
                margin: 0;
            }
            .wrapper-btn {
                width: calc(50% - #{$gutter/1.66});
                padding: 0;
                margin-left: auto;
            }
        }
        &.offer-5 {
            .btn-container {
                margin: 0;
            }
            .wrapper-btn {
                width: calc(50% - #{$gutter/1.66});
                padding: 0;
                margin-left: auto;
            }
        }
    }
}

@media (min-width: $desktop) {
    .offers-title {
        width: 75%;
    }

    .offer-cols {
        width: calc(75% + #{$gutter * 2});
    }

    .offer {
        &-1 {
            img {
                bottom: -8%;
                right: 8%;
            }
        }
        &-2 {
            img {
                top: 10%;
                left: 8%;
            }
        }
        .btn-container {
            width: calc(75% + #{$gutter * 2});
        }
        &.offer-1 {
            .wrapper-btn {
                margin-left: 33%;
            }
        }
        &.offer-4,
        &.offer-5 {
            .btn-container {
                width: 100%;
            }
        }
    }
}
