/* References specific style */

.reference-list{
    display: flex;
    justify-content: flex-end;
}

.reference-item{
    width: 25%;
    position: relative;
    margin: 0 0 15px 15px;
    box-shadow: 0 15px 40px 0 rgba(#000, 0.1);
    &:before{
        content: none;
    }
    &:after{
        content: '';
        display: block;
        height: 0;
        padding: 0 0 76%;
    }
    > a{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        justify-content: center;
        align-items: center;
        background: $bg-color;
    }
}
