.single-reference {
    .module {
        margin: 0 0 $line-height * 3;
    }
}

.ref-cover {
    position: relative;
    margin: 0 $gutter * -1;
    > img {
        width: 100%;
    }
}

.ref-info {
    margin: $line-height 0 $line-height * 0.5;
}

.ref-categories {
    display: flex;
    .icons {
        display: flex;
        position: relative;
        &:hover {
            .icon {
                opacity: 0.5;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .icon-wrapper {
        margin: 0 10px 0 0;
        &:last-child {
            margin-right: 0;
        }
    }
    .icon {
        width: 2.8rem;
        height: 2.8rem;
        transition: transition(
            (
                opacity: "#{$fade-duration}s"
            ),
            $fade-easing
        );
        &:hover {
            & + .icon-name {
                opacity: 1;
                transition: transition(
                    (
                        opacity: "#{$fade-duration}s #{$fade-duration - 0.1}s"
                    ),
                    $fade-easing
                );
            }
        }
    }
    .icon-name {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: transition(
            (
                opacity: "#{$fade-duration}s"
            ),
            $fade-easing
        );
    }
}

.ref-logo {
    width: calc(#{$col/2} + #{$gutter});
    padding: $line-height 0;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    background: $bg-color;
    > img {
        max-width: 62%;
    }
}

.ref-title {
    margin: $line-height 0;
}

.ref-similar {
    display: flex;
    justify-content: space-between;
    margin: $line-height * 3 0 0;
    flex-wrap: wrap;
    > .h3 {
        width: 100%;
        margin: 0 0 $line-height;
        text-align: center;
    }
    > a {
        display: flex;
        width: 100%;
        padding: 20px;
        margin: 0 0 20px;
        justify-content: center;
        align-items: center;
        background: $bg-color;
        box-shadow: 0 29px 35px rgba(64, 64, 64, 0.07);
    }
    img {
        max-width: 50%;
    }
}

.ref-share {
    max-width: 490px;
    padding: 30px 42px;
    margin: $line-height * 3 auto 0;
    clear: both;
    background: $primary;
    color: #fff;
    li {
        margin: 0 0 0 7px;
        &:before {
            content: none;
        }
        &:first-child {
            margin: 0;
        }
    }
    a {
        display: flex;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;
        background: $tertiary;
        color: #fff;
        &:hover,
        &:focus {
            background: $quaternary;
        }
    }
}
.ref-share-list {
    display: flex;
    max-width: 150px;
    justify-content: space-between;
    margin: 20px 0 0;
}
.ref-share-title {
    margin: 0;
    font-size: 2.6rem;
    font-weight: 600;
}

@media (min-width: $phone) {
    .ref-info {
        display: flex;
        justify-content: space-between;
    }
    .ref-tags {
        margin-right: $gutter * 0.5;
    }
    .ref-similar {
        > a {
            width: 46%;
        }
    }
    .ref-share {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ref-share-list {
        margin: 0;
    }
}

@media (min-width: $tablet) {
    .ref-share {
        width: 75%;
    }
}

@media (min-width: $desktop-small) {
    .ref-info {
        margin-left: -$gutter;
        margin-right: -$gutter;
        padding: 0 12.5%;
    }
    .ref-tags {
        margin-left: $gutter;
    }
    .ref-categories {
        margin-right: $gutter;
    }
    .ref-title {
        margin-left: $col/2;
    }
    .ref-similar {
        width: calc(#{$col * 3} + #{$gutter});
        > .h3 {
            width: 30%;
            margin: 0;
            text-align: right;
        }
        > a {
            width: 30%;
        }
    }
}

@media (min-width: $desktop) {
    .ref-share {
        width: 50%;
        margin-left: 50%;
        margin-right: 0;
    }
}
