.single-reference {
    .module {
        margin: 0 0 $line-height * 3;
    }
}

.ref-cover{
    position: relative;
    margin: 0 $gutter*-1;
    > img{
        width: 100%;
    }
}

.ref-logo{
    width: calc(#{$col/2} + #{$gutter});
    padding: $line-height 0;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    background: $bg-color;
    > img{
        max-width: 62%;
    }
}

.ref-tags{
    display: flex;
    margin: $line-height 0 0;
    flex-wrap: wrap;
    font-size: 1.6rem;
    > span{
        display: block;
        padding: 1px 10px 2px;
        margin: 0 10px 10px 0;
        font-weight: 400;
        text-decoration: none;
        color: #fff;
        background: $text-color;
    }
}

.ref-title{
    margin: $line-height 0;
}

.ref-similar{
    display: flex;
    justify-content: space-between;
    margin: $line-height*3 0 0;
    flex-wrap: wrap;
    > .h3{
        width: 100%;
        margin: 0 0 $line-height;
        text-align: center;
    }
    > a{
        display: flex;
        width: 100%;
        padding: 20px;
        margin: 0 0 20px;
        justify-content: center;
        align-items: center;
        background: $bg-color;
        box-shadow: 0 29px 35px rgba(64, 64, 64, 0.07);
    }
    img{
        max-width: 50%;
    }
}

.ref-share{
    max-width: 490px;
    padding: 30px 42px;
    margin: $line-height*3 auto 0;
    clear: both;
    background: $primary;
    color: #fff;
    li{
        margin: 0 0 0 7px;
        &:before{
            content: none;
        }
        &:first-child{
            margin: 0;
        }
    }
    a{
        display: flex;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;
        background: $tertiary;
        color: #fff;
        &:hover,
        &:focus {
            background: $quaternary;
        }
    }
}
.ref-share-list{
    display: flex;
    max-width: 150px;
    justify-content: space-between;
    margin: 20px 0 0;
}
.ref-share-title{
    margin: 0;
    font-size: 2.6rem;
    font-weight: 600;
}


@media (min-width: $phone){
    .ref-similar{
        > a{
            width: 46%;
        }
    }

    .ref-share{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ref-share-list{
        margin: 0;
    }
}

@media (min-width: $tablet){
    .ref-share{
        width: 75%;
    }
}

@media (min-width: $desktop-small){
    .ref-tags{
        padding: 0 0 0 $border-size;
        margin-left:  $col/2;
    }

    .ref-title{
        padding: 0 0 0 $border-size/2;
        margin-left: $col/2;
    }

    .ref-similar{
        width: calc(#{$col*3} + #{$gutter});
        > .h3{
            width: 30%;
            margin: 0;
            text-align: right;
        }
        > a{
            width: 30%;
        }
    }
}

@media (min-width: $desktop){
    .ref-share{
        width: 50%;
        margin-left: 50%;
        margin-right: 0;
    }
}
